.about-intro-img img {
  max-width: 1200px;
}

.about-us {
    margin: 100px auto 40px;
    
    @extend .container;
    @include media($mobile-devices) {
        text-align: center;
    }
    .abt-wrap {
        max-width: 620px;
    }
    h2 {
        font-weight: 300;

        color: #4a4a4a;

        @include media($mobile-devices) {
            font-size: rem(26);
        }
    }
    p {
        font-size: 18px;
        font-weight: 300;

        color: #555;

        @include media($mobile-devices) {
            font-size: 16px;
        }
    }
    @media (max-width: 768px) {
      margin-top: 50px;
    }
  .MB20-imp {
    color: #4a4a4a;
  }
  .description { 
    h3 {
      color: #4a4a4a;
    }
    ol {
      li {
        color: #555;
      }
    }
  }
}

.lab-gallery {
    @extend .container;
    h2 {
        font-size: rem(32);
        font-weight: 300;

        color: $medium-gray;
    }
    &.abt {
        .feed-box {
            height: auto;
            margin-bottom: 2.35765%;

            @include media($mobile-devices) {
                @include span-columns(6 of 12);
                // @include omega();
            }

            &:nth-of-type(1) {
                @include span-columns(8);
                @include media($mobile-devices) {
                    @include span-columns(12 of 12);
                }
            }
            &:nth-of-type(2) {
                padding-top: 0;

                @include media(min-width 768px) {
                    @include omega();
                }
            }
            &:nth-of-type(3) {
                @include media($mobile-devices) {
                    @include omega();
                }
            }
        }
    }
}

.about {
  position: relative;
  margin: -45px 0 100px;
  @media (max-width: 980px) {
    margin: -45px 0 0;
  }
  @media (max-width: 768px) {
    margin: 0 0 40px;
  }
  .title-block {
    max-width: 1080px;
    padding-top: 200px;

    &.medium{
      padding-top: 160px;

      @media (max-width: 768px) {
        padding-top: 40px;
      }

    }

    @media (max-width: 1100px) {
      max-width: 80%;
    }
    @media (max-width: 800px) {
      max-width: 90%;
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }
  .container {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  h2.title {
    // @include span-columns(6);
    width: 48.82117%;
    font-family: $rubik;
    font-size: 45px;
    font-weight: 500;
    color: #4a4a4a;
    text-align: left;
    padding: 170px 20px 170px 0;

    
    @include media(max-width 1160px) {
      font-size: 40px;
    }
    @media (max-width: 980px) {
      font-size: 35px;
      padding-top: 135px;
    }	
    @media (max-width: 850px) {
      font-size: 31px;
      padding-top: 123px;
    }	
    @include media(max-width 768px){
      br{
        display: none;
      }
      margin: 0;
      padding: 20px 0 0;
      text-align: center;
      width: 100%;
      font-size: 26px;
    }

    &.medium{
      font-size: 58px;
      font-family: $heading-font-family;
      font-weight: 500;
      color: #4a4a4a;

      @media (max-width: 768px) {
        font-size: 30px;
      }

    }

    @media (max-width: 768px) {
      font-size: 30px;
    }

    .bg-color {
      &:before {
        position: absolute;
        top: 25px !important;
        left: 0;
        width: 100%;
        height: 37px !important;
        opacity: 0.4;
        background-color: #16c6c2;
        content: '';

        @media (max-width: 500px) {
          top: 18px !important;
          height: 24px !important;
        }
      }
    }
  }
  .images{
    .image{
      position: absolute;
      height: 635px;
      width: 50%;
      top: 0;
      right: 0;
      text-align: right;
      z-index: -1;
      	
      @media (max-width: 1440px) {
        height: 570px;
        max-width: 922px;
        width: 100%;
      }
      @media (max-width: 1160px) {
        width: 75%;
      }
      @media (max-width: 980px) {
        height: 500px;
      }
      @media (max-width: 850px) {
        height: 435px;
      }			
      @media (max-width: 768px) {
        position: relative;
        width: 100%;
        height: auto;
      }		
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  &.about-collaboration {
    position: relative;
    margin:0 0 120px;
    .container {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }
    .images{
      .image{
        position: absolute;
        height: 513px;
        width: 50%;
        top: 0;
        left: 0;
        text-align: right;
        @media (max-width: 1160px) {
          height: 480px;
        }
        @media (max-width: 980px) {
          height: 440px;
        }
        @media (max-width: 768px) {
          position: relative;
          width: 100%;
          height: auto;
        }						
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .content-wrap {
      padding-left: 55.17%;
      h3.title {
        width: 100%;
        font-size: 36px;
        padding: 80px 0 30px;
        margin-bottom: 0;
        @media (max-width: 1160px) {
          font-size: 31px;
        }	
        @media (max-width: 980px) {
          font-size: 27px;
          padding-top: 50px;
        }	
      }
      p.desc {
        font-family: $base-font-family;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.44;
        letter-spacing: 0.1px;
        text-align: left;
        color: #555555;
        padding-bottom:25px;
        margin: 0;
        &:last-child {
          padding: 0;
        }
        @media (max-width: 1160px) {
          font-size: 15px;
        }
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
      @media (max-width: 768px) {
        padding: 0;
      }	
    }
    @media (max-width: 980px) {
      margin:0 0 50px;
    }
  }
  &.team-section {
    margin: 0 0 100px;
    h2.title {
      padding: 0 0 70px;
      @media (max-width: 980px) {
        padding: 0 0 40px;
      }
    }
    .images {
      img {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      margin: 0 0 50px;
    }
  }
  // &.get-in-touch-form-section {
  //   .sub-heading {
  //     font-family: $rubik;
  //     text-transform: uppercase;
  //     font-size: 20px;
  //     height:24px;
  //     line-height: 24px;
  //     letter-spacing: 2px;
  //     color: #4a4a4a;
  //     span {
  //        svg {
  //         width: 32px;
  //         height: 22px;
  //       }
  //     }
  //     @media (max-width: 980px) {
  //       font-size: 18px;
  //     }
  //     @media (max-width: 768px) {
  //       text-align: center
  //     }
  //   }
  // }
  .column-wrap {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

  @media (max-width: 1100px) {
    max-width: 80%;
  }
  @media (max-width: 800px) {
    max-width: 90%;
  }
  @media (max-width: 700px) {
    margin-top: 60px;
  }

    .column {
      width: 46%;
      margin-bottom: 80px;
      position: relative;

      svg {
        display: block;
        margin-left: 20px;
        margin-bottom: 30px;
      }

      h3 {
        font-family: $heading-font-family;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #4a4a4a;
        margin-bottom: 20px;

        @media (max-width: 768px) {
          font-size: 22px;
        }

      }

      p {
        font-family: $base-font-family;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.52;
        letter-spacing: normal;
        text-align: left;
        color: #555555;
        margin-top: 10px;

        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      &:nth-child(odd) {
        top: -80px;
        margin-right: 80px;

        @media (max-width: 1100px) {
          margin-right: 50px;
        }
        @media (max-width: 700px) {
          top:0;
          margin-right: 0;
        }
      }

      @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }

  .picture-gallery-wrap {
    position: relative;
    margin-bottom: 160px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 77px;

    @media (max-width: 768px) {
      margin-bottom: 100px;
    }

    .picture-gallery-quote {
      max-width: 720px;
      width: 100%;
      padding: 145px 60px 145px 185px;
      background-color: #16c6c2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      span {
        font-family: $heading-font-family;
        font-size: 58px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.8;
        letter-spacing: normal;
        text-transform: lowercase;
        text-align: left;
        color: #ffffff;
        margin-bottom: 40px;
        position: relative;
        top: -20px;

        @media (max-width: 768px) {
          font-size: 65px;
          top: 0;
        }

        @media (max-width: 500px) {
          font-size: 50px;
        }

        @media (max-width: 480px) {
          top: 0;
        }
      }

      @media (max-width: 800px) {
        padding: 105px 80px 105px 145px;
      }

      @media (max-width: 768px) {
        position: relative;
        padding: 60px 60px;
      }

      @media (max-width: 480px) {
        padding: 40px;
      }
    }

    .picture-gallery {
      max-width: 1070px;
      margin: 0 auto;
      position: relative;
      padding-top: 300px;

      @media (max-width: 1100px) {
        max-width: 80%;
      }
      @media (max-width: 800px) {
        max-width: 90%;
      }

      @media (max-width: 768px) {
        padding-top: 100px;
      }

      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        height: 360px;

        @media (max-width: 768px) {
          width: 100%;
          display: inline-block;
          height: 100%;
          margin-bottom: 0;
        }

        img {
          // display: table-cell;
          -o-object-fit: cover;
             object-fit: cover;
          // float: left;

          @media (max-width: 768px) {
            margin-bottom: 20px;
          }
        }

        &.row-in-two {
          //display: flex;
          img {
            &:first-child {
              width: 64%;

              @media (max-width: 600px) {
                width: 100%;
              }
            }
            &:last-child {
              width: 35.5%;

              @media (max-width: 600px) {
                width: 100%;
              }
            }
          }
        }
        &.row-in-two-reverse {
          //display: flex;
          img {
            &:first-child {
              width: 38.5%;

              @media (max-width: 600px) {
                width: 100%;
              }
            }
            &:last-child {
              width: 61.5%;

              @media (max-width: 600px) {
                width: 100%;
              }
            }
          }
        }

        &.row-in-one {
          img {
            width: 100%;
          }
        }

        .mr-20 {
          padding-right: 20px;

          @media (max-width: 600px) {
            padding-right: 0px;
          }
        }

        &.row-thirds {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 740px;

          @media (max-width: 1100px) {
            height: 514px;
          }
          @media (max-width: 768px) {
            height: 100%;
            display: inline-block;
          }

          img {
            margin-bottom: 20px;
            padding-right: 0px;

            @media (max-width: 768px) {
              width: 100%;
            }
          }
          .row-in-thirds-col {
            width: 64%;

            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.fullwidth.about {
  img {
    width: 100%;
  }
}
