.careers-title {
    max-width: 660px;

    @include media($mobile-devices) {
        max-width: 620px;
    }
    h1 {
        font-size: rem(42);
        font-weight: 300;

        color: #555;

        @include media($mobile-devices) {
            font-size: rem(32);
        }
        .helper {
            display: block;
            margin-top: 10px;

            font-size: rem(13);
            font-weight: 300;

            color: #999;
        }
    }
    .btn {
        display: inline;
        float: right;
        width: 120px;
        height: 38px;
        padding-top: 0;
        padding-bottom: 0;

        font-size: rem(15);
        font-weight: 400;
        line-height: 35px;

        text-align: center;

        @include media($mobile-devices) {
            display: block;
            float: none;
            margin: 20px 0;
        }

        svg {
            width: 14px;
            height: 10px;
        }
    }
    h2 {
        font-size: rem(24);
        font-weight: 300;

        color: $medium-gray;
    }
    .list {
        padding-left: 22px;
        margin-bottom: 30px;
        margin-left: 10px;

        list-style-type: decimal;
        li {
            font-size: rem(18);
            font-weight: 300;

            color: $medium-gray;
        }
    }
    .apply-form {
        // @include span-columns(6);
        max-width: 300px;

        // @include media($mobile-devices) {
        //     @include span-columns(12 of 12);
        // }
        .group {
            &.last {
                margin-bottom: 10px;
                input:focus ~ label {
                    color: #5c5c5c;
                }
                label {
                    margin-bottom: 0;
                }
                .attach-msg {
                    margin-top: -20px;
                }
            }
            label {
                top: 40px;
                left: 0;

                font-size: rem(18);
                font-weight: 300;
                line-height: 14px;

                color: rgba(92,92,92,.4);
            }
            input[type="text"],
            textarea {
                padding-bottom: 5px;
                padding-left: 0;

                font-size: rem(18);
                font-weight: 300;
                line-height: 24px;

                color: rgb(92,92,92);

                @include placeholder {
                    font-size: rem(18);
                    font-weight: 300;

                    color: $medium-gray;
                }

                &:focus ~ label {
                    top: 0;

                    font-size: rem(10);

                    color: $blue;
                }
                &.not-empty ~ label {
                    top: 0;

                    font-size: rem(10);

                    color: rgba(92,92,92,.5);
                }
            }
            input[type="file"] {
                position: absolute;
                top: 18px;

                width: 116px;
                height: 25px;
                padding: 22px;
                margin-bottom: 0;

                cursor: pointer;

                opacity: 0;
            }
            .fileupload {
                position: static;

                width: 115px;
                height: 30px;
                margin-bottom: 10px;

                font-size: rem(14);
                font-weight: 300;
                line-height: 30px;

                text-align: center;

                color: $medium-gray;
                border-radius: 4px;
                background-color: #ddd;
            }
            .filename {
                position: absolute;
                top: 26px;
                left: 140px;

                width: 100%;
                height: auto;
                max-width: 180px;
                margin-bottom: 20px;

                font-size: rem(12);
                font-weight: 300;

                color: #777;
            }

            .message {
                margin-bottom: 0;

                font-size: 14px;

                color: #db4344;
            }
        }
        .btn {
            display: block;
            float: none;
        }
    }
}
