body {
  overflow-x: hidden;
}

.main-content{
  overflow-x: hidden;
  padding-top: 76px;
}

video::-webkit-media-controls {
  display: none;
}

.lb-number{
  display: none!important;
}

.text-outline{
  --color: 1;
  --stroke-width: 2px;
  color: rgb(255,255,255); 
  // -webkit-text-stroke: var(--stroke-width) #4a4a4a;       
  text-shadow:
  0 0 1px #4a4a4a,
  -1px -1px 0 #4a4a4a,  
  1px -1px 0 #4a4a4a,
  -1px 1px 0 #4a4a4a,
  1px 1px 0 #4a4a4a; 
  -webkit-font-smoothing: antialiased; 
}

.title-block{

  @include media(max-width 992px){
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
  }
  @include media(max-width 768px){
    padding-right: 20px;
    padding-left: 20px;
  }
  margin: 0 auto;
  padding-top: 176px;
  max-width: 800px;
  text-align: left;

  .title{

    @include media(max-width 1440px){
      font-size: 3rem;
    }
    @include media(max-width 992px){
      padding-right: 0;
      font-size: 2rem;
    }
    @include media(max-width 768px){
      font-size: 1.5rem;
    }
    padding-right: 22px;
    font-weight: 600;
    font-size: 56px;
    font-size: rem(56px);
    font-family: $heading-font-family;
    line-height: 1.29;

    span.bg-color{
      position: relative;
      display: inline-block;
      padding: 0 15px;

      &.mr{
        padding-left: 0;
        padding-right: 0;

        &.bg-color:before{
          left: 19px;
          width: 85%;
          background-color: #45d2cf;
        }
      }

      & > span{
        position: relative;
        z-index: 2;
      }

      &.bg-color:before{
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 48px;
        opacity: 0.4;
        background-color: #16c6c2;
        content: '';

        @include media(max-width 768px){
          top: -2px;
        }
      }
    }

    span.underline{
      position: relative;
      display: inline-block;
      padding: 0 5px;
      color: #646e74;

      &:before{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        opacity: 0.4;
        background-color: #16c6c2;
        content: '';
        @include transform(translateY(-50%));

      }
    }
  }

  .description{

    @include media(max-width 1440px){
      padding-right: 0;
      font-size: 1.2rem;
    }
    @include media(max-width 992px){
      padding-right: 0;
      font-size: 1.3rem;
    }
    @include media(max-width 768px){
      padding-right: 0;
      font-size: 1.2rem;
    }
    padding-top: 12px;
    color: #3f3f3f;
    font-size: 24px;
    font-size: rem(24px);
    line-height: 1.5;
    font-weight: normal;
  }

  .filter-links{

    @include media(max-width 992px){
      padding-top: 100px;
    }
    display: inline-block;
    padding-top: 100px;
    color: #16c6c2;
    font-size: 20px;
    font-size: rem(20px);
    font-family: $secondary-font-family;

    a{
      position: relative;
      margin-right: 60px;
      padding: 0 7px 5px;
      color: rgba(85, 85, 85, 0.3);

      @include media(max-width 768px){
        margin-right: 20px;
      }

      &:before,&:after{
        @include transition(all 0.2s ease);
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background: #243f53;
        content: "";
      }

      &:before{
        left: 50%;
      }
      &:after{
        right: 50%;
      }

      &:hover{
        color: #16c6c2;
      }

      &.active{
        color: #16c6c2;

        &:before,&:after{
          width: 50%;
        }
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.cta-button{
  color: #fff;
  text-align: left;
  a {
    width: 178px;
    line-height: 48px;
    border-radius: 4px;
    border: solid 1px #16c6c2;
    font-family: $heading-font-family;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #16c6c2;
  }
}

.fade-in {
	opacity: 1;
	-webkit-animation-name: fadeInOpacity;
	        animation-name: fadeInOpacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 0.8s;
	        animation-duration: 0.8s;
}

@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes slideDownRepeat {
	0% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
	}
	25% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
	}
  50% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
	}
	100% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
	}
}

@keyframes slideDownRepeat {
	0% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
	}
	25% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
	}
  50% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
	}
	100% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
	}
}


/* Effects */
.overlay-up {
	visibility: hidden;
  -webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	-webkit-transition: visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
	transition: visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
}

.overlay-up.open {
	visibility: visible;
  -webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 1;
}

/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes wobble {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@include media(min-width 1441px){
  .screens .owl-carousel{
    width: 1200px;
    margin: 0 auto;
  }
}

.lb-dataContainer{
  position: absolute;

  .lb-close{
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 9999999999;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #16c6c2;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  display: none;
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
