.contact{

  .contact-section {

    .get-in-touch-wrapper{
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;

      @include clearfix;

      @media (max-width: 800px) {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }

      .get-in-touch-block{
        @include span-columns(6);

        @media (max-width: 800px) {
          @include span-columns(12);

          &:last-child{
            margin-top: 60px;
          }
        }

        .title{
          font-family: 'Franchise-Bold';
          font-size: 58px;
          color: #4a4a4a;
          margin-bottom: 20px;


          @media (max-width: 768px) {
            font-size: 30px;
          }


        }       

        ul{
          text-align: left;
          font-size: 23px;

          @media (max-width: 767px) {
            font-size: 20px;
          }

          li{
            margin-bottom: 10px;

            span{
              &.bold{
                font-weight: 900;
              }
            }
          }
        }

        .desc{
          ul{
            margin-top: 20px;
            padding-left: 20px;

            li{
              list-style: disc;
              font-size: 20px;
            }
          }
        }
      }
    }

    .section-block{
      max-width: 760px;

      @media (max-width: 800px) {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .test-button {
      color: #fff;
      text-transform: uppercase;
      background-color: #16c6c2;
      width: 180px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      opacity: 0.5;
      border-radius: 0 2px 2px 0;
      transition: all 0.4s ease-in-out;

      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        left: 0;
        width: 10%;
        height: 52px;
        background-color: #16c6c2;
        transition: all 0.4s ease-in-out;
      }
    }

    .test-button:hover {
      opacity: 1;
      cursor: pointer;
      border-radius: 2px;

      &:before {
        left: 10%;
        border-radius: 2px 0 0 2px;
      }
    }
  }

  .hubspot-section{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;

    @media(max-width: 700px) {
      width: 100%;
      padding: 0 25px;
    }

    .title{
      font-family: 'Franchise-Bold';
      font-size: 80px;
      color: #333333;
      padding-top: 200px;
      text-transform: lowercase;
      margin-bottom: 20px;
      line-height: 0.85;
      padding-bottom: 20px;
      width: 100%;

      @media (max-width: 800px) {
        font-size: 60px;
        padding-top: 40px;
      }

    }

    p {
      font-size: rem(20);
      font-weight: 400;
      text-align: left;
      line-height: 1.5;

      color: $medium-gray;

      @include media($mobile-devices) {
          font-size: rem(18);
      }
    } 

    @media (max-width: 800px) {
      max-width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }

  }

}
