// footer style
.footer {
    @include outer-container(100%);

    padding: 35px 15px;
    max-height: 200px;
    background-color: rgba(216,216,216,.1);
    text-align: center;

;
    p {
        @include media($mobile-devices) {
            font-size: rem(16);
        }

        margin-bottom: 40px;
        color: rgba(85,85,85,.7);
        font-weight: 300;
        font-size: rem(18);
        font-family: $base-font-family
    }
    .socials {
        a {
            display: inline-block;
            margin-right: 10px;
            width: 20px;
            height: 20px;

            // color: #fff;
            // background-color: $blue;
        }
    }
    &.new {
        padding-bottom: 20px;
        max-height: none;
        background-color: #fafafa;

        .col {
            @include media($mobile-devices) {
                @include span-columns(12);
            }
            @include omega(3);
            @include span-columns(4);

            margin-bottom: 60px;

            svg {
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                width: 40px;
                height: 40px;
                color: #243f53;
            }
            .title {
                margin-bottom: 10px;
                color: #777;
                font-weight: 300;
                font-size: rem(12);
            }
            .link {
                margin: 0;
                color: #777;
                font-weight: 600;
                font-size: rem(18);
            }
            a.link {
                &:hover,
                &:focus {
                    color: #16c6c2;
                }
            }
        }
        .bottom-most {
            @include span-columns(12);

            margin-bottom: 0;
            color: #999;
            font-weight: 300;
            font-size: rem(12);
        }
    }
}

// New footer style
.new-footer {
    @include media(max-width 768px) {
        padding: 20px;
    }

    // min-height: 330px;
    padding: 30px;
    background-color: #243f53;

    .content {
        @include outer-container(650px);

        margin-bottom: 30px;
        border-bottom: 1px solid rgba(255,255,255,.1);

        .col {
            @include span-columns(12);

            text-align: center;

            &.half {
                @include span-columns(6);
                @include media(max-width 480px) {
                    width: 100%;
                }

                text-align: center;

                & {
                    @include media(max-width 768px) {
                        margin-bottom: 40px;
                    }
                    @include omega();

                    margin-bottom: 60px;
                }
                .info {
                    @include media(max-width 768px) {
                        text-align: center;
                    }

                    margin: 0 auto;
                    max-width: 275px;
                    text-align: left;

                    svg {
                        @include media(max-width 480px) {
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 10px;
                        }
                        @include media(max-width 768px) {
                            margin-bottom: 10px;
                            width: 26px;
                            height: 26px;
                        }

                        display: inline-block;
                        margin-right: 10px;
                        width: 36px;
                        height: 36px;
                        color: #fff;
                        vertical-align: middle
                    }
                    .wrap {
                        display: inline-block;
                        vertical-align: middle;

                        p {
                            @include media(max-width 768px) {
                                font-size: rem(12);
                            }

                            margin-bottom: 0;
                            color: #fff;
                            font-size: rem(14);
                            font-weight:400;
                        }
                        a {
                            @include media(max-width 768px) {
                                font-size: rem(12);
                            }

                            margin-bottom: 0;
                            color: #fff;
                            text-decoration: none;
                            font-weight: 500;
                            font-size: rem(18);

                            &:hover {
                                color: #16c6c2;
                            }
                        }

                        // &.phn {
                        //     a {
                        //         color: #fff;
                        //     }
                        // }
                    }
                }
            }
            h3 {
                @include media(max-width 768px) {
                    font-size: rem(16);
                }

                margin-bottom: 10px;
                color: rgba(255,255,255,1);
                font-weight: 400;
                font-size: rem(18);
                font-family: $base-font-family
            }
            a {
                margin-bottom: 30px;
                color: rgba(255,255,255,.5);
                text-decoration: underline;
                font-weight: 400;
                font-size: rem(12);

                &.direction {
                    svg {
                        width: 12px;
                        height: 12px;
                        color: rgba(255,255,255,.5);
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .socials {
        @include outer-container(650px);

        text-align: center;

        span {
            @include transition(all .3s ease-in-out);
            @include media(max-width 768px) {
                margin-right: 10px;
            }

            display: inline-block;
            margin-right: 20px;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            text-align: center;
            line-height: 32px;

            &.dribbble-icon {
                &:hover svg {
                    color: #c73b6f;
                }
            }
            &:hover {
                background-color: #fff;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);

                .fb {
                    color: #3b5998;
                }
                .tw {
                    color: #55acee;
                }
                .lin {
                    color: #007bb5;
                }
                .dbbb {
                    color: #fff;

                    .path1 {
                        color: #c73b6f !important;
                    }
                }
                .insta {
                    color: #3f729b;
                }
                .medium {
                    color: #a6a8ab;
                }
            }
            svg {
                max-height: 16px;
                width: 16px;
                color: #fff;
                vertical-align: middle;
            }
        }
    }
}
