.main-form {
    display: none;

    // &.back {
    //     .inner-box {
    //         display: block;
    //         width: 0;
    //         height: 100%;
    //         @extend .stretchBack;
    //         @include transform(skew(-25deg));
    //         @include transition-duration(.5s);
    //     }
    // }
    // @include media($mobile-devices) {
    //     background-color: #fff;
    //     .inner-box {
    //         @include pad(0);
    //         @include transform(skew(0deg));
    //     }
    // }
    &.openForm-model {
        // margin-top: 70px;
        @include position(fixed, 0 0 0 0 );
        @include outer-container(100%);
        @include media($mobile-devices) {
            @include pad(0);
        }

        z-index: 99999;
        display: block;
        overflow-y: scroll;
        padding: 0 15px;
        height: 100vh;
        background: linear-gradient(118deg, rgba(#4a738b,0.9), rgba(#16c6c2,0.7));

        .close-form {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 9;
            width: 20px;
            height: 20px;
            color: #777;
            cursor: pointer;

            // transform: translate(-12%, -21%);
        }
        .inner-box {
            @include media(max-width 1024px){
                top: 7%;
                left: 12%;
                width: 75%;
                height: 650px;
            }
            @include media(max-width 830px){
                left: 5%;
                width: 90%;
                height: 650px;
            }
            @include media(max-width 680px){
                top: 0%;
                left: 0%;
                width: 100%;
                height: 125%;
            }

            position: absolute;
            top: 10%;
            left: 20%;
            display: block;
            padding: 30px;
            width: 60%;
            height: 670px;
            background-color: #fff;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
            text-align: left;

            &:nth-of-type(1){
                z-index: 2;
            }
            .wrap {
                h4 {
                    color: #243f53;
                    font-weight: normal;
                    font-size: 30px;
                    font-family: $base-font-family;
                    line-height: 1.33;
                }
                p {
                    color: $medium-gray;
                    font-weight: 300;
                    font-size: rem(15);
                }
                .attachments {
                    input {
                        display: inline-block;
                        width: auto;
                    }
                    a {
                        margin-right: 10px;
                    }
                }
                .group {
                    // max-width: 60%;
                    @include media(max-width 480px){
                        padding-top: 2px;
                    }

                    label {
                        display: none;
                    }
                }
                .checkgroup {
                    label {
                        margin-right: 60px;
                        cursor: pointer;

                        .box {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border: solid 1px #979797;
                            background-color: #fafafa;
                            text-align: center;

                            svg {
                                visibility: hidden;
                                margin-top: 2px;
                                width: 19.6px;
                                height: 12.5px;

                            }
                        }
                    }
                    input[type="checkbox"] {
                        display: none;
                    }
                    input[type="checkbox"]:checked + label {
                        .box {
                            svg {
                                visibility: visible;
                            }
                        }


                    }
                    .name{
                        margin-left: 12px;
                        color: #777777;
                        font-weight: 300;
                        font-size: 16px;
                        font-family: $base-font-family;
                    }
                }
                .options{
                    @include media(max-width 1024px){
                        margin-top: 7px;
                        margin-left: 248px;
                    }
                    @include media(max-width 602px){
                        position: relative;
                        margin-left: 32px;
                    }

                    position: absolute;
                    // visibility: hidden;
                    display: none;
                    // border-top: 1px solid #ccc;
                    margin-top:10px;
                    margin-left: 192px;

                    label{
                        margin-right: 40px;
                        text-align: left;

                        .box2{
                            float: left;
                            // display: table-cell;
                            width: 68px;
                            height: 82px;
                            background-color: #fafafa;
                            cursor: pointer;

                            .icon-checkmark{
                                //  position: absolute;
                                position: relative;
                                top: -68px;
                                left: 41px;
                                visibility: hidden;
                                width: 10px;
                                height: 10px;
                                background: #C0EAC9;
                            }
                            svg{
                                margin: 12px 12px 0px 16px;
                                width: 33px;
                                height: 36px;
                            }
                            .small-name{
                                position: absolute;
                                top: 60px;
                                color: #999999;
                                font-weight: 200;
                                font-size: 12px;
                                font-family: $base-font-family;
                            }
                        }
                    }
                    input[type="checkbox"] {
                        display: none;
                    }
                    input[type="checkbox"]:checked + label {
                        .box2 {
                            border: solid 1px #3ba53a;

                            .icon-checkmark {
                                visibility: visible;
                            }
                        }
                    }

                }
                .group{
                    .icon-add-link{
                        @include media(max-width 480px){
                            top:50px;
                        }

                        position: absolute;
                        top: 66px;
                        left: 15px;
                        width: 14px;
                        height: 14px
                    }
                }
                .MT-40{
                    margin-top: 40px;
                }
                .second-form-grp{
                    @include span-columns(12);
                    @include media(min-width 768px){
                        @include span-columns(6);

                        &:nth-of-type(2n){
                            margin-right: 0;
                        }
                    }
                }
                .row{
                    // @include span-columns(12);
                    // @include media(min-width 768px){
                    //     @include span-columns(6);
                    // }
                    .input-group{
                        // @include span-columns(5.9);
                        // @include media(max-width 1330px){
                        //     @include span-columns(6);
                        // }
                        // @include media(max-width 480px){
                        //     @include span-columns(12);
                        // }
                        margin-right: 30px;
                        text-indent: 10px;

                        input{
                            min-height: 50px;
                        }
                    }
                }
                .send{
                    float: none;
                    margin: 0 auto;
                    margin-top: 50%;
                    text-indent: 0;

                    // max-width: 33%;
                    .skewed{
                        margin-left: 7px;
                        width: 190px;

                        span{
                            // margin-left: -25px;
                        }
                    }
                }
                p.message{
                    color:#5c5c5c;
                    font-size: 11px;
                }
            }
            .checkgroup{
                margin-top: 45px;
            }
            .input{
                margin-top: 30px;
                min-height: 50px;
                text-indent: 38px;
            }
            .note{
                margin-bottom: 30px;
                color: #999999;
                font-weight: 300;
                font-weight: normal;
                font-size: 12px;
            }
            .action {
                @include clearfix;

                display: block;
                margin: 0 auto;
                max-width: 250px;

                .btn {
                    margin-top: 20px;
                    width: 260px;
                    height: 48px;
                    //  background-color: #16c6c2;
                    background: transparent;
                    font-size: rem(15);
                    line-height: 18px;
                    cursor: pointer;

                    svg {
                        margin-left: 42px;
                        width: 43px;
                        height: 12px;
                        color: rgba(255,255,255,.8);
                    }
                    &:focus,
                    &:hover {
                        outline: none;

                        svg {
                            color: #fff;
                        }
                    }
                    &.back {
                        float: left;
                        border: 1px solid $blue;
                        border-radius: 5px;
                        background-color: #fff;
                        color: $blue;

                        svg {
                            margin-right: 10px;
                            margin-left: 0;
                            color: $blue;
                        }
                    }
                    &.next,
                    &.skip {
                        float: right;
                    }
                    &.close-form {
                        position: static;
                        color: #fff;
                        .skewed{
                            margin-left: 5px;
                            span{
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
            &:last-child {
                .action {
                    .btn {
                        float: none;
                        margin: 0 auto;
                    }
                }
            }
            // MoveLeft .wrap
            .move-left {
                left: 200%;
                opacity: 0 !important;
            }
            .move-right {
                left: -200%;
                // right: 0;
                opacity: 0 !important;
            }
            .thankyou{
                margin: 0 auto;
                margin-top: 220px;
                max-width: 85%;
                text-align: center;

                .send{
                    margin-top: 60px;
                }
            }
        }
    }
}

#firstForm{
    z-index: 3;

    // height: 623px;
    //   top: calc(10% + 22px);

}

#secondForm{
    @include calc(left, "20% + 12px");
    @include calc(top, "10% + 10px");
    @include media(max-width 1024px){
        @include calc(left, "12% + 12px");
        @include calc(top, "7% + 12px");
    }
    @include media(max-width 830px){
        @include calc(left, "5% + 12px");
    }
    @include media(max-width 680px){
        top: 0%;
        left: 0%;
    }

    z-index: 2;
    height: 650px
}

#thirdForm{
    @include calc(left, "20% + 12px");
    @include calc(top, "10% + 10px");
    @include media(max-width 1024px){
        @include calc(left, "12% + 12px");
        @include calc(top, "7% - 12px");
    }
    @include media(max-width 830px){
        @include calc(left, "5% + 12px");
    }
    @include media(max-width 680px){
        top: 0%;
        left: 0%;
    }

    z-index: 1;
    height: 650px
}


.show{
    display: block;
}

.show2{
    display: flex;
}

textarea{
    margin-bottom: 5px;
    text-indent: 7px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555555;
    font-size: 16px;
    opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #555555;
    font-size: 16px;
    opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #555555;
    font-size: 16px;
    opacity: 0.3;
}
:-moz-placeholder { /* Firefox 18- */
    color: #555555;
    font-size: 16px;
    opacity: 0.3;
}

.skewed-inverse{
    svg{
        margin-left: 22px;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        transform: skew(25deg);
    }
}

.light{
    color: #999999;
    font-weight: 200;
    font-size: 12px;

}

// .more-options{
//   position: relative;
// border-bottom: 0;
// border-left: 0;
// background-color: #fff;
// box-shadow: inset -0.5px 0 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 #e07b71;
// color: #e07b71;
//
//     &:before {
//       @include transform(translateX(-50%));
//
//       position: absolute;
//       left: 50%;
//       display: block;
//       width: 6px;
//       height: 6px;
//       background-color: #ccc;
//       content: " ";
//
//       & {
//         @include transform(rotate(45deg));
//       }
//   }
// }
