// Header style
.top-navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;

    padding: 16px 0;

    @extend .container;
    @include media($mobile-devices) {
        padding: 16px;
    }
    .logo {
        float: left;
        max-width: 80px;
        a {
            img,
            svg {
                width: 78px;
                height: auto;
                height: 30px;
                max-width: 100%;
            }
            &.white {
                svg {
                    color: #fff;
                }
            }
        }
    }
    .nav-right {
        float: right;
        margin: 6px 0;
        li {
            float: left;
            margin-right: 10px;
            &:nth-child(1) {
                margin-right: 50px;
            }
            a {
                padding-bottom: 3px;

                font-family: $base-font-family;
                font-size: $base-font-size;
                font-size: rem(16);
                font-weight: 400;

                color: #fff;
            }
        }
    }
    &.new-nav {
        position: relative;

        margin-bottom: 30px;

        // border-bottom: $base-border;
        .nav-right {
            li {
                a {
                    color: rgba(36,63,83,.5);
                    &:active,
                    &:focus,
                    &:visited {
                        color: $dark-gray;
                        border-bottom: 1px solid $dark-gray;
                        outline: none;
                    }
                }
            }
        }
    }
    &.hj-web {
        .nav-right {
            li {
                a {
                    color: $medium-gray;
                }
            }
        }
    }
    &.trans-bg {
        height: 50px;
        padding: 0;

        line-height: 50px;

        background-color: rgba(0,0,0,.5);

        @include outer-container(100%);
        .wrap {
            @extend .container;
            .logo {
                margin: 8px 0;
            }
            .nav-right {
                margin: 0;
            }
        }
    }
}
