// Hero banner
.master-banner {
    position: relative;
    // top: -50px;

    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 75px;
    margin-bottom: 30px;
    overflow: hidden;

    background-color: $blue;

    @include outer-container(100%);
    // @media only screen and (max-width: 768px) and (orientation: landscape) {
    //     height: 100vh auto;
    // }
    &:before {
        display: block;
        visibility: hidden;
        height: 75px;
        margin-top: -75px;

        content: " ";
    }
    #scene {
        width: 150%;
        height: 150%;
        margin: 0 auto;

        @include position(absolute, 0 0 0 0);
        .layer {
            position: static !important;
            left: 50%;

            display: inline-block !important;
            margin: 40px;

            color: rgba(255,255,255,.4);
            img,
            svg {
                width: 36px;
                height: 36px;

                color: rgba(255, 255, 255, .2);
                // padding: 20px;
            }
            // &:nth-child(odd) {
            //     display: none;
            //     visibility: hidden;
            // }
        }
        // @for $i from 1 through 140 {
        //     .layer:nth-of-type(#{$i}) {



























































































        //         position: static !important;
        //         // float: left;
        //         // top: 50%;
        //         // left: 0 + 100px * $i !important;
        //         left: 50%;

        //         display: inline-block !important;
        //         margin: 40px;

        //         color: rgba(255,255,255,.4);
        //     }
        // }
    }
    .banner-content {
        position: absolute;
        right: 0;
        bottom: 50px;
        left: 0;

        max-height: 400px;
        // padding: 0 15px;

        @extend .container;
        .open-form {
            z-index: 2;

            padding-left: 36px;
            span {
                z-index: 1;
            }
        }
        h1 {
            font-family: $base-font-family;
            font-weight: 600;

            color: #fff;
        }
    }
}

.introduction {
    @extend .container;
    p {
        // max-width: 620px;
        font-family: $base-font-family;
        font-size: rem(20);
        font-weight: 300;

        color: $medium-gray;

        @include media($mobile-devices) {
            @include span-columns(12 of 12);
        }
        @include omega(1n);
        @include span-columns(7);
    }
}

.our-clients {
    text-align: center;

    @extend .container;
    .icon-box {
        height: 130px;

        line-height: 60px;

        @include media($mobile-devices) {
            @include omega(2n);
            @include span-columns(6 of 12);
        }
        @include span-columns(3);
        @include omega(4n);
        @include pad(40px 0);
    }
}

.portfolio {
    @extend .container;
    .projects {
        margin-bottom: 100px;

        text-align: center;

        @include media($mobile-devices) {
            margin-bottom: 70px;
        }

        .title {
            margin-bottom: 20px;

            font-family: $base-font-family;
            font-size: rem(32);
            font-weight: 300;

            color: $medium-gray;

            @include media($mobile-devices) {
                font-size: rem(28);
            }
        }
        .btn {
            max-width: 200px;
            margin: 0 auto;
            margin-bottom: 50px;

            font-size: rem(18);

            color: $blue;
            border-color: $blue;
            background-color: #fff;

            @include media($mobile-devices) {
                max-width: 160px;

                font-size: rem(16);
            }
            &.disabled {
                cursor: default;

                color: rgba(92,92,92,.5);
                border-color: rgba(92,92,92,.6);
            }
        }
        .img-container {
            position: relative;

            max-width: 940px;
            margin: 0 auto;
            margin-bottom: 40px;
            overflow: hidden;

            border: 1px solid #ccc;
            border-top: none;
            border-radius: 7px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            &.vertical-img {
                border: none;
            }
            .img-wrap {
                max-width: 940px;
                max-height: 560px;
                // padding-top: 29px;
                overflow: hidden;
                // overflow-y: scroll;

                @include media($mobile-devices) {
                    max-height: 400px;
                }
                a {
                    img {
                        margin-top: 29px;
                    }
                }
                &.no-scroll {
                    position: relative;

                    overflow: hidden;
                    &:after {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 3;

                        display: block;
                        height: 3px;

                        content: " ";

                        background-color: #fff;
                        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fff), color-stop(50%, #777), color-stop(100%, #fff));
                        background-image:    -moz-linear-gradient(left, #fff 18%, #777 50%, #fff 820%);
                        background-image: -webkit-linear-gradient(left, #fff 18%, #777 50%, #fff 82%);
                        background-image:         linear-gradient(to right, #fff 18%, #777 50%, #fff 82%);
                        background-size: 100%;

                        *zoom: 1;
                        // @extend .divider;
                        -webkit-filter: blur(1px);
                           -moz-filter: blur(1px);
                            -ms-filter: blur(1px);
                             -o-filter: blur(1px);
                                filter: progid:dximagetransform.Microsoft.gradient(gradientType=1, startColorstr="#FFFFFFFF", endColorstr="#FFFFFFFF");
                                filter: blur(1px);
                    }
                }
            }
        }
        .testimonials {
            position: relative;
            // padding: .5em 30px .5em 30px;

            font-size: 3.4em;
            line-height: normal;
            // font-style: italic;
            &::before {
                position: absolute;
                top: 0;
                left: 20px;
                // font-family: Arial;
                // font-size: 4em;

                width: 50px;
                height: 40px;

                content: " ";

                background-image: url(../images/svgs/quote.svg);
                // color: #eee;
                background-repeat: no-repeat;

                @include transform(rotate(180deg));
                @include media($mobile-devices) {
                    left: 0;

                    width: 40px;
                    height: 30px;
                }
            }
            &::after {
                position: absolute;
                top: 0;
                right: 20px;
                // font-family: Arial;
                // font-size: 4em;
                // content: "\201D";
                // color: #eee;

                width: 50px;
                height: 40px;

                content: " ";

                color: #eee;
                background-image: url(../images/svgs/quote.svg);
                background-repeat: no-repeat;

                @include media($mobile-devices) {
                    right: 0;

                    width: 40px;
                    height: 30px;
                }
            }
            p {
                float: none !important;
                margin: 0 auto;
                margin-right: auto !important;
                margin-bottom: 30px;

                font-size: rem(24);
                font-weight: 300;

                color: #4c4c4c;

                @include media($mobile-devices) {
                    font-size: rem(16);
                }
                @include span-columns(8);
            }
            .author {
                .img {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                    overflow: hidden;

                    vertical-align: middle;
                    img {
                        width: 60px;
                        height: 60px;

                        @include border-top-radius(50%);
                        @include border-right-radius(50%);
                        @include border-bottom-radius(50%);
                        @include border-left-radius(50%);
                    }
                }
                .name {
                    display: inline-block;

                    font-size: rem(20);
                    font-weight: 300;

                    text-align: left;
                    vertical-align: middle;

                    color: #787878;

                    @include media($mobile-devices) {
                        font-size: rem(16);
                        .helper-text {
                            font-size: rem(14);
                        }
                    }
                    .helper-text {
                        display: block;

                        font-size: rem(16);

                        @include media($mobile-devices) {
                            font-size: rem(12);
                        }
                    }
                }
            }
            .direction-box {
                top: -35px;
                right: 11%;
                bottom: 35px;
            }
        }
    }
}

.feeds {
    @extend .container;
    .feed-box {
        position: relative;

        max-height: 300px;
        margin-bottom: 2.35765%;
        overflow: hidden;
        // padding-top: 60px;

        text-align: center;

        background-color: transparent;

        @include span-columns(4);
        &.main-box {
            padding: 30px;
            h2 {
                padding: 0;
                margin-bottom: 0;

                font-size: 2rem;
                font-weight: 400;

                text-align: left;

                color: #fff;
            }
        }

        &:nth-of-type(1) {
            background-color: rgba(0, 0, 0, .5);

            @include span-columns(8);
            @include media ($large-devices) {
                max-height: 305px;
            }
            @include media($medium-devices) {
                max-height: 196px;
            }
            @include media($mobile-devices) {
                max-height: 360px;

                @include span-columns(12 of 12);
            }
            @include media($sm-mobile-devices) {
                max-height: 220px;
            }
        }
        &:nth-of-type(2) {
            @include omega(2);
        }

        &:nth-of-type(3) {
            @include media($mobile-devices) {
                @include omega();
            }
        }
        & {
            @extend .square;
            @include media($mobile-devices) {
                @include span-columns(6 of 12);

                &:nth-of-type(2) {
                    @include omega-reset(2n);
                }
            }
            @include media($sm-mobile-devices) {
                @include span-columns(12 of 12);
            }
        }

        h2 {
            position: absolute;
            // top: 20px;

            font-size: rem(40);
            font-weight: 600;

            color: #fff;

            @include pad(15px);

            @media(min-width: 768px) and (max-width: 1200px) {
                font-size: rem(36);
            }
        }
        .top-banner {
            // height: 60px;
            background-color: #ea4c89;

            @include pad(18px 15px);
            @include position(absolute, 0 0 auto);
            h4 {
                margin: 0;

                font-size: rem(18);
                font-weight: 400;

                color: #fff;
            }
            p {
                margin: 0;

                font-size: rem(14);
                font-weight: 400;

                color: rgba(255,255,255,.5);
            }
            &.follow {
                height: 70px;

                text-align: center;

                background-color: #fafafa;

                @include pad(6px 15px);
                img,
                h4,
                a.btn {
                    display: inline-block;
                    float: left;

                    color: #125688;

                    @include pad(6px);

                    // @media (min-width: 768px) and (max-width: 1200px) {
                    //     font-size: rem(12);
                    // }
                }
                a {
                    vertical-align: middle;
                    img {
                        display: inline-block;
                        float: left;
                        width: 100%;
                        max-width: 45px;

                        border-radius: 50%;

                        @include pad(6px 0);
                        @media (min-width: 768px) and (max-width: 1200px) {
                            max-width: 38px;
                        }
                        @media (min-width:800px) {
                            margin-right: 8px;
                        }
                    }
                }
                h4 {
                    @media (min-width: 768px) and (max-width: 1200px) {
                        padding-right: 0;
                        padding-left: 0;

                        font-size: rem(12);
                    }
                }

                a.btn {
                    float: right;
                    height: 30px;
                    max-width: 78px;
                    margin: 0;
                    margin-top: 16px;

                    font-size: rem(12);
                    font-weight: 300;
                    line-height: 30px;

                    text-transform: uppercase;

                    color: #125688;
                    border: 1px solid #125688;
                    border-color: #125688;
                    border-radius: 3px;
                    background-color: transparent;

                    @include pad(0 6px);

                    @media (min-width: 768px) and (max-width: 1200px) {
                        height: 22px;

                        font-size: rem(10);
                        line-height: 22px;

                        @include pad(0 4px);
                    }
                }
            }
        }
        &.side-project {
            .top-banner {
                background-color: transparent;
                h4 {
                    font-size: rem(22);

                    color: #4c4c4c;
                }
            }
        }
        &.dribbble {
            .top-banner {
                height: 70px;
                padding: 26px 15px;
                overflow: hidden;

                text-align: left;
                h4 {
                    float: left;

                    color: rgba(255,255,255,.5);
                }
                img {
                    position: absolute;
                    top: 0;
                    right: 0;

                    width: 80px;
                    margin-top: 0;
                }
            }
            img {
                margin-top: 70px;
            }
        }
        &.join-team {
            position: relative;
            // min-height: 300px;
            // padding-top: 60px;

            text-align: center;

            background-color: $blue;

            @include media($mobile-devices) {
                padding-top: 0;
            }

            .qoute {
                display: block;
                width: 20px;
                height: 20px;
                &:before {
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    width: 80px;
                    height: 60px;

                    content: " ";

                    opacity: .2;
                    background: url(../images/svgs/quote.svg) no-repeat;

                    @include transform(rotate(180deg));

                    @media (min-width:768px) and (max-width:1200px) {
                        width: 50px;
                        height: 40px;
                    }
                }
            }
            .inner-box {
                position: absolute;
                right: 0;
                bottom: 60px;
                left: 0;

                vertical-align: middle;
                p,
                h4,
                span {
                    margin: 0;

                    color: #fff;
                }
                p {
                    // margin-bottom: 10px;
                    font-size: rem(18);
                    font-weight: 400;
                }
                h4 {
                    margin-bottom: 20px;

                    font-size: rem(34);
                    font-weight: 600;
                }
                span {
                    a {
                        display: block;
                        margin-bottom: 10px;

                        font-size: rem(14);
                        font-weight: 300;

                        color: #fff;
                    }
                }
                @media (min-width:768px) and (max-width:1200px) {
                    bottom: 10px;
                    h4 {
                        margin-bottom: 15px;
                    }
                    span {
                        a {
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
        &.socials {
            .social {
                position: absolute;

                display: block;
                width: 100%;
                height: calc(100% / 3);
                padding: 12% 20px;
                span {
                    display: inline-block;
                    float: left;
                    margin-right: 10px;

                    font-size: 1.25rem;
                    font-weight: 300;

                    vertical-align: middle;

                    color: #fff;
                }
                svg {
                    display: inline-block;
                    float: right;
                    width: 32px;
                    height: 32px;

                    vertical-align: middle;

                    color: #fff;
                }
                &.fb {
                    background-color: #3b5998;
                }
                &.in {
                    top: calc(100% / 3);

                    background-color: #0077b5;
                }
                &.tw {
                    bottom: 0;

                    background-color: #55acee;
                }
            }
        }
    }
    &.lab-gallery {
        .feed-box {
            padding: 0;
            &.main-box {
                @include media ($large-devices) {
                    max-height: 305px;
                }
                @include media($medium-devices) {
                    max-height: 196px;
                }
                @include media($mobile-devices) {
                    max-height: 360px;
                }
                @include media($sm-mobile-devices) {
                    max-height: 220px;
                }
                .square {
                    @include media ($large-devices) {
                        max-height: 305px;
                    }
                    @include media($medium-devices) {
                        max-height: 196px;
                    }
                    @include media($mobile-devices) {
                        max-height: 360px;
                    }
                    @include media($sm-mobile-devices) {
                        max-height: 220px;
                    }
                }
            }
            .square {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
    }
}

.start-project {
    max-height: 200px;
    min-height: 120px;
    padding: 48px 15px;
    margin: 0;

    text-align: center;

    background-color: #16c6c2;

    @extend .section;
    @include media($mobile-devices) {
        max-height: none;
    }
    p {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;

        font-size: rem(24);
        font-weight: 300;

        vertical-align: middle;

        color: #fff;

        @include media($mobile-devices) {
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .btn {
        display: inline-block;
        padding: 0 30px;
        margin: 0 auto;

        line-height: 48px;

        vertical-align: middle;

        opacity: .9;
        color: #16c6c2;
        border: none;
        background-color: #fff;

        @include media($mobile-devices) {
            display: block;
        }
        @include transition(all .2s);
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}



// Blog page style
.blog-container {
    @include media($mobile-devices) {
        @include outer-container(100%);
    }
    @include outer-container(660px);
    & {
        padding-bottom: 30px;
        margin: 0;
        margin-bottom: 60px;

        border-bottom: 1px solid #d8d8d8;
    }
    h2 {
        font-size: rem(24);
        font-weight: 300;

        color: #009688;
    }
    img {
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;

        color: rgba(92,92,92,.8);
    }
    .action-box {
        .date {
            float: left;

            font-size: rem(16);
            font-weight: 300;

            color: rgba(92,92,92,.5);
        }
        .btn {
            float: right;
            height: 44px;
            max-width: 230px;
            margin-bottom: 0;

            font-size: rem(16);
            line-height: 43px;

            text-align: center;

            color: $blue;
            border-color: $blue;
            background-color: transparent;
        }
    }
}
