// Hero banner
.master-banner {
    @include outer-container(100%);

    position: relative;
    // top: -50px;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    padding-top: 75px;
    width: 100%;
    height: 100vh;
    background-color: $blue;

    // @media only screen and (max-width: 768px) and (orientation: landscape) {
    //     height: 100vh auto;
    // }
    &:before {
        display: block;
        visibility: hidden;
        margin-top: -75px;
        height: 75px;
        content: " ";
    }
    #scene {
        @include position(absolute, 0 0 0 0);

        margin: 0 auto;
        width: 150%;
        height: 150%;

        .layer {
            position: static !important;
            left: 50%;
            display: inline-block !important;
            margin: 40px;
            color: rgba(255,255,255,.4);

            img,
            svg {
                width: 36px;
                height: 36px;
                color: rgba(255, 255, 255, .2);

                // padding: 20px;
            }

            // &:nth-child(odd) {
            //     display: none;
            //     visibility: hidden;
            // }
        }

        // @for $i from 1 through 140 {
        //     .layer:nth-of-type(#{$i}) {
        //         position: static !important;
        //         // float: left;
        //         // top: 50%;
        //         // left: 0 + 100px * $i !important;
        //         left: 50%;
        //         display: inline-block !important;
        //         margin: 40px;
        //         color: rgba(255,255,255,.4);
        //     }
        // }
    }
    &.with-img{
      background-image:url(../images/boomer_banner.jpg);
      background-size: cover;

      .overlay{
        background-color: rgba(0, 0, 0, 0.4);
      }
      .title{
        @include transform(translate(-50%, -50%));
        @include media(max-width 768px){
            padding:0 20px;
            max-width:100%;
        }

        position: absolute;
        top:50%;
        left:50%;
        max-width: 80%;
        width: 100%;
        color:#fff;
        text-align: center;
        font-size:rem(60)
      }
    }
    .banner-content {
        // padding: 0 15px;
        @extend .container;
        @include media (min-width 1440px) {
            max-height: fit-content;
        }

        position: absolute;
        right: 0;
        bottom: 50px;
        left: 0;
        max-height: 400px;

        .open-form {
            z-index: 2;
            padding-left: 36px;

            span {
                z-index: 1;
            }
        }
        h1 {
            color: #fff;
            font-weight: 600;
            font-family: $base-font-family;
        }
        &.home {
            @include media(min-width 1440px) {
                padding-right: 40px;
                padding-left: 40px;
                max-width: none;
            }
        }
    }
}
.introduction {
    @extend .container;

    p {
        @include span-columns(7);
        @include omega(1n);
        @include media($mobile-devices) {
            @include span-columns(12 of 12);
        }

        color: $medium-gray;
        font-weight: 300;
        font-size: rem(20);
        // max-width: 620px;
        font-family: $base-font-family
    }
}
.our-clients {
    @extend .container;

    text-align: center;

    .icon-box {
        @include pad(40px 0);
        @include omega(4n);
        @include span-columns(3);
        @include media($mobile-devices) {
            @include span-columns(6 of 12);
            @include omega(2n);
        }

        height: 130px;
        line-height: 60px
    }
}
.portfolio {
    @extend .container;

    .projects {
        @include media($mobile-devices) {
            margin-bottom: 70px;
        }

        margin-bottom: 100px;
        text-align: center;

        .title {
            @include media($mobile-devices) {
                font-size: rem(28);
            }

            margin-bottom: 20px;
            color: $medium-gray;
            font-weight: 300;
            font-size: rem(32);
            font-family: $base-font-family
        }
        .btn {
            @include media($mobile-devices) {
                max-width: 160px;
                font-size: rem(16);
            }

            margin: 0 auto;
            margin-bottom: 50px;
            max-width: 200px;
            border-color: $blue;
            background-color: #fff;
            color: $blue;
            font-size: rem(18);

            &.disabled {
                border-color: rgba(92,92,92,.6);
                color: rgba(92,92,92,.5);
                cursor: default;
            }
        }
        .img-container {
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: 40px;
            max-width: 940px;
            border: 1px solid #ccc;
            border-top: none;
            border-radius: 7px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            &.vertical-img {
                border: none;
            }
            .img-wrap {
                // overflow-y: scroll;
                @include media($mobile-devices) {
                    max-height: 400px;
                }

                // padding-top: 29px;
                overflow: hidden;
                max-width: 940px;
                max-height: 560px;

                a {
                    img {
                        margin-top: 29px;
                    }
                }
                &.no-scroll {
                    position: relative;
                    overflow: hidden;

                    &:after {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 3;
                        display: block;
                        height: 3px;
                        background-color: #fff;
                        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fff), color-stop(50%, #777), color-stop(100%, #fff));
                        background-image:    -moz-linear-gradient(left, #fff 18%, #777 50%, #fff 820%);
                        background-image: -webkit-linear-gradient(left, #fff 18%, #777 50%, #fff 82%);
                        background-image:         linear-gradient(to right, #fff 18%, #777 50%, #fff 82%);
                        background-size: 100%;
                        content: " ";
                        // @extend .divider;
                        -webkit-filter: blur(1px);
                           -moz-filter: blur(1px);
                            -ms-filter: blur(1px);
                             -o-filter: blur(1px);
                                filter: blur(1px);
                                filter: progid:dximagetransform.Microsoft.gradient(gradientType=1, startColorstr="#FFFFFFFF", endColorstr="#FFFFFFFF");
                        *zoom: 1;
                    }
                }
            }
        }
    }
}
.feeds {
    @extend .container;

    .feed-box {
        @include span-columns(4);

        position: relative;
        overflow: hidden;
        margin-bottom: 2.35765%;
        max-height: 275px;
        background-color: transparent;
        // padding-top: 60px;
        text-align: center;

        a {
            img {
                width: 100%;
            }
        }
        &.main-box {
            // padding: 30px;
            h2 {
                @include media($sm-mobile-devices) {
                    font-size: 1.5rem;
                }
                @include media(min-width 768px and max-width 1200px) {
                    font-size: 1.5rem;
                }

                z-index: 1;
                margin-bottom: 0;
                padding: 30px;
                color: #fff;
                text-align: left;
                font-weight: 400;
                font-size: 2rem
            }
            .overlay {
                background-color: rgba(0, 0, 0, .5);
            }
        }
        &:nth-of-type(1) {
            @include media($sm-mobile-devices) {
                max-height: 220px;
            }
            @include media($mobile-devices) {
                @include span-columns(12 of 12);

                max-height: 360px;
            }
            @include media($medium-devices) {
                max-height: 196px;
            }
            @include media ($large-devices) {
                max-height: 275px;
            }
            @include span-columns(8);

            background-color: rgba(0, 0, 0, .5);
        }
        &:nth-of-type(2) {
            @include omega(2);
        }
        &:nth-of-type(3) {
            @include media($mobile-devices) {
                @include omega();
            }
        }
        & {
            @extend .square;
            @include media($mobile-devices) {
                @include span-columns(6 of 12);

                &:nth-of-type(2) {
                    @include omega-reset(2n);
                }
            }

            & {
                @include media($sm-mobile-devices) {
                    @include span-columns(12 of 12);
                }
            }
        }
        h2 {
            @include pad(15px);

            position: absolute;
            color: #fff;
            font-weight: 600;
            // top: 20px;
            font-size: rem(40);

            @media(min-width: 768px) and (max-width: 1200px) {
                font-size: rem(36);
            }
        }
        .top-banner {
            @include position(absolute, 0 0 auto);
            @include pad(18px 15px);

            // height: 60px;
            background-color: #ea4c89;

            h4 {
                margin: 0;
                color: #fff;
                font-weight: 400;
                font-size: rem(18);
            }
            p {
                margin: 0;
                color: rgba(255,255,255,.5);
                font-weight: 400;
                font-size: rem(14);
            }
            &.follow {
                @include pad(6px 15px);

                height: 70px;
                background-color: #fafafa;
                text-align: center;

                img,
                h4,
                a.btn {
                    @include pad(6px);

                    display: inline-block;
                    float: left;
                    color: #125688;

                    // @media (min-width: 768px) and (max-width: 1200px) {
                    //     font-size: rem(12);
                    // }
                }
                a {
                    vertical-align: middle;

                    img {
                        @include pad(6px 0);

                        display: inline-block;
                        float: left;
                        max-width: 45px;
                        width: 100%;
                        border-radius: 50%;

                        @media (min-width: 768px) and (max-width: 1200px) {
                            max-width: 38px;
                        }
                        @media (min-width:800px) {
                            margin-right: 8px;
                        }
                    }
                }
                h4 {
                    @media (min-width: 768px) and (max-width: 1200px) {
                        padding-right: 0;
                        padding-left: 0;
                        font-size: rem(12);
                    }
                }
                a.btn {
                    @include pad(0 6px);

                    float: right;
                    margin: 0;
                    margin-top: 16px;
                    max-width: 78px;
                    height: 30px;
                    border: 1px solid #125688;
                    border-color: #125688;
                    border-radius: 3px;
                    background-color: transparent;
                    color: #125688;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: rem(12);
                    line-height: 30px;

                    @media (min-width: 768px) and (max-width: 1200px) {
                        @include pad(0 4px);

                        height: 22px;
                        font-size: rem(10);
                        line-height: 22px;
                    }
                }
            }
        }
        &.side-project {
            .top-banner {
                background-color: transparent;

                h4 {
                    color: #4c4c4c;
                    font-size: rem(22);
                }
            }
        }
        &.dribbble {
            .top-banner {
                @include media(max-width 1170px) {
                    padding: 15px ;
                    height: 50px;
                }

                overflow: hidden;
                padding: 26px 15px;
                height: 70px;
                text-align: left;

                h4 {
                    float: left;
                    color: rgba(255,255,255,.5);
                }
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: 0;
                    width: 80px;
                }
            }
            img {
                @include media(max-width 1170px) {
                    margin-top: 50px;
                }

                margin-top: 70px
            }
        }
        &.join-team {
            @include media($mobile-devices) {
                padding-top: 0;
            }

            position: relative;
            background-color: $blue;
            // min-height: 300px;
            // padding-top: 60px;
            text-align: center;

            .qoute {
                display: block;
                width: 20px;
                height: 20px;

                &:before {
                    @include transform(rotate(180deg));

                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 80px;
                    height: 60px;
                    background: url(../images/svgs/quote.svg) no-repeat;
                    content: " ";
                    opacity: .2;

                    @media (min-width:768px) and (max-width:1200px) {
                        width: 50px;
                        height: 40px;
                    }
                }
            }
            .inner-box {
                position: absolute;
                right: 0;
                bottom: 60px;
                left: 0;
                vertical-align: middle;

                @media (min-width:768px) and (max-width:1200px) {
                    bottom: 10px;

                    h4 {
                        margin-bottom: 15px;
                    }
                    span {
                        a {
                            margin-bottom: 8px;
                        }
                    }
                }

                p,
                h4,
                span {
                    margin: 0;
                    color: #fff;
                }
                p {
                    font-weight: 400;
                    // margin-bottom: 10px;
                    font-size: rem(18);
                }
                h4 {
                    margin-bottom: 20px;
                    font-weight: 600;
                    font-size: rem(34);
                }
                span {
                    a {
                        display: block;
                        margin-bottom: 10px;
                        color: #fff;
                        font-weight: 300;
                        font-size: rem(14);
                    }
                }
            }
        }
        &.socials {
            .social {
                @include media($sm-mobile-devices) {
                    padding: 35px 20px;
                }
                @include transition(.3s ease-in-out);

                position: absolute;
                display: block;
                padding: 11% 20px;
                width: 100%;
                height: calc(100% / 3);

                span {
                    display: inline-block;
                    float: left;
                    margin-right: 10px;
                    color: #fff;
                    vertical-align: middle;
                    font-weight: 300;
                    font-size: 1.25rem;
                }
                svg {
                    @include media(min-width 768px max-width 1170px) {
                        width: 22px;
                        height: 22px;
                    }
                    @include media($sm-mobile-devices) {
                        width: 22px;
                        height: 22px;
                    }

                    display: inline-block;
                    float: right;
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    vertical-align: middle
                }
                &.fb {
                    background-color: #3b5998;

                    &:hover {
                        background-color: rgba(59,89,152,.9);
                    }
                }
                &.in {
                    top: calc(100% / 3);
                    background-color: #0077b5;

                    &:hover {
                        background-color: rgba(0,119,181,.9);
                    }
                }
                &.tw {
                    bottom: 0;
                    background-color: #55acee;

                    &:hover {
                        background-color: rgba(85,172,238,.9);
                    }
                }
            }
        }
    }
    &.lab-gallery {
        .feed-box {
            padding: 0;

            &.main-box {
                @include media($sm-mobile-devices) {
                    max-height: 220px;
                }
                @include media($mobile-devices) {
                    max-height: 360px;
                }
                @include media($medium-devices) {
                    max-height: 196px;
                }
                @include media ($large-devices) {
                    max-height: 275px;
                }

                .square {
                    @include media($sm-mobile-devices) {
                        max-height: 220px;
                    }
                    @include media($mobile-devices) {
                        max-height: 360px;
                    }
                    @include media($medium-devices) {
                        max-height: 196px;
                    }
                    @include media ($large-devices) {
                        max-height: 305px;
                    }
                }
            }
            .square {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}
.start-project {
    @extend .section;
    @include media($mobile-devices) {
        max-height: none;
    }

    margin: 0;
    padding: 48px 15px;
    min-height: 120px;
    max-height: 200px;
    background-color: #16c6c2;
    text-align: center;

    p {
        @include media($mobile-devices) {
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
        }

        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
        color: #fff;
        vertical-align: middle;
        font-weight: 300;
        font-size: rem(24)
    }
    .btn {
        @include transition(all .2s);
        @include media($mobile-devices) {
            display: block;
        }

        display: inline-block;
        margin: 0 auto;
        padding: 0 30px;
        border: none;
        background-color: #fff;
        color: #16c6c2;
        vertical-align: middle;
        line-height: 48px;
        opacity: 1;

        &:hover,
        &:focus {
            opacity: .9;
        }
    }
}
// Blog page style
.blog-container {
    @include outer-container(660px);
    @include media($mobile-devices) {
        @include outer-container(100%);
    }

    & {
        margin: 0;
        margin-bottom: 60px;
        padding-bottom: 30px;
        border-bottom: 1px solid #d8d8d8;
    }
    h2 {
        color: #009688;
        font-weight: 300;
        font-size: rem(24);
    }
    img {
        margin-bottom: 20px;
    }
    p {
        color: rgba(92,92,92,.8);
        font-size: 18px;
    }
    .action-box {
        .date {
            float: left;
            color: rgba(92,92,92,.5);
            font-weight: 300;
            font-size: rem(16);
        }
        .btn {
            float: right;
            margin-bottom: 0;
            max-width: 230px;
            height: 44px;
            border-color: $blue;
            background-color: transparent;
            color: $blue;
            text-align: center;
            font-size: rem(16);
            line-height: 43px;
        }
    }
}
