.about_us{
  max-width: 60%;
  margin: 0 auto;

  @include media(max-width 480px){
    max-width: 80%;
  }

  p{
    text-align: left;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.56;
    color: #555555;
    margin-bottom: 40px;
  }
}

.about-parallax{
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
  height: 100%;

  .box{
    display: inline-block;
    width: 170px;
    height: 340px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fcc32c;

    h1{
      font-family: $heading-font-family;
      font-size: 26px;
      font-weight: 900;
      letter-spacing: 1.1px;
      color: #ffffff;
    }
  }

  .yellow{
    background-color: #fcc32c;
    transform: skew(-30deg) translate3d(-18px, -120px, 0px);

    h1{
    transform: skew(30deg) translate(-168px,294px);    }
  }

  .blue{
    background-color: #16c6c2;
    transform: skew(-30deg) translate3d(0,120px,0px);


    h1{
    transform: skew(30deg) translate(-145px,261px);    }
  }
}

@keyframes slidedown {
    0% {
        transform: skew(-30deg) translate3d(-18px, -80px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: skew(-30deg) translate3d(-18px, -40px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: skew(-30deg) translate3d(-18px, -20px, 0px);

    }
}


@keyframes slideup {
    0% {
        transform: skew(-30deg) translate3d(0px, 80px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: skew(-30deg) translate3d(0px, 40px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: skew(-30deg) translate3d(0px, 20px, 0px);

    }
}

.slideup{
  animation: slideup 5s;
}

.slidedown{
  animation: slidedown 5s;

}
