@font-face {
    font-family: 'Franchise-Bold';
    src: url('./fonts/Franchise-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.sprint{
  .cta-button{
    margin-top: 48px;
  }

  .image-gallery{
    @include clearfix;
    .col-4{
      @include span-columns(5);
      margin-top: 104px;

      @include media(max-width 768px){
        @include span-columns(12);
        display: block;
        margin-top: 0;

        img{
          width: 100%;
        }
      }

      img{
        &:last-child{
          margin-top: 15px;

          @include media(min-width 1020px){
            margin-top: 20px;
          }

        }
      }
    }
    .col-8{
      @include span-columns(7);

      @include media(max-width 768px){
        @include span-columns(12);
        display: block;
        margin-top: 15px;

        img{
          width: 100%;
        }

      }

      img{
        margin-left: 15px;

        @include media(min-width 1020px){
          margin-left: 10px;
        }
        @include media(max-width 768px){
          margin-left: 0;
        }
      }
    }
  }

  .banner-img{
    margin-top: 72px;
  }

  .img-wrapper{
    text-align: center;
  }

  .title-block{
    max-width: 760px;

    .title{
      font-weight: 900;
      color: #333333;
      letter-spacing: 0.7px;
    }

    @media screen and (max-width: 992px)
    {
      padding-left: 25px;
      padding-right: 25px;
    }

  }

  .desc{
    p{
      font-family: $heading-font-family;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: normal;
      text-align: left;
      line-height: 1.58;
      letter-spacing: 0.4px;
      color: #333333;
      max-width: 760px;

      &:first-child{
        margin-top: 32px;
      }

      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
  }

  .column-wrap{
    .column{
      @include span-columns(4);
    }
  }
  @include reset-display();

  .sprint-wrap{
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 57px;

    @media (max-width: 1100px) {
      max-width: 80%;
    }
    @media (max-width: 800px) {
      max-width: 90%;
    }
    @media (max-width: 700px) {

    }
    @include media(max-width 500px){
      margin-top: 40px;
    }

    .column{
      @include span-columns(4);
      @include omega(3n);
      text-align: left;

      @include media(min-width 1100px){
        @include span-columns(3);
      }

      @include media(max-width 768px){
        @include span-columns(12);
        display: block;
        margin-bottom: 20px;
      }

      .icon{
        height: 80px;
        width: 80px;

        @include media(max-width 500px){
          width: 50px;
          height: 50px;
        }
      }

      h3{
        font-weight: 600;
        color: #3f3f3f;
        font-size: 24px;
        margin-top: 20px;

        @include media(max-width 500px){
          font-size: 20px;
        }

      }
    }

    .desc{
      margin-top: 48px;

      @include media(max-width 500px){
        margin-top: 20px;
      }

    }
  }

  .days-wrap{
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 57px;

    @media (max-width: 1100px) {
      max-width: 80%;
    }
    @media (max-width: 800px) {
      max-width: 90%;
    }
    @media (max-width: 700px) {

    }


    .days{
      @include span-columns(6);

      text-align: center;
      border-radius: 8px;
      box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 50px;
      max-width: 330px;

      @include media(min-width 1100px){
        @include span-columns(4);
        @include omega(3n);
      }

      @include media(min-width 769px max-width 1100px){
        @include omega(2n);
      }

      @include media(max-width 768px){
        @include span-columns(12);
        display: block;
        margin-left: auto!important;
        margin-right: auto!important;
      }


      &.days-offset{
        @include shift(0);

        @include media(min-width 1100px){
          @include shift(2);
        }

/*         @include media(min-width 769px max-width 1100px){
  @include shift(1);
} */

        @include media(max-width 768px){
          @include shift(0);
        }

      }

      .title{
        padding: 32px 0 27px;
        font-size: 32px;
        background-color: #16c6c2;
        text-align: center;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-weight: 700;

        @media (max-width: 500px) {
          padding: 20px 0 15px;
          font-size: 26px;
        }
      }

      .desc{
        font-size: 22px;
        line-height: 1.45;
        padding: 24px;
        color: #7c7c7c;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        position: relative;
        min-height: 278px;

        @media (max-width: 500px) {
          font-size: 20px;
        }

        .client{
          color: #e9a460;
          margin-top: 44px;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 24px;
          left: 0;
        }
      }
    }
  }

  .card-wrapper{
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 160px;

    @media (max-width: 1100px) {
      max-width: 80%;
    }
    @media (max-width: 800px) {
      max-width: 90%;
    }
    @media (max-width: 700px) {

    }
    @media (max-width: 500px) {
      margin-bottom: 100px;
    }

    .card{
      @include span-columns(4);
      border-radius: 10px;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);

      @include media(max-width 992px){
        @include span-columns(6);
      }

      @include media(max-width 767px){
        @include span-columns(12);
        display: block;
        max-width: 340px;
        margin-left: auto!important;
        margin-right: auto!important;
        margin-bottom: 40px;

        &:last-child{
          margin-bottom: 0;
        }
      }

      img{
        width: 100%;
      }

      .content{
        padding: 24px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .title{
          font-size: 36px;
          color: #2c4453;
          margin-bottom: 10px;
          letter-spacing: 1.1px;

          @media (max-width: 500px) {
            font-size: 26px;
          }
        }

        .desc{
          font-size: 20px;
          color: #3f3f3f;
          opacity: 0.8;

          @media (max-width: 500px) {
            font-size: 18px;
          }
        }

        .link-wrapper{
          text-align: left;
          font-size: 22px;
          color: #16c6c2;
          font-weight: bold;
          margin-top: 37px;

          svg{
            margin-left: 16px;
          }

          @media (max-width: 500px) {
            font-size: 22px;
          }
        }
      }
    }

  }

  &.last{
    margin-bottom: 160px;

    @media (max-width: 500px) {
      margin-bottom: 100px;
    }
  }

  &.get-in-touch-section .content-wrapper{

    @media (min-width: 1100px) {
      max-width: 1080px;
    }
  }

  h4.title{
    font-size: 32px;
    letter-spacing: 0.9px;
    margin-bottom: 43px;
  }

}

.cards-section {
  width: 100%;
  height: 410px;
  position: relative;
  margin: 100px 0;

  @media (max-width: 1024px) {
    height: 720px;
  }

  @media (max-width: 666px) {
    height: 1390px;
  }

  .color-background {
    width: 100%;
    height: 210px;
    background-color: #16c6c2;
    opacity: 0.1;
    position: absolute;
    top: 50px;

    @media (max-width: 1024px) {
      height: 570px;
    }

    @media (max-width: 666px) {
      height: 1290px;
    }
  }

  .cards-container {
    position: absolute;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    left: 0;
    right: 0;
    flex-wrap: wrap;

    @media (max-width: 1199px) {
      width: 90%;
    }

    @media (max-width: 1024px) {
      width: 60%;
    }

    @media (max-width: 888px) {
      width: 77%;
    }

    @media (max-width: 777px) {
      width: 87%;
    }

    @media (max-width: 666px) {
      width: 50%;
    }

    @media (max-width: 477px) {
      width: 60%;
    }

    @media (max-width: 377px) {
      width: 70%;
    }

    .card {
      padding: 15px;
      text-align: center;
      width: 22%;
      height: 310px;
      margin-right: 4%;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1024px) {
        width: 40%;
        margin-right: 20%;
      }

      @media (max-width: 666px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px
      }

      .card-content {
        height: 100%;

        .card-top-content {
          height: 21%;
          display: flex;
          align-items: center;
          justify-content: center;

          .card-title {
            font-family: $heading-font-family;
            font-size: 24px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 40px;
            letter-spacing: 0.6px;
            text-align: center;
            color: #555555;
          }

          .card-subtitle {
            font-family: $heading-font-family;
            font-size: 12px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: center;
            color: #16c6c2;
            text-transform: uppercase;
          }
        }

        p {
          margin: 0;
          height: 39%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'PT Serif', serif;
          font-weight: 400;
          font-style: italic;
        }

        .card-divider {
          width: 60px;
          height: 1%;
          background-color: #c7c7c7;
          margin: 0 auto;
        }
      }
    }


    .card:nth-child(1) {
      @media (max-width: 1024px) {
        margin-bottom: 50px;
      }

      @media (max-width: 666px) {
        margin-right: 0;
      }
    }

    .card:nth-child(2) {
      @media (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 50px;
      }

      @media (max-width: 666px) {
        margin-right: 0;
      }
    }

    .card:last-child {
      margin-right: 0;
    }
  }
}

.section.new-home-content1.about.sprint .title-block h1.title,
.section.new-home-content1.about.sprint .title-block .title,
.find-out-section .title {
  font-family: 'Franchise-Bold';
  font-size: 80px;
  line-height: 68px;
  text-transform: lowercase;

  @media (max-width: 666px) {
    font-size: 65px;
    line-height: 52px;
  }

  @media (max-width: 500px) {
    font-size: 50px;
    line-height: 37px;
  }
}

.images-container {
  width: 80%;
  margin: 0 auto;

  .image-container {
    width: 100%;
    height: auto;
    margin-bottom: 77px;
    position: relative;

    .image {
      z-index: 1;
      display: block;
      width: 100%;
      height: auto;
      background-color: #000;
    }

    .text-container {
      z-index: 2;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      font-family: Lato;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;

      @media (max-width: 1024px) {
        font-size: 25px;
      }

      @media (max-width: 888px) {
        font-size: 21px;
      }

      @media (max-width: 666px) {
        position: relative;
        text-align: center;
        margin: auto;
        width: 80%;
      }

      .green-text {
        color: #16c6c2;
      }
    }
  }

  .image-container:nth-child(1) {
    .text-container {
      padding: 60px 40px 60px 0;

      @media (max-width: 888px) {
        padding: 45px 30px 45px 0;
      }

      @media (max-width: 666px) {
        padding: 25px 0;
      }
    }
  }

  .image-container:nth-child(2) {
    .text-container {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      padding: 60px 0 60px 40px;

      @media (max-width: 888px) {
        padding: 45px 0 45px 30px;
      }

      @media (max-width: 666px) {
        padding: 25px 0;
      }
    }
  }

  .image-container:nth-child(3) {
    .image {
      width: 70%;
      height: auto;
      position: relative;
      left: 30%;

      @media (max-width: 666px) {
        width: 100%;
        left: 0;
      }
    }

    .text-container {
      top: 50%;
      @include transform(translateY(-50%));
      margin: 0 auto;
      padding: 60px 40px 60px 0;

      @media (max-width: 888px) {
        padding: 45px 30px 45px 0;
      }

      @media (max-width: 666px) {
        padding: 25px 0;
        @include transform(translateY(0));
      }
    }
  }

  .image-container:nth-child(4) {
    .text-container {
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      padding: 60px 40px 0 40px;

      @media (max-width: 888px) {
        padding: 45px 30px 0 30px;
      }

      @media (max-width: 666px) {
        padding: 25px 0;
      }
    }
  }
}

.why-sprint ol {
  list-style-type: decimal !important;
  list-style-position: inside;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.4px;

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.find-out-section {
  padding: 100px 0 100px 10%;
  margin: 50px 0;
  background-color: #f5f8f9;

  @media (max-width: 888px) {
    padding: 50px 0 50px 25px
  }

  .title {
    margin-bottom: 37px;
    width: 70%;

    @media (max-width: 1000px) {
      width: 90%;
    }
  }

  .test-button {
    color: #fff;
    text-transform: uppercase;
    background-color: #16c6c2;
    width: 180px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    opacity: 0.5;
    border-radius: 0 2px 2px 0;
    transition: all 0.4s ease-in-out;

    @media (max-width: 768px) {
      border-radius: 2px;
      opacity: 1;
    }

    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      left: 0;
      width: 10%;
      height: 52px;
      background-color: #16c6c2;
      transition: all 0.4s ease-in-out;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .test-button:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 2px;

    &:before {
      left: 10%;
      border-radius: 2px 0 0 2px;
    }
  }
}

.hubspot-section {
  padding: 0 0 0 10%;
  margin: 50px 0;

  .section-block{
    max-width: 760px;
  }

  .title {
    margin-bottom: 37px;
    width: 70%;
  }

  .test-button {
    color: #fff;
    text-transform: uppercase;
    background-color: #16c6c2;
    width: 180px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    opacity: 0.5;
    border-radius: 0 2px 2px 0;
    transition: all 0.4s ease-in-out;

    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      left: 0;
      width: 10%;
      height: 52px;
      background-color: #16c6c2;
      transition: all 0.4s ease-in-out;
    }
  }

  .test-button:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 2px;

    &:before {
      left: 10%;
      border-radius: 2px 0 0 2px;
    }
  }
}
.text-before-form {
  padding-left: 10%;

  @media (max-width: 888px) {
    padding-left: 25px
  }
}
