//  html,
// body {
//     height: 100%;
// }

html {
    // overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;

    border: none;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;

    -webkit-overflow-scrolling: touch;

    //     -webkit-overflow-scrolling: touch;
}

// address bar jumps content so height fix for Mobile
// @mixin vh-fix {
//     @media (max-device-aspect-ratio: 3/4) {
//         height: calc(100vw * 1.333 - 9%);
//     }
//     @media (max-device-aspect-ratio: 2/3) {
//         height: calc(100vw * 1.5 - 9%);
//     }
//     @media (max-device-aspect-ratio: 10/16) {
//         height: calc(100vw * 1.6 - 9%);
//     }
//     @media (max-device-aspect-ratio: 9/16) {
//         height: calc(100vw * 1.778 - 9%);
//     }
// }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
}


.wrapper {
    position: relative;
    &.new {
        background-color: #fafafa;
    }
    &.home {
        // padding-top: 100px;
    }
}

.h100 {
    height: 100vh;
}
h1 {
    font-size: rem(64);

    @media (max-width:1200px) {
        font-size: rem(48);
    }
    @media (max-width:768px) {
        font-size: rem(32);
    }
}
h2 {
    font-size: rem(36);

    @media (max-width:768px) {
        font-size: rem(28);
    }
}


p {
    font-size: rem(20);
    font-weight: 300;

    color: $medium-gray;

    @include media($mobile-devices) {
        font-size: rem(18);
    }
}
a:focus,
a:hover {
    outline: none;
}

svg {
    fill: currentColor;
}

// Classes to reuse (HELPER CLASSES)
.clr-orange-fade {
    color: rgba(244,77,54,.1) !important;
}
.clr-gray-fade {
    color: rgba(64,65,69,.1) !important;
}
.clr-yellow {
    color: #fcc32c;
}
.explara-red {
    color: #db4344;
}
.hj-green {
    color: #009688;
}
.app-pink {
    color: #ec2956;
}
.sm-orange {
    color: #f37e5d;
}
.eat-green {
    color: #009e5f;
}
.chai-green {
    color: #0f6b38;
}
.treatr-red {
    color: #ff4c4c;
}
// background
.blue-bg {
    background-color: #2e9df7;
}
.light_green-bg {
    background-color: #3aab81;
}
.dark_green-bg {
    background-color: #009688;
}
.red-bg {
    background-color: #db4344;
}
.citrus-bg {
    background-color: #019966;
}


.M0 {
    margin: 0;
}
.MB10-imp {
    margin-bottom: 10px !important;
}
.MB40-imp {
    margin-bottom: 40px !important;
}

.MB30 {
    margin-bottom: 30px;
}
.MB50 {
    margin-bottom: 50px;
}
.MB60 {
    margin-bottom: 60px;
}
.MB60-imp {
    margin-bottom: 60px !important;
}
.PB60 {
    padding-bottom: 60px;
}
.PLR0-imp {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.PB0-imp {
    padding-bottom: 0 !important;
}
.PT-180 {
    padding-top: 180px;

    @include media(max-width 768px) {
        padding-top: 120px;
    }
}

.box-shadow-none {
    box-shadow: none !important;
}

.overflow-H {
    position: relative;

    overflow: hidden;

    -webkit-overflow-scrolling: touch;
}
.overflow-XH {
    overflow-x: hidden;
}

.owl-carousel {
    display: block;
}
// position
.pos-rel {
    position: relative;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;

    fill: currentColor;
}

.italic {
    font-style: italic;
}

.style-typ-none {
    padding-left: 0 !important;

    list-style-type: none !important;
}

.section {
    margin-bottom: 60px;

    @include outer-container(100%);
    &.home-content {
        margin-bottom: 100px;

        @include media($mobile-devices) {
            margin-bottom: 40px;
        }
    }
}

.square {
    display: block;
    //width within the parent
    // width: 100%;

    background-color: #ddd;
    &:before {
        float: left;
        //essentially the aspect ratio. 100% means the
        //div will remain 100% as tall as it is wide, or
        //square in other words.
        padding-bottom: 100%;

        content: "";
    }
    //this is a clearfix. you can use whatever
    //clearfix you usually use, add
    //overflow:hidden to the parent element,
    //or simply float the parent container.
    &:after {
        display: table;
        clear: both;

        content: "";
    }
}

.container {
    margin-right: auto;
    margin-left: auto;

    @include outer-container(620px);
    @include media($large-devices) {
        @include outer-container(920px);
    }
    @include media($mobile-devices) {
        padding: 0 15px;

        @include outer-container(100%);
    }
    @media (min-width: 1400px) {
        @include outer-container(960px);
    }
    &:before,
    &:after {
        display: table;

        content: " ";
    }
    &:after {
        clear: both;
    }
}

// mac-bar
.mac-bar {
    position: absolute;
    // top: -2px;
    z-index: 6;

    width: 100%;
    height: 30px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #ccc;
    span {
        float: left;
        width: 10px;
        height: 10px;
        margin: 10px 0;
        margin-right: 5px;

        color: $blue;
        border-radius: 50%;
        background-color: #fff;
        &:nth-of-type(1) {
            margin-left: 20px;

            background-color: #de4245;
        }
        &:nth-of-type(3) {
            background-color: #40d47e;
        }
    }
}

// Curvy arrow
.direction-box {
    position: absolute;
    right: 10%;
    bottom: 80px;

    @include media($mobile-devices) {
        display: none;
    }
    img {
        margin-top: 8px;
        margin-right: 10px;

        vertical-align: top;

        box-shadow: none !important;
        &.up-arrow {
            @include transform(rotate(180deg));
        }
        &.down-arrow {
            @include transform(rotateY(180deg));
        }
    }
    p {
        display: inline;

        font-size: rem(14);
        font-weight: 400;

        vertical-align: top;

        color: rgba(242,242,242,.7);
    }
    &.hj {
        bottom: 40px;
        left: -130px;

        max-width: 150px;
        img {
            display: block;
            margin: 0 auto;

            // color: #f2f2f2;
        }
        p {
            display: block;

            font-size: rem(14) !important;

            color: rgba(242,242,242,.5) !important;
        }
    }
}

.square {
    display: block;
    //width within the parent
    // width: 100%;

    background-color: #ddd;
    &:before {
        float: left;
        //essentially the aspect ratio. 100% means the
        //div will remain 100% as tall as it is wide, or
        //square in other words.
        padding-bottom: 100%;

        content: "";
    }
    //this is a clearfix. you can use whatever
    //clearfix you usually use, add
    //overflow:hidden to the parent element,
    //or simply float the parent container.
    &:after {
        display: table;
        clear: both;

        content: "";
    }
}

// gradient

.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
    background:    -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background:         linear-gradient(to bottom,  rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%); /* W3C */

    filter: progid:dximagetransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#ffffff",GradientType=0 ); /* IE6-9 */
    @include position(absolute, 0 0 0 0);
}

// border gradient
.divider {
    height: 1px;
    // margin-bottom: 30px;

    border: 0;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fff), color-stop(50%, $blue), color-stop(100%, #fff));
    background-image:    -moz-linear-gradient(left, #fff 10%, $blue 50%, #fff 90%);
    background-image: -webkit-linear-gradient(left, #fff 10%, $blue 50%, #fff 90%);
    background-image:         linear-gradient(to right, #fff 10%, $blue 50%, #fff 90%);
    // background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGY0ZjRmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;

    *zoom: 1;
    filter: progid:dximagetransform.Microsoft.gradient(gradientType=1, startColorstr="#FFFFFFFF", endColorstr="#FFFFFFFF");
    @include media($mobile-devices) {
        margin-bottom: 30px;

        @include span-columns(12 of 12);
    }
}

.overlay {
    background-color: rgba(0,0,0,.6);

    @include position(absolute, 0 0 0 0);
}

// Default buttons
.span-skew {
    position: absolute;
    top: 0;
    right: -10px;

    width: 35%;
    height: 100%;

    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
    text-align: center;

    color: $blue;
    background-color: #fff;
}

.btn {
    position: relative;

    display: block;
    width: 300px;
    height: 48px;
    max-width: 250px;
    padding: 0 10px;
    margin-bottom: 20px;
    overflow: hidden;

    font-family: $base-font-family;
    font-size: rem(18);
    font-weight: 400;
    line-height: 44px;

    cursor: pointer;

    color: $medium-gray;
    color: rgba(255,255,255,.8);
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: $blue;
    &:hover,
    &:focus {
        color: rgba(255,255,255,1);
        outline: none;
    }
    span.tri-box {
        line-height: 48px;

        @extend .span-skew;
        svg {
            width: 20px;
            height: 12px;

            color: $blue;
        }
    }

    img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 10px;

        vertical-align: middle;
    }
    span {
        display: inline-block;

        vertical-align: middle;
        i {
            display: block;

            font-size: rem(10);
            font-style: normal;
            line-height: normal;

            color: #fff;
            &:nth-child(2) {
                font-size: rem(16);
            }
        }
    }
    &.new {
        text-indent: 20px;

        border: none;
        border-radius: 0;
        background-color: transparent;

        &:focus {
            background-color: transparent;
        }
        .skewed {
            width: 210px;
            height: inherit;
            margin-left: -30px;
            overflow: hidden;

            background-color: #16c6c2;

            @include transform(skewX(-30deg));
            span {
                width: 160px;

                font-size: rem(18);
                font-weight: 400;
                line-height: 48px;

                text-align: center;

                color: #fff;

                @include transform(skewX(30deg));
            }
            &.yellow {
                background-color: #fcc32c;
                span {
                    color: #243f53;
                }
            }
            &.red {
                background-color: #db4344;
                span {
                    color: #fff;
                }
            }
            &.green {
                background-color: #009688;
                span {
                    color: #fff;
                }
            }
            &.topaz {
                background-color: #16c6c2;
                span {
                    color: #fff;
                }
            }
            &.border {
                border: 1px solid #fff;
                background-color: transparent;
                span {
                    color: #fff;
                }
            }
        }
    }
    &.coming-soon {
        cursor: default;
    }
}

// Input style
// -------------------------
.group {
    position: relative;

    width: 100%;
    padding-top: 20px;
    /*max-width: 300px;*/
    margin: 0 auto;
    margin-bottom: 0;
}
input[type="text"],
input[type="number"],
textarea {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 5px;
    margin: 0;

    font-size: 15px;

    color: #5c5c5c;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    box-shadow: none;
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

/* LABEL 
======================================= */
.group label {
    position: absolute;
    top: 10px;
    left: 5px;

    font-size: 14px;
    font-weight: normal;

    -webkit-transition: .2s ease all;
       -moz-transition: .2s ease all;
            transition: .2s ease all;
    pointer-events: none;

    color: #999;
}

/* ACTIVE STATE */
input[type="text"]:focus ~ label,
input[type="number"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="number"]:valid ~ label,
textarea:focus ~ label {
    top: 10px;

    font-size: 12px;

    color: #16c6c2;
}
input[type="text"]:focus ~ label.active-input,
input[type="number"]:focus ~ label.active-input,
textarea:focus ~ label.active-input,
input[type="text"]:valid ~ label.active-input,
input[type="number"]:valid ~ label.active-input,
textarea:valid ~ label.active-input {
    font-size: 18px;
}
.group .active-input {
    top: 10px;

    color: #ffc107;
}
/* BOTTOM BARS 
================================= */
.bar {
    position: relative;

    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    position: absolute;
    bottom: 0;

    width: 0;
    height: 2px;

    content: "";
    -webkit-transition: .2s ease all;
       -moz-transition: .2s ease all;
            transition: .2s ease all;

    background: #16c6c2;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}


/* ERROR MESSAGE 
================================= */
.group .message {
    margin-top: 10px;

    text-align: left;

    opacity: 0;
}
.group #counter {
    // display: none;
    float: right;

    color: #777;
}
.group .cross-icon {
    position: absolute;
    top: 36px;
    right: 0;

    display: none;
    width: 15px;
    height: 15px;

    color: #db4344;
}

/* ACTIVE STATE 
--------------------------------------*/
input[type="text"]:focus ~ .bar:before,
input[type="number"]:focus ~ .bar:before,
textarea:focus ~ .bar:before,
input[type="text"]:focus ~ .bar:after,
input[type="number"]:focus ~ .bar:after,
textarea:focus ~ .bar:after {
    width: 50%;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
textarea:disabled {
    border-bottom-style: dotted;
    background: transparent;
}
/* HIGHLIGHTER 
================================== */
.highlight {
    position: absolute;
    top: 25%;
    left: 0;

    display: none;
    width: 100px;
    height: 60%;

    pointer-events: none;

    opacity: .5;
}

/* ACTIVE STATE 
---------------------------------------*/
input[type="text"]:focus ~ .highlight,
input[type="number"]:focus ~ .highlight,
textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter .3s ease;
       -moz-animation: inputHighlighter .3s ease;
            animation: inputHighlighter .3s ease;
}

/* ANIMATIONS 
================================== */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;

        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;

        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;

        background: transparent;
    }
}

// end


/*
==============================================
stretch
==============================================
*/

.stretch {
    display: table !important;

    @include media(min-width 768px) {
        @include animation-name(stretch);
    }
    @include transform-origin(50%);
    @include animation-timing-function(ease-out);
    @include animation-duration(.3s);
    @include transform(skew(-25deg));
}

@include keyframes(stretch) {
    0% {
        @include transform(skew(-25deg) scaleX(.3));
    }
    100% {
        @include transform(skew(-25deg) scaleX(1));
    }
}

.stretchBack {
    display: table !important;
    // @include media($mobile-devices) {
    //     @include transform(skew(0deg));
    // }

    @include transform-origin(50%);
    @include animation-timing-function(ease-in);
    @include animation-duration(.3s);
    @include animation-name(stretchBack);
    @include transform(skew(-25deg));
}

@include keyframes(stretchBack) {
    0% {
        @include transform(skew(-25deg) scaleX(1));
    }
    100% {
        @include transform(skew(-25deg) scaleX(.3));
    }
}
// end




.strechLeft {
    @include animation-duration(1.5s);
    @include animation-timing-function(ease-out);
    @include animation-name(strechLeft);
    @include transform-origin(100% 0%);
}

@include keyframes(strechLeft) {
    0% {
        @include transform(scaleX(.1));
    }
    100% {
        @include transform(scaleX(1));
    }
}

.strechRight {
    @include animation-duration(1.5s);
    @include animation-timing-function(ease-out);
    @include animation-name(strechLeft);
    @include transform-origin(0% 0%);
}

@include keyframes(strechLeft) {
    0% {
        @include transform(scaleX(.1));
    }
    100% {
        @include transform(scaleX(1));
    }
}

// FLoating button

.btn-overlay {
    z-index: 10;
    // @include transform(scale(0));
    // opacity: 0;

    display: none;

    background-color: rgba(0,0,0,.6);

    @include transition(all .3s);
    @include position(fixed, 0 0 0 0);
}

// Floating button with css and jQuery
#wrapper {
    position: fixed;
    right: 20px;
    bottom: 16px;
    z-index: 10;

    visibility: hidden;
    width: auto;
    height: auto;
    // width: 200px;
    // height: 380px;
    padding: 24px;
    // overflow: hidden;
    // -webkit-transform: translate(-50%, -50%);
    //         transform: translate(-50%, -50%);

    border-radius: 1.5px;
    // background-color: #fff;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    &.home {
        height: 300px;
    }
    &.available {
        visibility: visible;
        &.button-floating-clicked {
            z-index: 9999;

            padding-bottom: 65px;
        }
    }
}

.water-drop {
    position: absolute;
    z-index: 30;

    display: none;
    visibility: hidden;
    width: 42px;
    height: 58px;
    margin-left: 6px;

    // background: url(../images/waterdrop.svg) 0 0 no-repeat;
    // background-size: 42px 58px;
}
.available.button-floating-clicked ~ .btn-overlay {
    display: block;
}
.button-floating-clicked .water-drop {
    -webkit-animation: waterDrop .8s cubic-bezier(1, 0, .5, 0);
            animation: waterDrop .8s cubic-bezier(1, 0, .5, 0);
}
@-webkit-keyframes waterDrop {
    0% {
        visibility: visible;
    }
    75% {
        opacity: .6;
    }
    87.5% {
        opacity: .4;
    }
    100% {
        -webkit-transform: translateY(294px);

        opacity: 0;
    }
}
@keyframes waterDrop {
    0% {
        visibility: visible;
    }
    100% {
        transform: translateY(294px);

        opacity: 0;
    }
}

.button {
    position: relative;

    margin-bottom: 18px;

    border-radius: 50%;
}
.button:last-child {
    margin-bottom: 0;
}
.button-floating .plus {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    width: 55px;
    height: 55px;
    padding: 8px;
    margin: 0 ;

    line-height: 55px;

    text-align: center;

    color: white;
}
.button-floating .edit {
    width: 24px;
    height: 24px;
    margin-bottom: -2px;

    opacity: 0;
}
.button-floating,
.button-floating-shadow {
    width: 54px;
    height: 54px;
}
.button-floating {
    position: absolute;
    right: 25px;
    bottom: 4px;
    // left: 0;
    z-index: 40;
    // margin: 0 auto;

    font-size: 30px;
    line-height: 54px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #16c6c2;

    @include transition-duration(.3s);
    @include media($mobile-devices) {
        right: 2px;
        bottom: 0;

        margin-bottom: 10px;
    }

    // @include transform(translateX(-50%));
}
.button-floating-clicked .button-floating {
    @include transform(rotate(180deg));
    .plus {
        opacity: 0;
    }
    .edit {
        opacity: 1;
    }
}

.button-sub,
.button-floating-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

    @include transition-duration(.3s);
}
.button-floating-shadow {
    position: absolute;
    right: 25px;
    bottom: 23px;
    // left: 0;
    z-index: 20;
    // margin: 0 auto;

    border-radius: 50%;

    @include media($mobile-devices) {
        right: 2px;
        bottom: 0;

        margin-bottom: 10px;
    }
}
.button-sub:hover,
.button-floating:hover + .button-floating-shadow,
.button-floating-clicked .button-floating-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.button-sub {
    left: 0;
    z-index: 20;

    display: none;
    float: right;
    height: 52px;
    clear: both;

    opacity: 0;
    color: #888;
    border-radius: 5px;
    background-color: #fff;

    @include animation-duration(.3s);
    @include animation-fill-mode(backwards);
    @include media($mobile-devices) {
        margin-right: -20px;
    }

    a {
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(38);

        text-align: center;

        color: #888;
    }
}
.button-floating-clicked-out .button-sub {
    @include animation-name(fadeOut);
}
.button-floating-clicked .button-sub {
    display: block;
    padding: 8px 10px;

    cursor: pointer;
    text-align: center;

    opacity: 1;

    @include animation-name(bounceIn);
    &:nth-of-type(3) {
        @include animation-delay(.08s);
    }
    &:nth-of-type(2) {
        @include animation-delay(.14s);
    }
    &:nth-of-type(1) {
        @include animation-delay(.20s);
    }
}
@include keyframes(bounceIn) {
    0% {
        opacity: 0;

        @include transform(scale(.3));
    }
    100% {
        @include transform(scale(1));
    }
}
@include keyframes (fadeOut ){
    0% {
        opacity: 1;

        @include transform(scale(1));
    }
    100% {
        @include transform(scale(0));
    }
}

.button-sub[data-color=purple] {
    background-color: #9c27b0;

    @include animation-delay(.2s);
}
.button-floating-clicked .button-sub[data-color=purple] {
    @include animation-delay(.6s);
}

.button-sub[data-color=green] {
    background-color: #8bc34a;

    @include animation-delay(.15s);
}
.button-floating-clicked .button-sub[data-color=green] {
    @include animation-delay(.65s);
}

.button-sub[data-color=pink] {
    background-color: #e91e63;

    @include animation-delay(.1s);
}
.button-floating-clicked .button-sub[data-color=pink] {
    @include animation-delay(.7s);
}

.button-sub[data-color=indigo] {
    background-color: #3f51b5;

    @include animation-delay(.0.5s);
}
.button-floating-clicked .button-sub[data-color=indigo] {
    @include animation-delay(.75s);
}
.button-floating-clicked.button-sub-purple-clicked .button-sub[data-color=purple],
.button-floating-clicked.button-sub-green-clicked .button-sub[data-color=green],
.button-floating-clicked.button-sub-pink-clicked .button-sub[data-color=pink],
.button-floating-clicked.button-sub-indigo-clicked .button-sub[data-color=indigo] {
    z-index: 0;

    cursor: default;

    @include transform(scale(30));
    @include transition(all .4s ease-in);
}


.testimonials {
    position: relative;
    // padding: .5em 30px .5em 30px;

    font-size: 3.4em;
    line-height: normal;
    // font-style: italic;
    &::before {
        position: absolute;
        top: 0;
        left: 20px;
        // font-family: Arial;
        // font-size: 4em;

        width: 50px;
        height: 40px;

        content: " ";

        background-image: url(../images/svgs/quote.svg);
        // color: #eee;
        background-repeat: no-repeat;

        @include media($mobile-devices) {
            left: 0;

            width: 40px;
            height: 30px;
        }
        @include transform(rotate(180deg));
    }
    &::after {
        position: absolute;
        top: 0;
        right: 20px;
        // font-family: Arial;
        // font-size: 4em;
        // content: "\201D";
        // color: #eee;

        width: 50px;
        height: 40px;

        content: " ";

        color: #eee;
        background-image: url(../images/svgs/quote.svg);
        background-repeat: no-repeat;

        @include media($mobile-devices) {
            right: 0;

            width: 40px;
            height: 30px;
        }
    }
    p {
        float: none !important;
        margin: 0 auto;
        margin-right: auto !important;
        margin-bottom: 30px;

        font-size: rem(24);
        font-weight: 300;

        color: #4c4c4c;

        @include span-columns(8);
        @include media($mobile-devices) {
            font-size: rem(16);
        }
    }
    .author {
        .img {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin-right: 10px;
            overflow: hidden;

            vertical-align: middle;
            img {
                width: 60px;
                height: 60px;

                @include border-left-radius(50%);
                @include border-bottom-radius(50%);
                @include border-right-radius(50%);
                @include border-top-radius(50%);
            }
        }
        .name {
            display: inline-block;

            font-size: rem(20);
            font-weight: 300;

            text-align: left;
            vertical-align: middle;

            color: #787878;

            @include media($mobile-devices) {
                font-size: rem(16);
                .helper-text {
                    font-size: rem(14);
                }
            }
            .helper-text {
                display: block;

                font-size: rem(16);

                @include media($mobile-devices) {
                    font-size: rem(12);
                }
            }
        }
    }
    .direction-box {
        top: -35px;
        right: 11%;
        bottom: 35px;
    }
    &.insider {
        max-width: none;

        text-align: center;
        p {
            margin-bottom: 30px !important;

            font-size: rem(20);
            font-weight: 300;

            color: #5c5c5c;
        }
        & .author {
            .img {
                display: block;
                margin: 0 auto;
                img {
                    box-shadow: none;
                }
            }
            .name {
                text-align: center;
            }
        }
        &.hj {
            max-width: 920px !important;
            p {
                line-height: 30px;

                color: rgba(92,92,92,.8);
            }
        }
        &.explara {
            max-width: 620px;
        }
        &.ex-web {
            max-width: 920px;
            p {
                line-height: 30px;

                color: rgba(92,92,92,.8);
            }
        }
    }
}

// Custom file input
.js .inputfile {
    position: absolute;
    z-index: -1;

    width: .1px;
    height: .1px;
    overflow: hidden;

    opacity: 0;
}

.inputfile + label {
    display: inline-block;
    max-width: 80%;
    padding: .300rem 1.25rem;
    overflow: hidden;

    font-size: 1rem;
    /* 20px */
    font-weight: 400;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 10px 20px */

    color: #16c6c2;
    border: 1px solid #16c6c2;
    border-radius: 4px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    margin-top: -.25em;
    /* 4px */
    margin-right: .25em;

    vertical-align: middle;

    fill: currentColor;
    /* 4px */
}

// Parallax style
$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
    position: relative;

    width: 100%;
    // max-height: $parallax-window-height;
    overflow: hidden;

    text-align: center;
}

.parallax-static-content {
    position: relative;
    z-index: 9;
    // padding: 8em 0;

    color: #9a9a8a;
}

.parallax-background {
    position: absolute;
    top: - $parallax-window-height / 3;
    // left: 0;

    width: 100%;
    // background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") repeat;
    // background-position: top;
    // background-size: cover;
    // background-color: beige;
    // height: $parallax-background-height;
}

// Based on http://codepen.io/skeurentjes/
