.works{
  background-color: #fff;
  position: relative;

  .title-block{
    position: relative;
    max-width: 1000px;
    padding-top: 200px;

    @media(max-width: 1100px) {
      max-width: 90%;
      margin: 0 auto;
    }

    @media(max-width: 768px) {
      padding-top: 160px;
      max-width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }

    .title{
      margin-bottom: 0;
      font-family: $heading-font-family;
      font-size: 58px;
      color: #4a4a4a;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 30px;
      }

    }
    .desc {
      font-family: $base-font-family;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.52;
      color: #555555;
      padding-top: 15px;
      max-width: 760px;

      @media (max-width: 768px) {
        font-size: 20px;
      }

    }
  }

  .filters{
    display: none;
    min-height: 800px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;

    &.open{
      display: block;
    }
    label{

      @include media(max-width 1200px){
        font-size: 3rem;
      }
      @include media(max-width 992px){
        padding-right: 0;
        font-size: 2rem;
      }
      @include media(max-width 768px){
        font-size: 1.5rem;
      }
      display: inline-block;
      margin-right: 20px;
      font-size: 40px;
      font-size: rem(40);
      cursor: pointer;
      font-family: $heading-font-family;
      font-weight: 300;
      text-align: left;
      color: rgba(47, 68, 84, 0.4);

      &:last-child{
        margin-right: 0;
        &:after{
          content: '';
        }
      }

      &:after{
        color: rgba(47, 68, 84, 0.4);
        content: '/';
      }

      &:hover,&.active{
        color: #16c6c2;
      }

      input{
        display: none;
      }
    }
  }
  .red {
    position: absolute;
    width: 147px;
    height: 147px;
    -webkit-transform: rotate(60deg) translateY(-2%);
            transform: rotate(60deg) translateY(-2%);
    opacity: 0.6;
    border: solid 1px #d24545;
    top: 2%;
    left: 80px;
    @media (max-width: 992px) {
      display: none;
    }
  }
  .blue {
    width: 243px;
    height: 243px;
    -webkit-transform: rotate(40deg) translateY(-4%);
            transform: rotate(40deg) translateY(-4%);
    opacity: 0.7;
    border: solid 1px #45d2cf;
    position: absolute;
    top: 4%;
    right: 100px;
    @media (max-width: 992px) {
      display: none;
    }
  }
  .yellow {
    width: 92px;
    height: 92px;
    -webkit-transform: rotate(100deg) translateX(-50%);
            transform: rotate(100deg) translateX(-50%);
    opacity: 0.6;
    border: solid 1px #d2a745;
    position: absolute;
    top: 60px;
    left: 50%;
    @media (max-width: 992px) {
      display: none;
    }
  }
}

.section.new-home-content1.portfolio {
  .content-wrapper{
    padding: 0;
  }
}
