doctype 5
html.no-js lang="en"
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" /
    title
      = "#{@title}"
    meta content="#{@description}" name="description" /
    meta content="#{@keyword}" name="keywords" /
    / Open graph protocol
    meta content="en_US" property="og:locale" /
    meta content=" website" property="og:type" /
    meta content="#{@og_title}" property="og:title" /
    meta content="#{@og_description}" property="og:description" /
    meta content="#{@og_url}" property="og:url" /
    meta content="Parallel Labs" property="og:site_name" /
    meta content="#{@og_image}" property="og:image" /
    / Twitter Card
    meta content="summary" name="twitter:card" /
    meta content="#{@twitter_url}" name="twitter:url" /
    meta content="#{@twitter_title}" name="twitter:title" /
    meta content="#{@twitter_description}" name="twitter:description" /
    meta content="#{@twitter_image}" name="twitter:image" /
    meta name="google-site-verification" content="ZOxMEOTYRfVmH_bAiRaHYb9tMth8zjJlXwtR537nkco" /

    link href="http://parallellabs.io/" rel="canonical" /
    link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" /
    link rel="stylesheet" href="stylesheets/vendors/owl.carousel.css"/
    link rel="stylesheet" href="stylesheets/all.css"/
    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-47999745-2']);
      _gaq.push(['_gat._forceSSL']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    javascript:
      (function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);

  body
    .wrapper.new.overflow-XH.home
      = partial "layouts/homeHeader.slim"
      == yield

    = partial "layouts/new_footer.slim"
    / jQuery
    script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"
    script type="text/javascript" src="javascripts/backbone_custom.js"
    script type="text/javascript" src="javascripts/instafeed.min.js"
    script type="text/javascript" src="javascripts/jribbble.min.js"
    script type="text/javascript" src="javascripts/owl.carousel.js"
    script type="text/javascript" src="javascripts/ion.rangeSlider.min.js"
    script type="text/javascript" src="javascripts/jquery.parallax.min.js"
    script type="text/javascript" src="javascripts/jquery.dotdotdot.min.js"
    script type="text/javascript" src="javascripts/blazy.min.js"
    / script type="text/javascript" src="javascripts/jquery.lazyloadxt.extra.min.js"
    script type="text/javascript" src="javascripts/all.js"
    script type="text/javascript" src="javascripts/retina.min.js"
    javascript:
      $(document).ready(function() {

        var sync1 = $("#sync1");
        var sync2 = $("#sync2");

        sync1.owlCarousel({
          singleItem : true,
          slideSpeed : 1000,
          navigation: false,
          pagination:false,
          afterAction : syncPosition,
          responsiveRefreshRate : 200,
          afterInit : function(elm){
            var activeElm = elm.find(".owl-item").eq(2);
            activeElm.trigger("owl.jumpTo", 2).addClass("synced-show");
          }
        });

        sync2.owlCarousel({
          items : 5,
          //itemsDesktop      : [1199,10],
          //itemsDesktopSmall     : [979,10],
          //itemsTablet       : [768,8],
          //itemsMobile       : [479,4],
          pagination:false,
          responsiveRefreshRate : 100,
          afterInit : function(el){
            el.find(".owl-item").eq(2).addClass("synced");
          }
        });

        function syncPosition(el){
          var current = this.currentItem;
          $("#sync1").find(".owl-item").removeClass("synced-show").eq(current).addClass("synced-show");
          $("#sync2")
            .find(".owl-item")
            .removeClass("synced")
            .eq(current)
            .addClass("synced")
          //if($("#sync2").data("owlCarousel") !== undefined){
          //  center(current)
        //  }
        }

        $("#sync2").on("click", ".owl-item", function(e){
          // e.preventDefault();
          var number = $(this).data("owlItem");
          sync1.trigger("owl.jumpTo",number);
        });

        function center(number){
          var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
          var num = number;
          var found = false;
          for(var i in sync2visible){
            if(num === sync2visible[i]){
              var found = true;
            }
          }

          if(found===false){
            if(num>sync2visible[sync2visible.length-1]){
              sync2.trigger("owl.goTo", num - sync2visible.length+2)
            }else{
              if(num - 1 === -1){
                num = 0;
              }
              sync2.trigger("owl.goTo", num);
            }
          } else if(num === sync2visible[sync2visible.length-1]){
            sync2.trigger("owl.goTo", sync2visible[1])
          } else if(num === sync2visible[0]){
            sync2.trigger("owl.goTo", num-1)
          }

        }

      });

    javascript:
      $(document).ready(function(){
        // Instafeed call api to fetch latest image
        var userFeed = new Instafeed({
            // target: 'instagram',
            get: 'user',
            userId: 2056875725,
            accessToken: '2056875725.544c1eb.6de846b2f804457fb3ecaef7c1fb1fe7',
            clientId: '544c1ebae831472097a2eb3f266e6155',
            limit: 1,
            link: false,
            resolution: 'standard_resolution',
            sortBy: 'most-recent',
            template: '<div class="right mobile"> <div class="img-box"></div><div id="instafeed"> <a target="_blank" href="{{link}}"><img src="{{image}}"/></a> </div></div><div class="left"><div class="logo-img"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/svgs/iconset.svg#icon-Instagram_simple_icon"></use></svg></div> <div class="content"> <h2>{{caption}}</h2></div><a href="https://instagram.com/parallellabs/" target="_blank">Follow us on Instagram</a></div><div class="right"> <div class="img-box"></div><div id="instafeed"> <a target="_blank" href="{{link}}"><img src="{{image}}"/></a> </div></div>'

        });
        userFeed.run();

        $('.section.new-home-content.media .media-card .right a').find('img').each(function(n, img) {
          var imgUrl = $(this).attr('src');
          // console.log(imgUrl);
          $(this).parents('.right').find('.img-box').css({'background': 'url(' + imgUrl + ') center center no-repeat'})
        });

        //carousel inisitialized
        function mobile() {
          var checkWidth = $(window).width();
          var demo = $("#client_carousel");
          if (checkWidth > 768) {
            demo.data('owlCarousel').destroy();
            demo.removeClass('owl-carousel');
          } else if (checkWidth < 769) {
            demo.owlCarousel({
              singleItem:true,
              responsive : {
                // breakpoint from 0 up
                0 : {
                  items : 1,
                  nav:false
                },
                  // breakpoint from 480 up
                480 : {
                  items : 2,
                  nav:false
                },
                // breakpoint from 768 up
                768 : {
                  items : 3,
                  nav:false
                  }
                }
              });
            }
          }

        $(document).ready(mobile);
        $(window).resize(mobile);


      });

      $(window).load(function(){
        $('.section.new-home-content.media .media-card .right #instafeed a').find('img').each(function(n, img) {
          var imgUrl = $(this).attr('src');

          $(this).parents('.right').find('.img-box').css({'background': 'url(' + imgUrl + ') center center no-repeat'})
        });
        // from dribble
        $('.section.new-home-content.media .media-card .right #shots a').find('img').each(function(n1, img1) {
          var imgUrl1 = $(this).attr('src');
          // console.log(imgUrl1);
          $(this).parents('.right').find('.img-box').css({'background': 'url(' + imgUrl1 + ') center center no-repeat'})
        });
      });
