doctype 5
html.no-js lang="en"
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" /
    title
      = "#{@title}"
    meta content="#{@description}" name="description" /
    meta content="#{@keyword}" name="keywords" /
    / Open graph protocol
    meta content="en_US" property="og:locale" /
    meta content=" website" property="og:type" /
    meta content="#{@og_title}" property="og:title" /
    meta content="#{@og_description}" property="og:description" /
    meta content="#{@og_url}" property="og:url" /
    meta content="Parallel Labs" property="og:site_name" /
    meta content="#{@og_image}" property="og:image" /
    / Twitter Card
    meta content="summary" name="twitter:card" /
    meta content="#{@twitter_url}" name="twitter:url" /
    meta content="#{@twitter_title}" name="twitter:title" /
    meta content="#{@twitter_description}" name="twitter:description" /
    meta content="#{@twitter_image}" name="twitter:image" /

    link href="http://parallellabs.io/" rel="canonical" /
    link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" /
    link rel="stylesheet" href="stylesheets/normalize.css"/
    link rel="stylesheet" href="stylesheets/vendors/owl.carousel.css"/
    link rel="stylesheet" href="stylesheets/vendors/animate.css"/
    link rel="stylesheet" href="stylesheets/all.css"/
    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-47999745-2']);
      _gaq.push(['_gat._forceSSL']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    javascript:
      (function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);



  body

    = partial "layouts/homeHeader.slim"

    == yield
    
    = partial "layouts/main_form.slim"
    = partial "layouts/new_footer.slim"

    / jQuery
    script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"
    script type="text/javascript" src="/javascripts/backbone_custom.js"
    script type="text/javascript" src="javascripts/instafeed.min.js"
    script type="text/javascript" src="javascripts/jqcloud.js"
    script type="text/javascript" src="javascripts/owl.carousel.js"
    script type="text/javascript" src="javascripts/ion.rangeSlider.min.js"
    script type="text/javascript" src="javascripts/imagelightbox.min.js"
    script type="text/javascript" src="javascripts/imagelightbox_custom.js"
    script type="text/javascript" src="javascripts/career_form.js"
    / script type="text/javascript" src="javascripts/all.js"
    script type="text/javascript" src="javascripts/retina.min.js"

    javascript:
        $(document).ready(function(){
            // Instafeed call api to fetch latest image
            var userFeed = new Instafeed({
                // target: 'instagram',
                get: 'user',
                userId: 2056875725,
                accessToken: '2056875725.544c1eb.6de846b2f804457fb3ecaef7c1fb1fe7',
                clientId: '544c1ebae831472097a2eb3f266e6155',
                limit: 6,
                link: false,
                resolution: 'standard_resolution',
                sortBy: 'most-recent',
                template: '<div class="colm"><img src="{{image}}"/></div>'
            });
            userFeed.run();

          


                        $("#owl-demo").owlCarousel({
                          navigation : false, // Show next and prev buttons
                          // navigationText: [
                          //    "<i class='icon-chevron-left icon-white'><</i>",
                          //    "<i class='icon-chevron-right icon-white'>></i>"
                          //    ],
                          slideSpeed : 300,
                          paginationSpeed : 400,
                          singleItem:true,
                          afterAction: function(el){
                            //remove class active
                            this
                            .$owlItems
                            .removeClass('active na');

                            //add class na
                            this
                            .$owlItems
                            .addClass('na');
                            //add class active
                            this
                            .$owlItems
                            .eq(this.currentItem)
                            .removeClass('na')
                            .addClass('active');
                           }
                          // "singleItem:true" is a shortcut for:
                          // items : 1,
                          // itemsDesktop : false,
                          // itemsDesktopSmall : false,
                          // itemsTablet: false,
                          // itemsMobile : false
                        });

            


        });
        // calculating colm height to make last colm height same
        //$(window).load(function(){
            //var gridColmHeight = $('.grid .colm').height();
            //console.log(gridColmHeight);
            //$('.grid .colm:last-child').after('<div class="colm last"><div class="content"><span class="h2">Want to join our Team?</span><span></span></div></div>');
            //$('.grid .colm.last').css({'height' : gridColmHeight});
        //}).resize(function(){
            //var gridColmHeight = $('.grid .colm').height();
            //$('.grid .colm.last').css({'height' : gridColmHeight});
        //});

    script type="text/javascript" src="javascripts/all.js"
    script type="text/javascript" src="javascripts/retina.min.js"

    javascript:

        // cloud tag
        var robin = [{text: "Meditation", weight: 9},
        {text: "Pilates", weight: 3},
        {text: "Hiking", weight: 9},
        {text: "Strategy", weight: 5},
        {text: "UX Design", weight: 9},
        {text: "Devil's Advocate", weight: 5},
        {text: "GTD", weight: 3},
        {text: "Coldplay", weight: 5},
        {text: "Vespa", weight: 1},
        {text: "Minimalism", weight: 3},
        {text: "Slack", weight: 1}
        ];

        var sreenath = [{text: "Silent Mode", weight: 3},
        {text: "Filter Coffee", weight: 9},
        {text: "Xbox", weight: 9},
        {text: "Instagram", weight: 1},
        {text: "Photoshop", weight: 5},
        {text: "Invision", weight: 1},
        {text: "Oneplus", weight: 5},
        {text: "AR Rahman", weight: 9},
        {text: "GSM Arena", weight: 5},
        {text: "Saving Private Ryan", weight: 3},
        {text: "Aloo Paratha", weight: 5},
        {text: "Cricket", weight: 3}
        ];

        var Bhaghya = [{text: "reeses", weight: 5},
        {text: "cartooning", weight: 9},
        {text: "books", weight: 1},
        {text: "chumma", weight: 5},
        {text: "edm", weight: 3},
        {text: "stationery", weight: 5},
        {text: "cheesecake", weight: 9},
        {text: "vlogs", weight: 1},
        {text: "animals before humans", weight: 3}
        ];

        var Chaitanya = [{text: "UI Designing", weight: 3},
        {text: "Sketching", weight: 3},
        {text: "Photography", weight: 5},
        {text: "Music", weight: 9},
        {text: "Motion Graphics", weight: 1},
        {text: "NFS", weight: 1},
        {text: "GTA 5", weight: 5},
        {text: "Code Geass", weight: 1},
        {text: "XBOX", weight: 9},
        {text: "KFC", weight: 3},
        {text: "Pulpy Orange", weight: 5},
        {text: "Introvert", weight: 1}
        ];

        var Rakesh = [{text: "Cricket", weight: 3},
        {text: "Coke studio", weight: 5},
        {text: "Asphalt", weight: 9},
        {text: "Music", weight: 1},
        {text: "Html5", weight: 5},
        {text: "Relic run", weight: 3},
        {text: "css3", weight: 9},
        {text: "Gym", weight: 3},
        {text: "volley Ball", weight: 1},
        {text: "Traveling", weight: 9},
        {text: "Namaste london", weight: 5}
        ];

        var Vish = [{text: "Minimalist", weight: 3},
        {text: "swimmer", weight: 5},
        {text: "Netflix", weight: 9},
        {text: "iOS", weight: 1},
        {text: "Gajar ka halwa", weight: 5},
        {text: "Alternate rock", weight: 3},
        {text: "Traveller", weight: 9},
        {text: "Books", weight: 3},
        {text: "startups", weight: 1}
        ];

        var Devshree = [{text: "Party enthusiast", weight: 3},
        {text: "wanderlust", weight: 9},
        {text: "dancer", weight: 9},
        {text: "paani puri", weight: 1},
        {text: "extrovert", weight: 5},
        {text: "hyper", weight: 1},
        {text: "doodling", weight: 5},
        {text: "half Sandwich", weight: 9},
        {text: "passionate", weight: 5},
        {text: "above and beyond", weight: 3}
        ];

        var Allan = [{text: "Music", weight: 5},
        {text: "Coffee", weight: 3},
        {text: "Football", weight: 5},
        {text: "Travelling", weight: 9},
        {text: "Goan Fish Curry", weight: 5},
        {text: "HTML", weight: 1},
        {text: "CSS3", weight: 5},
        {text: "Nexus", weight: 9}
        ];

        var Ameya = [{text: "Sketching", weight: 5},
        {text: "GYM", weight: 9},
        {text: "trekking", weight: 1},
        {text: "Pets", weight: 5},
        {text: "Tea addict", weight: 3},
        {text: "Chatterbox", weight: 5},
        {text: "Dhol Tasha", weight: 9},
        {text: "UX Design", weight: 1},
        {text: "Gadget Freak", weight: 3},
        {text: "Hardcore gamer", weight: 5}
        ];

        $('.cloud_1').jQCloud(robin,{height:200,autoResize: true,removeOverflowing: true,shape: 'rectangular'});
        $('.cloud_2').jQCloud(sreenath,{height:200,autoResize: true,removeOverflowing: true,shape: 'rectangular'});
        $('.cloud_3').jQCloud(Bhaghya,{height:200,autoResize: true,removeOverflowing: true,shape: 'rectangular'});
        $('.cloud_4').jQCloud(Chaitanya,{height:200,autoResize: true,removeOverflowing: false,shape: 'rectangular'});
        $('.cloud_5').jQCloud(Rakesh,{height:200,autoResize: true,removeOverflowing: false,shape: 'rectangular'});
        $('.cloud_6').jQCloud(Vish,{height:200,autoResize: true,removeOverflowing: false,shape: 'rectangular'});
        $('.cloud_7').jQCloud(Devshree,{height:200,autoResize: true,removeOverflowing: true,shape: 'rectangular'});
        $('.cloud_8').jQCloud(Allan,{height:200,autoResize: true,removeOverflowing: false,shape: 'rectangular'});
        $('.cloud_9').jQCloud(Ameya,{height:200,autoResize: true,removeOverflowing: true,shape: 'rectangular'});
