@font-face {
    font-family: "bebas_neue_regularregular";
    font-style: normal;
    font-weight: normal;

    src: url("fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bebasneue_regular-webfont.woff2") format("woff2"),
    url("fonts/bebasneue_regular-webfont.woff") format("woff"),
    url("fonts/bebasneue_regular-webfont.ttf") format("truetype"),
    url("fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular") format("svg");
    src: url("fonts/bebasneue_regular-webfont.eot");
}

@font-face {
    font-family: "bebas_neuebold";
    font-style: normal;
    font-weight: normal;

    src: url("fonts/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bebasneue_bold-webfont.woff2") format("woff2"),
    url("fonts/bebasneue_bold-webfont.woff") format("woff"),
    url("fonts/bebasneue_bold-webfont.ttf") format("truetype"),
    url("fonts/bebasneue_bold-webfont.svg#bebas_neuebold") format("svg");
    src: url("fonts/bebasneue_bold-webfont.eot");
}

$bebasN_B: "bebas_neuebold";
$bebasN_R: "bebas_neue_regularregular";

html,
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    color: $base-font-color;

    // font-feature-settings: "kern", "liga", "pnum";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 $small-spacing;

    font-family: $heading-font-family;
    font-size: $base-font-size;
    font-weight: 800;
    line-height: $heading-line-height;
}

p {
    margin: 0 0 $small-spacing;
}

a {
    display: inline-block;

    transition: color $base-duration $base-timing;
    text-decoration: none;

    color: $action-color;

    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}

hr {
    margin: $base-spacing 0;

    border-top: 0;
    border-right: 0;
    border-bottom: $base-border;
    border-left: 0;
}

img,
picture {
    max-width: 100%;
    margin: 0;
}
