---
layout: parallex_layout
---
- @title = "Appjoy | Parallel Labs"
- @description = "Finding The Right Resources for Mobile Apps Made Fun with Appjoy"
- @keyword = "Appjoy Design Case Study, Parallel Labs appjoy"
- @og_title = "Parallel Labs Appjoy"
- @og_description = "Finding The Right Resources for Mobile Apps Made Fun with Appjoy"
- @og_url = "http://parallellabs.io/appjoy.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Prallel Labs Appjoy"
- @twitter_description = "Finding The Right Resources for Mobile Apps Made Fun with Appjoy"
- @twitter_url = "http://parallellabs.io/appjoy.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

= partial "layouts/header.slim"

/ content

.section.master-banner.casestudy.appjoy-banner
  .overlay
    h2.title
      | Finding The Right Resources for Mobile Apps Made Fun with Appjoy
  .members.smartceo
    .member
      |<img src="images/Robin.jpg" alt="Robin" />
      |<span class="member-name">Robin</span>
      |<span class="role">UX Design</span>

    .member
      |<img src="images/Chaitanya.jpg" alt="Chaitanya" />
      |<span class="member-name">Chaitanya</span>
      |<span class="role">UI Design</span>

    .member
      |<img src="images/Rakesh.jpg" alt="Rakesh" />
      |<span class="member-name">Rakesh</span>
      |<span class="role">Front End Dev</span>
  
  .stats
    .stat
      |<span class="numbers">03</span>
      |<span class="stat-text">Members</span>
    .slant
      
    .stat
      |<span class="numbers">05</span>
      |<span class="stat-text">Weeks</span>
    .slant
      
    .stat
      |<span class="numbers">04</span>
      |<span class="stat-text">Brainstroming Sessions</span>
    .slant
      
    .stat
      |<span class="numbers">03</span>
      |<span class="stat-text">Design Reviews</span>
      
.section.new-home-content.casestudy-content
  p
    |Appjoy started off as a side project and was the brainchild of Binay Tiwari who has been in the mobile space for many years having worked with Vodafone, InMobi and Vserv. The vision of the product was to create a platform which helps app developers, designers and marketers with resources rated by the community. We found the idea very exciting for its potential to make an impact on creating better apps and started working together to define, design and develop the product.
  img src="images/appjoy/appjoy-home.png" alt="appjoy screen" /   
                        
  h2.PT-120
    |Keeping it Lean yet Powerful<span class="border ML0-imp"></span>
  p
    |We were building an MVP to validate the response to the concept and build it organically. Hence, we consciously avoided the storm of possibilities around the project and stuck to the basics of listing resources and making them useful with all the relevant information like pricing plans, key features, platforms supported displayed clearly to help finding the right resources easy.
  |<img src="images/appjoy/appjoy-home.png" alt="appjoy screen"/>
  
  h2.PT-120
    |Experimenting with Material Design for Web<span class="border ML0-imp"></span>
  p
    |Material design is primarily associated for Android apps but the principles of Material design are very robust and can be applied to other platforms as well. Since the platform was all about apps and material design was new, we decided to give it a spin and use material design for the visual style of the website.

.section.appjoy-cards
  img.smartceo-center src="images/appjoy/aj-01.png" /
  img.smartceo-center.PT-60 src="images/appjoy/aj-05.png" /
  
  .col-7
    img.appjoy-center.PT-30 src="images/appjoy/aj-07.png" /
    img.appjoy-center src="images/appjoy/aj-06.png" /
  .col-5
    img.appjoy-center-2.PT-30 src="images/appjoy/aj-02.png" /
    img.appjoy-center-2 src="images/appjoy/aj-03.png" /
    img.appjoy-center-2 src="images/appjoy/aj-04.png" /

  
.section.new-home-content.interfaces
  .content-section
    h2
      |Beautiful Interface<span class="border"></span>
    img.laptop src="images/explara/mock.png"/
    .sky-carousel#sky-carousel-3
      .sky-carousel-wrapper
        ul.sky-carousel-container
          li
            img alt="Slider images" src="images/appjoy/01.png" /
            .sc-content
              p
                |topic
    
          li
            img alt="Slider images" src="images/appjoy/02.png" /
            .sc-content
              p
                |category
          li
            img alt="Slider images" src="images/appjoy/Home.png" /
            .sc-content
              p
                |Home
          li
            img alt="Slider images" src="images/appjoy/SideNav.png" /
            .sc-content
              p
                |Slide Nav
      
.section.new-home-content.clients.testimonial
  .casestudy-testimonial
    svg
      use xlink:href="/images/svgs/iconset.svg#icon-quote"
    h2
      | Testimonials <span class="border"></span>
    
    img src="images/santosh.jpg" alt="Client image"/
    p.case
      |We loved working with Parallel Labs for the complex task of redesigning the app grounds up based on user-feedback. The team was attentive to our requirements, suitably adaptive and above all were very excited to work on the CricBet game. Highly recommended.
    h4
      |Pratik Shah, Founder, Cricbet
      
.section.new-home-content.project-nav
  a href="citrus.html"
    .prev.box-shape
      .inside
        |<span class="project-name">CITRUS</span>
        |<span class="project-desc">Consumer Payments</span>
    .box2.FL-l
      svg
        use xlink:href="images/svgs/iconset.svg#icon-left-arrow"
      
  .fancy-line
    |See more awesome stuff
  
  a href="cricbet.html"
    .next.box-shape
      .inside
        |<span class="project-name">CRICBET</span>
        |<span class="project-desc">Live Cricket Prediction Game</span>
    .box2.FL-r
      svg
        use xlink:href="images/svgs/iconset.svg#icon-right-arrow"
      
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in touch

= partial "layouts/main_form.slim"
