---
layout: parallex_layout
---
- @title = "Bleems Website Design | UX Design to Recreate Gift Shopping Experience Online"
- @description = "Case Study of designing a website of a marketplace for flowers, cakes and other gift items."
- @keyword = "Gifting, UX Design, flowers, cakes, Shopping, e-commerce, marketplace"
- @og_title = "Designing Bleems Website to Recreate Gift Shopping Experience Online "
- @og_description = "Case Study of designing a website of a marketplace for flowers, cakes and other gift items."
- @og_url = "http://parallellabs.io/bleems-web.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Designing Bleems Website to Recreate Gift Shopping Experience Online "
- @twitter_description = "Case Study of designing a website of a marketplace for flowers, cakes and other gift items."
- @twitter_url = "http://parallellabs.io/bleems-web.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

/ content
.section.master-banner.casestudy.bleems-banner.height-fix
  .banner-content
    h2.title
      | Bringing the Local Flower, Bakery and Gift Market to The Doorsteps
    .members.smartceo
      .member
        |<img src="images/Bharat200x200.jpg" alt="Bharat" />
        |<span class="member-name">Bharat</span>
        |<span class="role">UX Design</span>

      .member
        |<img src="images/juhi200x200.jpg" alt="Juhi" />
        |<span class="member-name">Juhi</span>
        |<span class="role">UX Design</span>

      .member
        |<img src="images/Bhaghya.png" alt="Bhaghya" />
        |<span class="member-name">Bhaghya</span>
        |<span class="role">UI &amp; UX Design</span>

    .stats
      .stat
        |<span class="numbers">8</span>
        |<span class="stat-text">Weeks</span>
      .slant

      .stat
        |<span class="numbers">40</span>
        |<span class="stat-text">emails</span>
      .slant

      .stat
        |<span class="numbers">24</span>
        |<span class="stat-text">Skype Calls</span>

.section.new-home-content.casestudy-content
  p
    |Bleems is not just another e-commerce website. It is a marketplace for flowers, cakes and other gift items, based out of Kuwait. Being the first mover to the market, it enjoys a good share in the gifting market.  Taking into account the predominant brick and mortar shopping habits of the local demography, Bleems wanted to replicate the shopping mall User Experience on their website. The aim was to have a minimalistic website that appealed to a wide range of demographics and make the navigation easy enough for product to be discovered.
  p
    |They were planning on expanding their base to other countries in the middle east, hence wanted to make sure that their users get a seamless experience of ordering gifts on their website.

.section.new-home-content.casestudy-content
  h2
    |Homepage <span class="border ML0-imp"></span>
  p
    |The goal of the homepage was to make it look classy and beautiful. Also, to make sure that it is easier for the user to find what they are looking for or help them find the perfect gift, when they don’t know what they want.
    img src="images/bleems/bleems-home.png" alt="Bleems screen"

.section.new-home-content.casestudy-content
  h2
    |Location <span class="border ML0-imp"></span>
  p
    |Since the shops varied from city to city, we were stuck with the decision of letting the users see the website directly or making them choose the city first, which definitely acts as a roadblock. Finally we decided choose location before they the user could browse through the products. We put an overlay over the homepage so that they could see what is inside the website, while they enter the location.
    img src="images/bleems/bleems-location.png" alt="Bleems screen"

.section.new-home-content.casestudy-content
  h2
    |Category and Occasions <span class="border ML0-imp"></span>
  p
    |Bleems experienced fluctuating shopping patterns. There was high traffic and purchases during specific events like festivals and Mother’s day. They wanted to keep the website relevant and increase the traffic round the year. Thus, we tied the gift products to emotions and not events.
  p
    |For people who knew what to order, categories were introduced, so that they could easily choose between what they wanted to do. Users who did not know what to gift could browse the products according to the occasion. Ease of discovery was our main focus.
    img src="images/bleems/bleems-category.jpg" alt="Bleems screen"

.section.new-home-content.casestudy-content
  h2
    |Sending gifts to multiple people <span class="border ML0-imp"></span>
  p
    |E-commerce is not very difficult to build nowadays, but it was very important for us to keep the checkout process as a no brainer for all the users. The combination of global reach of Bleems and local scale of operations made the selection of products and checkout a tricky affair.
  p
    |We realised that a lot of users of this app send gifts to multiple people which was not very efficient in the previous app. It took a lot of ideations and brainstorming sessions to come up with a smooth checkout process when the user wants to send the gifts to multiple people.
    img src="images/bleems/bleems-checkout.png" alt="Bleems screen"

.section.new-home-content.project-nav
  a href="indiamart.html"
    .prev.box-shape
      .inside
        |<span class="project-name">INDIAMART</span>
        |<span class="project-desc"></span>
    .box2.FL-l
      svg
        use xlink:href="images/svgs/iconset.svg#icon-left-arrow"

  .fancy-line
    |See more awesome stuff

  a href="citrus.html"
    .next.box-shape
      .inside
        |<span class="project-name">CITRUS</span>
        |<span class="project-desc">DIGITAL GIFTING</span>
    .box2.FL-r
      svg
        use xlink:href="images/svgs/iconset.svg#icon-right-arrow"


/ = partial "layouts/main_form.slim"
