---
layout: new_layout
---
- @title = "Careers | Join Team Parallel Labs"
- @description = "Do the best work of your life and work with a talented team on some really exciting UX design projects"
- @keyword = "Parallel Labs Careers , Design Careers, UI/UX Design Jobs,  UX Designer Jobs in Bangalore, UI Designer Job bangalore"
- @og_title = "Parallel Labs Blog"
- @og_description = "Article and Insights from Parallel Labs team on everything design"
- @og_url = "http://parallellabs.io/careers.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "Article and Insights from Parallel Labs team on everything design"
- @twitter_url = "http://parallellabs.io/careers.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

= partial "layouts/header.slim"

/ content
.section.master-banner.with-img
  .overlay
  h2.title
    | Join our Tribe 

.section.new-home-content.career-content
  h2
    | You’ll love it here <span class="border ML0-imp"></span>
  p
    | At Parallel Labs, you will work with a small but diverse team of problem solvers. We are all very passionate about what we do and choose to show it in our own ways.
  p
    | We are generally picky about our projects, but the ones we do choose to take up, light us up like neon signs. This allows us to truly give it our all. On the other side of our phones, our clients consist of people with interesting questions who recognize the value design (and you!) add to their business. We’ve worked hard at building the ideal workspace to bring out the best in everyone. We couldn’t care less about the tools and software you choose as long it helps you build some great stuff.
  p
    | If bad design keeps you up at night, if you dream in code, if you’re constantly on the lookout for the next big startup(?), we think you’re going to fit right in.

.section.new-home-content.career-content
  h1.fancy-title
    | For those who are driven by passion and not perks
  p.note
    | But let’s face it, some kickass perks won’t hurt.

/ .section.new-home-content.career-content.PLR0-imp.fluid
/   / .grid#instafeed
/   .grid
/     .colm
/       img src="../images/career_grid1@2x.jpg" alt="Grid image"/
/       .hover-text
/         span
/           | Peaceful Workspace
/     .colm
/       img src="../images/career_grid4@2x.jpg" alt="Grid image"/
/       .hover-text
/         span
/           | Best machines and software
/     .colm
/       img src="../images/career_grid1@2x.jpg" alt="Grid image"/
/       .hover-text
/         span
/           | Lounge Area with Xbox
/     .colm
/       img src="../images/career_grid4@2x.jpg" alt="Grid image"/
/       .hover-text
/         span
/           | Always stocked Pantry
/     .colm
/       img src="../images/career_grid1@2x.jpg" alt="Grid image"/
/       .hover-text
/         span
/           | Flexible Timings
/     .colm
/       img src="../images/career_grid4@2x.jpg" alt="Grid image"/
/       .hover-text
/         span
/           | Work-Life Balance

.section.new-home-content.career-content.fluid
  h2
    | Here’s what your future team-mates have to say about us <span class="border ML0-imp"></span>
  div#owl-demo.owl-carousel.owl-theme.team-views
    div.item.left
      .card
          svg class="icon-quote"
            use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svgs/iconset.svg#icon-quote"
          p
            | I joined Parallel Labs 4 months ago and havent looked back since then. As a designer it was very refreshing to be involved in not just the visuals, but the product strategy as well. The growth here is immense. There's never a dull moment at Parallel labs. From planning foosball tournaments to going on wildlife treks, we do it all.
            span.cred
              span.med
                |Juhi Goel
              span.small
                |UX Manager
          .yellow-border
            |<img class="item-img" src="images/Juhi.png" alt="Designer's image"/>
    div.item.right        
      .card
          svg class="icon-quote"
            use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svgs/iconset.svg#icon-quote"
            p
              | I have been working in Parallel Labs since 2 years. I can say that I have grown along with the company,  and learned a lot on the way. I have the best co-workers who never shy away from new ideas and are always open to feedback. I love the office space which provides me the perfect environment to relax and boost my creativity. I am happy to have a job that offers me variety and challenges me to push my limits.
              span.cred
                span.med
                  |Chaitanya Alluru
                span.small
                  |Interface Designer
          .yellow-border
            |<img class="item-img" src="images/Chaitanya1.png" alt="Designer's image"/>  
          
.section.new-home-content.career-content.single-post
  h2.text-center
    | What do you like to do? <span class="border"></span>
  .job-openings
    / .colm
    /   a.h2 href="visual-designer.html"
    /     | Visual <span class="designation">Designer</span>
    /     | <span class="helper">Full time . Bangalore</span>
    /   p
    /     | Craft digital experiences that look as good as they work.
    / .colm
    /   a.h2 href="ux-manager.html"
    /     | UX <span class="designation">Manager</span>
    /     | <span class="helper">Full time . Bangalore</span>
    /   p
    /     | Solve real problems through design, not just design interfaces.
    / .colm
    /   a.h2 href="interface_designer.html"
    /     | Sr. Interface <span class="designation">Designer</span>
    /     | <span class="helper">Full time . Bangalore</span>
    /   p
    /     | Craft digital experiences for exciting products.
    .colm
      a.h2 href="executive-assistant.html"
        | Executive <span class="designation">Assistant</span>
        | <span class="helper">Full time . Bangalore</span>
      p
        | Give us Wings with your skills to get things done.

  .divider

.section.new-home-content.tell-us
      .content
        h2
          | The only thing that matters is your craft.
        svg
          use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/svgs/iconset.svg#icon-minecraft-pickaxe"
        p
          | We don’t bother about your degrees, process and X years of experience.
        / a.btn.new.open-form href="javascript:void(0);"
        /   .skewed.topaz
        /     span Get in touch
