---
layout: parallex_layout
---
- @title = "Citrus | Parallel Labs"
- @description = "A fresh food ordering experience for Eatfresh"
- @keyword = "Eatfresh User Experience Design Case Study, Parallel Labs Eatfresh"
- @og_title = "Parallel Labs Blog"
- @og_description = "A fresh food ordering experience for Eatfresh"
- @og_url = "http://parallellabs.io/citrus.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "A fresh food ordering experience for Eatfresh"
- @twitter_url = "http://parallellabs.io/citrus.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

= partial "layouts/header.slim"

/ content

.section.master-banner.casestudy.citrus-banner
  .overlay
    h2.title
      | A fresh food ordering Experience for <span class="eatf-yellow">Eatfresh</span>
  .members
    .member
      |<img src="../images/Robin.jpg" alt="Robin" />
      |<span class="member-name">Robin</span>
      |<span class="role">UX Design</span>

    .member
      |<img src="../images/Chaitanya.jpg" alt="Chaitanya" />
      |<span class="member-name">Chaitanya</span>
      |<span class="role">UI Design</span>

    .member
      |<img src="../images/Rakesh.jpg" alt="Rakesh" />
      |<span class="member-name">Rakesh</span>
      |<span class="role">Front-end Dev</span>
  
  .stats
    .stat
      |<span class="numbers">03</span>
      |<span class="stat-text">Members</span>
    .slant
      
    .stat
      |<span class="numbers">05</span>
      |<span class="stat-text">Weeks</span>
    .slant
      
    .stat
      |<span class="numbers">04</span>
      |<span class="stat-text">Brainstroming Sessions</span>
    .slant
      
    .stat
      |<span class="numbers">03</span>
      |<span class="stat-text">Design Reviews</span>
      
.section.new-home-content.casestudy-content
  p
    |Fintech is the hottest segment in the country currently and good experience for users which simplifies payments was a big opportunity. Citrus Payments is a leading payment gateway and consumer wallet in the country and has recently been acquired by Naspers group in a $130 million all cash deal.
  p
    |Citrus wanted to lead the consumer payments space by creating a mobile app which becomes a one stop payments solution for the young india primarily in the age group of 18-30. The vision of the product was to create an app which makes P2P payments, splitting bills and pooling money really simple. Along with these necessities, we also explored a concept of virtual gifting to add a wow factor to the application and help people express emotions with micro-gifts.
  p 
    |We worked with Citrus product and technology team to define the product, create wireframes and the interface designs for the application. Here is a narration of how we approached the project, what we created including interactions, rejected options etc.

  h2.PT-120
    |When every team member is a persona<span class="border ML0-imp"></span>
  p
    |The app was meant for indian urban youth and unlike other projects, every member on the team reflected a different background, spending habits and lifestyle. There were some who were complete digital buffs who even buy their coffee online and spend a lot on 4G data whereas there were college interns who spend pocket money cautiously and keep track of every penny lent to their friends.
.citrus-o-bg
  
.citrus-blue-bg
  .persona-content
    p 
      |Devshree is basically from Gujarat and stays in the college hostel in Pune. Her parents give her a pocket money of Rs. 5,000 apart from fees for hostel and academics which she spends on movies, shopping, food/drinking, beauty services and recharge.
    p 
      |She also has a house account with her flatmates where they account for household expenses. She downloaded the splitwise app but generally ends up writing it on a diary instead. She is one of those people who are always due getting paid and finds it awkward to ask people for her money.
  img src="images/citrus/devshree.png"

    
.section.new-home-content.casestudy-content
  h2.PT-120
    |A complex Information Architecture with 4 modules<span class="border ML0-imp"></span>
  p
    |With five complete modules for P2P payment, Group splitting, Pooling Money and Gifting, we had to define a complex architecture and user stories for lot of edge cases.
  
  h2.PT-120
    |Making it as simple as Whatsapp<span class="border ML0-imp"></span>
  p
    |We wanted the app to become part of daily life of our users. From paying to the cab driver/grocer to splitting bills with friends or pooling money for a birthday party, we wanted the app to be their daily companion and be as simple and humane as possible.
  p 
    |After studying the trends in payments apps across the world like Venmo, Square, Snapcash etc and extensive brainstorming along with Citrus team we came to the conclusion that the approach to the project should be with chat at the core of User Experience.
  p 
    |We started designing the workflow and wireframes keeping this in mind and were proud to have cracked a workflow which was very simple and n0-brainer in-spite of so many features.

  h2.PT-120
    |One of the early explorations we really loved<span class="border ML0-imp"></span>
  p
    |Citrus didn’t had branding guidelines yet apart from the orange colour of the logo which allowed us full freedom to experiment and create a visual design which is really modern and resonates with the urban youth of the country.
  p 
    |These are some early mockups of the visual design approach that we really loved but which didn’t make it to the final app.
    
.section.new-home-content.screens.citrus
  div#screen-slider.owl-carousel
    .screen
      |<img src="images/citrus/citrus-exp-001.png" alt="citrus screen"/>
    .screen
      |<img src="images/citrus/citrus-exp-002.png" alt="citrus screen"/>
    .screen
      |<img src="images/citrus/citrus-exp-003.png" alt="citrus screen"/>
    .screen
      |<img src="images/citrus/citrus-exp-004.png" alt="citrus screen"/>
    .screen
      |<img src="images/citrus/citrus-exp-005.png" alt="citrus screen"/>
    .screen
      |<img src="images/citrus/citrus-exp-006.png" alt="citrus screen"/>
  
    

.section.new-home-content.casestudy-content
  h2
    |Animated Walkthroughs<span class="border ML0-imp"></span>
  p
    |There are many payment apps there which do one job like splitting bills or instant money transfer but Citrus intended to be one app which solves most of the payment use cases of urban youth while being really simple and fun to use.
  p 
    |Hence, communicating what the app does in a fun approach was really important and we chose to do it via animated walkthroughs explaining the concept.

  h2.PT-120
    |Bill Splitting made really simple and no-brainer<span class="border ML0-imp"></span>
  p
    |Although apps like Splitwise are widely used, we never liked them from a User Experience perspective and felt bill splitting could be made even more simpler while covering all use cases like splitting equally or unequally and with strangers, friends or in groups. Here is the how the splitting workflow works in our designs:  
  
  h2.PT-120
    |Pool Money with fixed and variable contributions<span class="border ML0-imp"></span>
  p
    |Pooling money is always a pain whether it’s for buying a gift for a friends birthday or collecting funds for a charity. Sometimes it’s awkward when done offline to trace people who have not contributed yet, managing finances etc. Hence, we took it as one use case which not only solves a key problem for the audience but also has the potential to bring lot of new users to the platform without any extra effort by the person creating a pool.
  p
    |Pool workflow was also challenging as there multiple scenarios like people wanting to collect money for a specific goal or open contribution, making contributions private or public etc. and we managed to cover all these scenarios in a very simple way as shown below.
  
  h2.PT-120
    |Pay/Request in a chat<span class="border ML0-imp"></span>
  p
    |Paying or requesting money was the core of the app and can be done in two ways. It can be initiated via the floating action button or using the custom text panel which allows for chat or pay/request/split options.

  
.section.new-home-content.interfaces
  .content-section
    h2
      |Beautiful Interface<span class="border"></span>
    img.phone src="images/phone.png"/
    .sky-carousel#sky-carousel-2
      .sky-carousel-wrapper
        ul.sky-carousel-container
          li
            img alt="Slider images" src="images/citrus/Chat_001.png" /
            .sc-content
              p
                |Chat
          li
            img alt="Slider images" src="images/citrus/Chat_006.png" /
            .sc-content
              p
                |chat
          li
            img alt="Slider images" src="images/citrus/FriendsInvited.png" /
            .sc-content
              p
                |friends invited
          li
            img alt="Slider images" src="images/citrus/Group_Chat_001.png" /
            .sc-content
              p
                |group chat
          li
            img alt="Slider images" src="images/citrus/Home_Empty.png" /
            .sc-content
              p
                |home empty
          li
            img alt="Slider images" src="images/citrus/Home_FAB.png" /
            .sc-content
              p
                |home
          li
            img alt="Slider images" src="images/citrus/OB.png" /
            .sc-content
              p
                |onboarding
          li
            img alt="Slider images" src="images/citrus/Home.png" /
            .sc-content
              p
                |home
          li
            img alt="Slider images" src="images/citrus/Home_Nav.png" /
            .sc-content
              p
                |home nav
          li
            img alt="Slider images" src="images/citrus/PayBhaghya_001.png" /
            .sc-content
              p
                |pay    
          li
            img alt="Slider images" src="images/citrus/Profile.png" /
            .sc-content
              p
                |profile
          li
            img.small alt="Slider images" src="images/citrus/Split_004.png" /
            .sc-content
              p
                |split
          li
            img.small alt="Slider images" src="images/citrus/Wallet_Withdraw_002.png" /
            .sc-content
              p
                |wallet withdraw
          li
            img alt="Slider images" src="images/citrus/Wallet.png" /
            .sc-content
              p
                |wallet
            

.section.new-home-content.clients.testimonial
  .casestudy-testimonial
    svg
      use xlink:href="/images/svgs/iconset.svg#icon-quote"
    h2
      | Testimonials <span class="border"></span>
    
    img src="images/santosh.jpg" alt="Client image"/
    p.case
      | Explara has been working with Parallel Labs for design solutions since the day they started! 
    p.case
      |We are really grateful for their services, they operated as our own extended UX team during product conceptualisation to ideation and to multiple development iterations as well. Apart from User Experience for all our products, Parallel Labs also took care of interface designs for our mobile apps and web solutions. We are great fan of their work and reliability!
    h4
      | Santosh Panda, Explara
      
.section.new-home-content.project-nav
  a href="javascript:void(0);"
    .prev.box-shape
      .inside
        |<span class="project-name">CHAI POINT</span>
        |<span class="project-desc">INDIA RUNS ON CHAI</span>
    .box2.FL-l
      svg
        use xlink:href="images/svgs/iconset.svg#icon-left-arrow"
      
  .fancy-line
    |See more awesome stuff
  
  a href="javascript:void(0);"
    .next.box-shape
      .inside
        |<span class="project-name">HOUSEJOY</span>
        |<span class="project-desc">HOME SERVICES</span>
    .box2.FL-r
      svg
        use xlink:href="images/svgs/iconset.svg#icon-right-arrow"
      
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in touch

= partial "layouts/main_form.slim"
