---
layout: parallex_layout
---
- @title = "Eatfresh | Parallel Labs"
- @description = "A fresh food ordering experience for Eatfresh"
- @keyword = "Eatfresh User Experience Design Case Study, Parallel Labs Eatfresh"
- @og_title = "Parallel Labs Blog"
- @og_description = "A fresh food ordering experience for Eatfresh"
- @og_url = "http://parallellabs.io/eatfresh.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "A fresh food ordering experience for Eatfresh"
- @twitter_url = "http://parallellabs.io/eatfresh.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

= partial "layouts/header.slim"

/ content

.section.master-banner.casestudy.eatfresh-banner
  .overlay
    h2.title
      | A fresh food ordering Experience for <span class="eatf-yellow">Eatfresh</span>
  .members
    .member
      |<img src="../images/Robin.jpg" alt="Robin" />
      |<span class="member-name">Robin</span>
      |<span class="role">UX Design</span>

    .member
      |<img src="../images/Chaitanya.jpg" alt="Chaitanya" />
      |<span class="member-name">Chaitanya</span>
      |<span class="role">UI Design</span>

    .member
      |<img src="../images/Rakesh.jpg" alt="Rakesh" />
      |<span class="member-name">Rakesh</span>
      |<span class="role">Front-end Dev</span>
  
  .stats
    .stat
      |<span class="numbers">03</span>
      |<span class="stat-text">Members</span>
    .slant
      
    .stat
      |<span class="numbers">08</span>
      |<span class="stat-text">Weeks</span>
    .slant
      
    .stat
      |<span class="numbers">14</span>
      |<span class="stat-text">Brainstroming Sessions</span>
    .slant
      
    .stat
      |<span class="numbers">03</span>
      |<span class="stat-text">Design Reviews</span>
      
.section.new-home-content.casestudy-content
  p
    |Eatfresh is a food-tech startup based in Bangalore home delivering meals made by the best chefs in town. Being a food ordering product where the meals are so delicious, the single objective of the app was to make users drool over food and click buy. Hence, we tried to create a minimal design and try to visually stimulate by using beautiful images. Here is the app at a glance:
    |<img src="images/eatfresh/eatfresh_product_animation.gif"/>
  h2.PT-120
    |Finding the right shade of green<span class="border ML0-imp"></span>
  p
    |We were parallely working on a new brand identity for eatfresh along with setting the visual style for the mobile app. We tried over 10 color variants before finding the perfect shade of green and amber that everyone loved.

.section.new-home-content.screens
  div#screen-slider.owl-carousel
    .screen
      |<img src="images/eatfresh/aplha@2x.png" alt="eatfresh screen"/>
    .screen
      |<img src="images/eatfresh/bravo@2x.png" alt="eatfresh screen"/>
    .screen
      |<img src="images/eatfresh/echo.png" alt="eatfresh screen"/>
    .screen
      |<img src="images/eatfresh/delta@2x.png" alt="eatfresh screen"/>
    .screen
      |<img src="images/eatfresh/charlie@2x.png" alt="eatfresh screen"/>
  
    

.section.new-home-content.casestudy-content
  h2
    |Activity Bar with hamburger menu on the right<span class="border ML0-imp"></span>
  p
    |Eatfresh workflow is really simple. They have a new menu everyday of 15-20 items and users we can use filters like Veg, Non-Veg, Desserts to refine results. There were no categories and no other frills.
  p
    |Unlike other applications, the navigation menu on Eatfresh was secondary and had few some priority features like MyOrders, Settings etc. But the availability of food items was dependent on exact location and hence what was very important was users always browse the menu for the correct location.
    img src="images/eatfresh/eatfresh-activity-bar.png" alt="eatfresh"/
  p
    |Hence, we designed a new approach to navigation with address option on left and navigation and filters on the right which solve the business objective of making the users always have correct location while allowing fair visibility to hamburger menu.
  h2.PT-120
    |Visually stimulating Interactions with Zoom concept<span class="border ML0-imp"></span>
  p
    |We wanted to make users drool over food and were looking at using interactions to achieve that. The concept of zooming into food sounded exciting and we designed interactions which depict zooming into food when a user goes from home screen to the product details screen.
  img src="images/eatfresh/eatfresh_product_animation.gif"/
  h2.PT-120
    |Making Food worth the wait using Illustrations<span class="border ML0-imp"></span>
  p
    |The most exciting part of the customer experience here was not on the app but the wait between ordering the food and actually getting it. We wanted to capture the imagination of people and build up excitement before the food actually got delivered.
  p
    |Hence, we used animated illustrations in-line with the concept of a chef making the food specially for you and a rider bringing it for you.
  img src="images/eatfresh/eatfresh-checkout-2.gif" alt="eatfresh"/
  
.section.new-home-content.interfaces
  .content-section
    h2
      |Beautiful Interface<span class="border"></span>
    img.phone src="images/phone.png"/
    .sky-carousel#sky-carousel-2
      .sky-carousel-wrapper
        ul.sky-carousel-container
          li
            img alt="Slider images" src="images/eatfresh/Home-No Network.png" /
            .sc-content
              p
                |No newtwork
          li
            img alt="Slider images" src="images/eatfresh/Feedback.png" /
            .sc-content
              p
                |Feedback
          li
            img alt="Slider images" src="images/eatfresh/Dish-Info.png" /
            .sc-content
              p
                |Dish Info
          li
            img alt="Slider images" src="images/eatfresh/Dish-Reviews.png" /
            .sc-content
              p
                |dish reviews
          li
            img alt="Slider images" src="images/eatfresh/Dish.png" /
            .sc-content
              p
                |dish
          li
            img alt="Slider images" src="images/eatfresh/Home-Discount Code.png" /
            .sc-content
              p
                |discount code
          li
            img alt="Slider images" src="images/eatfresh/Cart.png" /
            .sc-content
              p
                |cart
          li
            img alt="Slider images" src="images/eatfresh/Splash.png" /
            .sc-content
              p
                |SPLASH SCREEN
          li
            img alt="Slider images" src="images/eatfresh/Home.png" /
            .sc-content
              p
                |home
          li
            img alt="Slider images" src="images/eatfresh/Location.png" /
            .sc-content
              p
                |location
          li
            img alt="Slider images" src="images/eatfresh/Navigation Drawer.png" /
            .sc-content
              p
                |navigation drawer      
          li
            img alt="Slider images" src="images/eatfresh/Notifications-No Notifs.png" /
            .sc-content
              p
                |No Notifications
          li
            img.small alt="Slider images" src="images/eatfresh/Order Confirmation-1.png" /
            .sc-content
              p
                |Order Confirmation
          li
            img.small alt="Slider images" src="images/eatfresh/Order Confirmation-2.png" /
            .sc-content
              p
                |Order Confirmation
          li
            img alt="Slider images" src="images/eatfresh/Payment Method.png" /
            .sc-content
              p
                |Payment Mehtod
          li
            img alt="Slider images" src="images/eatfresh/Address.png" /
            .sc-content
              p
                |Address
            

.section.new-home-content.clients.testimonial
  .casestudy-testimonial
    svg
      use xlink:href="/images/svgs/iconset.svg#icon-quote"
    h2
      | Testimonials <span class="border"></span>
    
    img src="images/santosh.jpg" alt="Client image"/
    p.case
      | Explara has been working with Parallel Labs for design solutions since the day they started! 
    p.case
      |We are really grateful for their services, they operated as our own extended UX team during product conceptualisation to ideation and to multiple development iterations as well. Apart from User Experience for all our products, Parallel Labs also took care of interface designs for our mobile apps and web solutions. We are great fan of their work and reliability!
    h4
      | Santosh Panda, Explara
      
.section.new-home-content.project-nav
  a href="javascript:void(0);"
    .prev.box-shape
      .inside
        |<span class="project-name">CHAI POINT</span>
        |<span class="project-desc">INDIA RUNS ON CHAI</span>
    .box2.FL-l
      svg
        use xlink:href="images/svgs/iconset.svg#icon-left-arrow"
      
  .fancy-line
    |See more awesome stuff
  
  a href="javascript:void(0);"
    .next.box-shape
      .inside
        |<span class="project-name">HOUSEJOY</span>
        |<span class="project-desc">HOME SERVICES</span>
    .box2.FL-r
      svg
        use xlink:href="images/svgs/iconset.svg#icon-right-arrow"
      
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in touch

= partial "layouts/main_form.slim"
