---
layout: new_layout
---
- @title = "Executive Assistant | Join Team Parallel Labs"
- @description = "Do the best work of your life and work with a talented team on some really exciting UX design projects"
- @keyword = "Parallel Labs Careers , Design Careers, UI/UX Design Jobs,  UX Designer Jobs in Bangalore, UI Designer Job bangalore"
- @og_title = "Parallel Labs Blog"
- @og_description = "Article and Insights from Parallel Labs team on everything design"
- @og_url = "http://parallellabs.io/executive-assistant.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "Article and Insights from Parallel Labs team on everything design"
- @twitter_url = "http://parallellabs.io/executive-assistant.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"
/ content
.section.executive-container
  .container.careers-title
    h1.scroll-on-page 
      span Executive Assistant   
      span.helper Full Time &nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp; Bangalore   
      a.btn.scroll-on-page-link href="#apply_Form" 
          | Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
    p
      | Give us Wings with your skills to get things done 

    h2
      | We are looking for someone who:
    ul.list
      li 
        | Loves what we do, you should have an artist somewhere hidden inside 
      li
        | Loves Startups and knows about new launches, funding and shut downs
      li
        | Good articulation skills
      li
        | Prioritises craft &amp; learning over perks

    h2
      | Must Have:
    ul.list
      li 
        | Strong organizational skills. You should be the kind of person who never lets a ball drop, but flexible when asked to let a ball drop 
      li
        | Excellent written and verbal communication skills. Should know how to write clear and professional emails
      li
        | A love for creating efficient systems and checklists
      li
        | Excitement about working at a startup and the work we do
      li
        | Warmth, resourcefulness and good judgement. Your friends should sometimes describe you as “sensible.”

    h2
      | Responsibilities
    ul.list.type-dash
      li 
        | Take care of recurring office maintenance: internet connections, prints and scans, calling the handyman etc 
      li
        | Recruiting coordination, sourcing, trip planning  and other special projects
      li
        | Handle day-to-day office errands like couriers
      li
        | Drafting proposals, contracts, PPTs and employee letters/documents based on existing templates
      li
        | Managing online presence on official social media platforms
      li
        | Keep our office well stocked with food, snacks, drinks, and supplies. Research, purchase, maintain office equipment

    h2
      | What will you get:
    ul.list
      li 
        | Diverse team with Business, Design and Technical Skills, we are not a herd 
      li
        | Office that provides space to think, do and unwind. Lots of sunlight, amazing view, X-box and relaxed space.
      li
        | Pantry full of snacks and soft drinks. We also make our own Cappuccino with a lovely coffee maker :-)
      li
        | Balanced work environment and flexibility in timings

    h2
      | Career Prospects
    ul.list.style-typ-none
      li 
        | You will be like the right hand to CEO in this role and assisting tasks cutting across verticals which will give you immense exposure into different work areas. Going forward depending on your interests and skills, you will have the option to switch to a specific role like HR, Management or even design.

    form.apply-form#apply_Form.jobForm4 action="#" method="post"
      .group
          input.textField#name type="text"
          span.highlight
          span.bar
          label Name
          p.message.msg1 Required
          svg.cross-icon.crossOne
            use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
      .group
          input.textField#email type="text"
          span.highlight
          span.bar
          label Email Address
          p.message.msg2 Required
          svg.cross-icon.crossTwo
            use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
      / .group
      /     input.textField#behance type="text"
      /     span.highlight
      /     span.bar
      /     label Behance/Website Link
      /     p.message.msg4 Required
      /     svg.cross-icon.crossFour
      /       use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
      .group
          textarea.textField#additionalInfo 
          span.highlight
          span.bar
          label  
            | Cover letter
          .group.last
            input#attachment type="file" 
            label.fileupload for="attachment" 
              | Attach CV
            p.message.attach-msg1 Required.
            p.message.attach-msg Please enter valid file(.docx, .doc, .pdf, .jpg, .jpeg, .png) &lt; 5 MB.
            #filename.filename No files selected
      button.btn#submit type="submit" 
          | Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
