---
layout: parallex_layout
---
- @title = "Explara Mobile App - Case Study | Parallel Labs"
- @description = "How we simplified discovering local experiences on the go"
- @keyword = "Explara Mobile App, Parallel Labs Explara Mobile, Explara Design , Explara App Design , Explara Android App, Explara iOS App"
- @og_title = "Explara Mobile App - Case Study | Parallel Labs"
- @og_description = "How we simplified discovering local experiences on the go"
- @og_url = "http://parallellabs.io/explara_android.html"
- @og_image = "http://parallellabs.io/images/workpage_images/explara_home.png"
- @twitter_title = "Explara Mobile App - Case Study | Parallel Labs"
- @twitter_description = "How we simplified discovering local experiences on the go"
- @twitter_url = "http://parallellabs.io/explara_android.html"
- @twitter_image = "http://parallellabs.io/images/workpage_images/explara_home.png"

/! Hero banner style
.master-banner.explara-banner
	.banner-content.e-content
		img src="images/explara_logo.png" alt="Explara logo"/
		p 
			| Local experiences on the go
		a.btn target="_blank" href="https://play.google.com/store/apps/details?id=com.explara.android&hl=en" 
				img.icon src="images/android-o-s-512.png" alt="Android icon"/
				span.text 
					| <i>Get it on</i> <i>Google Play</i>
/! End

/! content
.section.explara-content
	.content-section
		p
			| With a shift in focus to local experiences, having a mobile app with a well thought of User Experience was the new strategy for Explara.
		p
			| We worked together with Explara team to design first version of their mobile app using Material Design guidelines. Overall focus was to keep User Experience really simple and skip advanced features and navigation options as it was a new segment and a simple experience was key to introduce it to users.
/! end

/! content
.section.explara-content
	.content-section
		h2.dbl-margin
			| Branding
		.color-wrap
			h4
				| CORE COLORS
			.color-box 
				.text
					span Explara Blue
					span #3DC6C4
			.color-box
				.text
					span Explara Red
					span #DB4344
			.color-box
				.text
					span Explara Gold
					span #FCC32C
		.color-wrap
			h4
				| HOVER &amp; PRESSED STATE COLORS
			.color-box
				.text.hover
					span Bruise
					span #009C9A
				.text.focus
					span Overboard
					span #009C9A
			.color-box
				.text.hover
					span Emerald Cove
					span #CC0000
				.text.focus
					span First Blood
					span #CC0000
			.color-box
				.text.hover
					span Horizon
					span #F3BC65
				.text.focus
					span Doubloon
					span #F3BC65
		.color-wrap.shade
			h4
				| SHADE COLORS
			.color-box
				.text
					span The Black Flag
					span #333333
			.color-box
				.text
					span Gunpowder
					span #555555
			.color-box
				.text
					span Pieces of Eight
					span #777777
			.color-box
				.text
					span Cutlass
					span #999999
			.color-box
				.text
					span Coral
					span #cccccc
			.color-box
				.text
					span Costal Stuff
					span #f6f6f6
			.color-box
				.text
					span And Obviously
					span #FFFFFF
/! end

/! content
.section.explara-content
	.content-section
		h2
			| Walkthroughs
		p.MB60-imp
			| For an application that promises to make our life more fun with interesting experiences, it was important to get them excited about it with walkthroughs. Hence, we chose to make them fun with a interactive approach.
		.walkthrough.fancy
			a.lightbox href="images/walkthrough-screen-1@2x.png" data-imagelightbox="f"
				img src="images/walkthrough-screen-1.png" alt="Walkthrough - Discover Events &amp; Experiences"/
			a.lightbox href="images/walkthrough-screen-2@2x.png" data-imagelightbox="f"
				img src="images/walkthrough-screen-2.png" alt="Walkthrough - Personalized Event Recommendations"/
			a.lightbox href="images/walkthrough-screen-3-v-2@2x.png" data-imagelightbox="f"
				img src="images/walkthrough-screen-3-v-2.png" alt="Walkthrough - Fast &amp; Payments"/
/! end

/! content
.section.explara-content
	.content-section
		h2
			| FAB
		p
			| We decided to use the Floating Action Button to create a alternate browsing flow with a approach “What do you want to do today ?” and make it fun.
		img src="images/Home.gif" alt="walkthrough image"/
/! end

/! content
.section.explara-content
	.content-section
		h2
			| Event Details
		p
			| Interactive mock of Event Details Screen with a clean approach to listing and help event stand out.
		img src="images/nexus-5-mockup_s.gif" alt="walkthrough image"/
/! end

/! content
.section.explara-content
	.content-section.testimonials.insider.explara
		h2
			| Testimonial
		p
			| Explara has been working with Parallel Labs for design solutions since the day they started! 
		p
			| We are really grateful for their services, they operated as our own extended UX team during product conceptualisation to ideation and to multiple development iterations as well. Apart from User Experience for all our products, Parallel Labs also took care of interface designs for our mobile apps and web solutions. We are great fan of their work and reliability!
		.author
			span.img
				img src="images/santosh.jpg" alt="Author's picture"
			span.name 
				| Santosh Panda <span class="helper-text"> Founder @ Explara. </span>
/! end

/! content
.section.explara-content
	.content-section
		h2 
			| Screenshots
	.sky-carousel#sky-carousel-2
		.sky-carousel-wrapper
			ul.sky-carousel-container
				li
					img alt="Slider images" src="images/Rectangle1.jpg" /
				li
					img alt="Slider images" src="images/Rectangle2.jpg" /
				li
					img alt="Slider images" src="images/Rectangle3.jpg" /
				li
					img alt="Slider images" src="images/Rectangle4.jpg" /
				li
					img alt="Slider images" src="images/Rectangle5.jpg" /
				li
					img alt="Slider images" src="images/Rectangle6.jpg" /
				li
					img alt="Slider images" src="images/Rectangle7.jpg" /
				li
					img alt="Slider images" src="images/Rectangle8.jpg" /
				li
					img alt="Slider images" src="images/Rectangle9.jpg" /


/ New project section
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in Touch
	
= partial "layouts/new_footer.slim"
= partial "layouts/main_form.slim"
