---
layout: parallex_layout
---
- @title = "Explara - Web App Design Case Study | Parallel Labs"

.parallax
    = partial "layouts/header.slim"
	.parallax__layer.parallax__layer--back
		/Hero banner style
		.master-banner.sub-banner
			.banner-content.explara-web
				h1 Turning Explara to a discovery Platform
				a.btn target="_blank" href="https://www.explara.com/" Visit Website
			.direction-box
				img src="images/svgs/curvy-arrowDown.svg" alt="direction arrow"/
				p Move Slider to see Difference
		/ End

		/ Master slide image
		.section.MB10-imp.slider-horizontal
			.outer-box
				.mac-bar
				  span
				  span
				  span
				.inner-box
					img#changeMe draggable="false" src="images/oval-18-resize-horizontal.png" alt="resize icon"/
				.tag-box NEW SITE
				.tag-box.right OLD SITE

		/ Intro section
		.section
			.introduction.project-content
				h2 	
					| Lean UX in Practice
				p 
					|	When we decided start Parallel Labs with a vision to approach Digital Product Design using Lean UX philosophies and working in parallel with all product stakeholders, Explara was the first team which came across and said “Lets work together” and this was all while we were still building a team to make it happen. 
				p
					|	Practicing Lean methodologies and collaborating closely is the foundation of Parallel Labs. This collaboration became even easier as we were sharing a common space with team Explara during this project.
		/ End


		/ Image blure section
		.section.blur-container
			.img-src style="background-image:url('images/explara_scroll.png')"
			.img-src.blurred-img style="background-image:url('images/ExplaraBlured.png')"
			.content
				h2.design-goals
					| Design Goals
				.conversetion
					img class="user" src="images/santosh.jpg" alt="User image"
					.message
						| We want to make Explara a discovery platform for experiences 
						p 
							| Santosh Panda
				.conversetion
					.message
						| Let’s engage users better and make them come again &amp; again 
						p 
							| Robin
					img class="user" src="images/robin.jpeg" alt="User image"
				.conversetion
					img class="user" src="images/ashok.jpeg" alt="User image"
					.message
						| I am tired of customer phone calls. Let's make it really easy to use.
						p
							| Ashok
				.conversetion
					.message
						| Let’s keep the design minimal and let experiences stand out.
						p
							| Chaitanya
					img class="user" src="images/chaitanya.jpg" alt="User image"
				.conversetion
					img class="user" src="images/rakesh.jpg" alt="User image"
					.message
						| Let’s make best use of Front-end technologies. We can do masonry and uneven layouts.
						p
							| Rakesh
	.parallax__layer.parallax__layer--base
		.section.project-content.trigger
			h2
				| Navigation to facilitate both prominent search and deep navigation
			p.MB60-imp.pos-rel 
				| We had two kinds of users, one who exactly knew what they wanted and others who came to browse. We chose this approach to navigation in an attempt to create a experience that facilitates deep navigation and prominent search.
				span.direction-box
					img.down-arrow src="images/svgs/curvy-arrowDown.svg" alt="direction arrow"/
			img.box-shadow-none class="fluid-width" src="images/Nav_Bar_search.png" alt="Explara header"
			h2
				| Embeddable Widgets
			p
				| Letting organizers facilitate bookings on their website without making users leave their site with a one screen checkout widget which could be customized to suit user website.
			img.box-shadow-none class="container " src="images/02-open.png" alt="Checkout image"

		.section.project-content
			h2
				| Call to Actions for users without a account
			p
				| One of the key promises of the platform was to offer personalized experience and recommendations. Yellow bands recommending users to signup or login was a neat but powerful way of increasing signups without obstructing the flow.
			img.box-shadow-none class="banner-img" src="images/TopicPage.png" alt="Explara Banner"

		.section.project-content
			h2
				| Personalized Onboarding
			/ .wrap
			p
				| SignUp process encouraged Facebook signups and helped users indicate their interests and personalize app experience accordingly.
			img class="fluid-width" src="images/Personalise.jpg" alt="Explara Banner"

		.section
			.tiles-box
				.tile.fancy
					a.page.m-trigger.lightbox href="images/Event01.jpg" data-imagelightbox="f"
						img src="images/Event01.jpg" alt="Event Listing"/
					a.page.m-trigger.lightbox href="images/Event02.jpg" data-imagelightbox="f"
						img src="images/Event02.jpg" alt="User Profile"/
					a.page.m-trigger.lightbox href="images/Event03.jpg" data-imagelightbox="f"
						img src="images/Event03.jpg" alt="Checkout Flow"/

		/ New project section
		.start-project
			p 
				| We would love to hear about your next project.
			a href="javascript:void(0);" class="btn open-form" Start a Project
			
		= partial "layouts/footer.slim"
		= partial "layouts/main_form.slim"
		
	   
    / = partial "layouts/modal.slim"
/ Floating button
#wrapper 
	.button.button-sub  
		a href="index.html" Home
	.button.button-sub  
		a href="about.html" About Us
	.button.button-sub 
		a href="blog.html" Blog	
	.button.button-sub 
		a.open-form href="#" Start A Project
	.water-drop
	.button.button-floating
  		svg.plus 
			use xlink:href="images/svgs/iconset.svg#icon-Logo_Color"
		svg.edit
			use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
	.button-floating-shadow
.btn-overlay
