---
layout: parallex_layout
---
- @title = "HouseJoy iOS App Design - Case Study | Parallel Labs"
- @description = "How we designed India’s favorite Home Services on demand App"
- @keyword = "Parallel Labs Housejoy Web , Housejoy Design, Housejoy Case Study, HouseJoy App , HouseJoy Home Services"
- @og_title = "HouseJoy iOS App Design - Case Study | Parallel Labs"
- @og_description = "How we designed India’s favorite Home Services on demand App"
- @og_url = "http://parallellabs.io/housejoy_ios.html"
- @og_image = "http://parallellabs.io/images/workpage_images/housejoy_home.png"
- @twitter_title = "HouseJoy iOS App Design - Case Study | Parallel Labs"
- @twitter_description = "How we designed India’s favorite Home Services on demand App"
- @twitter_url = "http://parallellabs.io/housejoy_ios.html"
- @twitter_image = "http://parallellabs.io/images/workpage_images/housejoy_home.png"

= partial "layouts/header.slim"
/Hero banner style
.master-banner.hj-banner.height-fix
	.banner-content
		.content
			h1 Housejoy iOS App
			p.ios 
				| Being a on-demand app for home services, a seamless mobile experience is the heart of the product strategy.
			div.btn.coming-soon
				| Coming Soon
		.img-container.pos-rel
			a target="_blank" href="https://marvelapp.com/535eg6"
				img src="images/iphone-6-plus-flat-2-rectangle-89-play.png" alt="iphone picture"/
			.direction-box.hj
				img src="images/curvy-up-arrow.png" alt="direction arrow"/
				p Click for Live demo

/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Branding
		p.ios 
			|	One of the key branding goals was to position Housejoy as a professional and high quality service and not another marketplace for home services. Hence, we decided to give it a little sophisticated look and feel.
/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Colors
		.color-panel
			.color-pelate
				.color
				.color-code
					| RGB 0 150 136 <br> Hex #009688
			.color-pelate
				.color
				.color-code
					| RGB 252 196 0 <br> Hex #FCC400
			.color-pelate
				.color
				.color-code
					| RGB 96 97 99 <br> Hex #606163
/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Typography
		.color-panel
			.color-pelate
				img src="images/blogger-sans.png" alt="fonts images"/
			.color-pelate
				img src="images/light.png" alt="fonts images"/
				img src="images/regular.png" alt="fonts images"/
				img src="images/medium.png" alt="fonts images"/
				img src="images/bold.png" alt="fonts images"/
			.color-pelate
				img src="images/aa.png" alt="fonts images"/
/ End	
    
/ content section
.section.hj-content
	.content-section
		h2 	
			| Iconography
		.icons
			.icon-box
				img src="images/svgs/icons/plumbing_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/pest_control_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/painting_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/appliances_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/mobile_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/fitness_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/electrical_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/carpentry_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/beauty_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/laundry_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/laptop_black.svg" alt="Appliances icon"/ 
			.icon-box
				img src="images/svgs/icons/broom_black.svg" alt="Appliances icon"/ 

/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Express multi-select experience instead of shopping Cart
		p.ios 
			|	We wanted to let the users select multiple services, see details about each, select quantities etc. without complicating it and making it a shopping cart.
		p.ios	
			| After multiple iterations and explorations, we came to this accordion based multi-select interaction which is fast and fun to use.
		img src="images/iphone_6-template-white-ramotion.gif" alt="iPhone animated image"/
/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Alternative Booking Flow for Simple Tasks
		p.ios 
			|	A quick &amp; simple approach to share details about the job and encourage optional details like photographs to help the visiting staff be better prepared for the task with essential tools and spares.
		img src="images/iphone-6-plus-flat-2.png" alt="iPhone image"/
/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Appointments
		p.ios 
			|	With multiple home services across 15+ categories and recurring tasks like Laundry, Fitness classes etc, the app intends to become your goto place for all your home service needs and hence we conceptualized a appointments section which lists all your appointments in chronological order and is easily accessible from the home screen.
		img src="images/iphone6-plus-flat2.png" alt="iPhone image"/
/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Empty States 
		p.ios
			| Empty screens with custom illustrations to bring a smile to users’ face every time they hit one.
		
		img src="images/housejoy-icons-empty-states_ios.png" alt="iPhone image"/
/ End

/ content section
.section.hj-content
	.content-section
		h2 	
			| Collecting Feedback
		p.ios
			| For a highly people dependent service like Home Services, maintaining quality and customer experience consistently is one of the biggest challenges and hence we needed to design a experience for collecting regular feedback without making it boring rating based system. 
		p.ios
			| Hence, we instead chose to collect feedback using 3 simple question cards which are visually fun to use and don’t seem like too much work. Questions being very specific are directly plugged as triggers to customer care team which takes up issues like provider being late as high priority tasks.
		img src="images/iphone6-plus-flat3.png" alt="iPhone image"/
/ End

/ content section
.section.hj-content
	.content-section.testimonials.insider.hj
		h2
			| Testimonial
		p
			| It was a pleasure working with the team at Parallel Labs. They're creative, timely and understanding! They just kept delighting us with some great concepts &amp; visual designs that made a difference to our overall product.
		p
			| The best part? They extended their support understanding business needs even after the contract! We have been so impressed by the service offered by the Parallel Labs team. It's a pleasure to deal with them - nothing is ever too much hassle to sort out.
		p
			| Thanks again to Robin and the Parallel Labs team for the tremendous support. Excellent service. Highly recommended!
		.author
			span.img
				img src="images/nirmal.jpg" alt="Author's picture"
			span.name 
				| Nirmal K <span class="helper-text"> Housejoy. </span>

/ End

/ Floating button
/ #wrapper 
/ 	.button.button-sub  
/ 		a href="index.html" Home
/ 	.button.button-sub  
/ 		a href="about.html" About Us
/ 	.button.button-sub 
/ 		a href="blog.html" Blog	
/ 	.button.button-sub 
/ 		a.open-form href="#" Get in Touch
/ 	.water-drop
/ 	.button.button-floating
/   		svg.plus 
/ 			use xlink:href="images/svgs/iconset.svg#icon-Logo_Color"
/ 		svg.edit
/ 			use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
/ 	.button-floating-shadow
/ .btn-overlay

/ New project section
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in Touch
	
/ = partial "layouts/new_footer.slim"
/ = partial "layouts/main_form.slim"
