---
layout: home_layout
---
- @title = "Parallel Labs | UI/UX Design Lab based in Bangalore,India.home"

#js-parallax-window.parallax-window
	/ Background skewed 
	.bg-skewed.parallax-background#js-parallax-background
	/ page content
	.parallax-static-content
		.section.new-home-content.h100
			.block.left
				h1
					| WE SOLVE PROBLEMS THROUGH DESIGN.
				p
					| We are a lean team of thinkers, designers and geeks who helps companies design better products and apps.
				.btn.new.open-form
					.skewed
						span Get in touch
			.block.right
				a href="work.html"
					h3
						| See our Work
					p 	
						| Our Recent Favorites
					svg
						use xlink:href="images/svgs/iconset.svg#icon-arrows-long-right" 

		/ .section.new-home-content
		/ 	.card
		/ 		h2
		/ 			| Product Strategy
		/ 		p
		/ 			| Tough questions and breaking through biased assumptions helps transform napkin sketches to products. We work closely with various product stakeholders to understand and define the product roadmap and strategy.
		/ 	.card
		/ 		h2
		/ 			| User Experience
		/ 		p
		/ 			| There is more to it than meets the eye. Interactions and workflows that simplify complex problems are the foundation of a intuitive User Interface.
		/ 	.card
		/ 		h2
		/ 			| Interface Design
		/ 		p
		/ 			| Aesthetically appealing visual designs and meaningful interactions give life to well thought prototypes. We not just create screens but design systems extending your brand.


		.section.new-home-content.clients.PLR0-imp.PB0-imp
			h2
				| We have worked with some amazing companies across different verticals <span class="border"></span>
			.wrap.owl-carousel
				.company-card
					.img-box
						img src="images/clients_logo/housejoy.png" alt="Company logo"/
					p
						| User Experience Design for India's leading home services marketplace across Web, iOS and Android
				.company-card
					.img-box
						img src="images/clients_logo/explara.png" alt="Company logo"/
					p
						| Made discovering local experiences fun with a redesign of web and mobile experience
				.company-card
					.img-box
						img src="images/clients_logo/chumbak.png" alt="Company logo"/
					p
						| Strategy and Front-end Development for making responsive shopping website
				.company-card
					.img-box
						img src="images/clients_logo/chai-point.png" alt="Company logo"/
					p
						| Ordering your favorite Chai made faster with a better experience on both Website and Mobile Apps
				.company-card
					.img-box
						img src="images/clients_logo/citrus.png" alt="Company logo"/
					p
						| Payments made social with conceptualization and interface design for the new mobile app
				.company-card
					.img-box
						img src="images/clients_logo/treatr.png" alt="Company logo"/
					p
						| Product Strategy, User Experience and Visual Design for a instant gifting mobile app
				.company-card
					.img-box
						img src="images/clients_logo/indiamart.png" alt="Company logo"/
					p
						| Redesigns of classifieds experience for India's largest B2B Marketplace 
				.company-card
					.img-box
						img src="images/clients_logo/eatfresh.png" alt="Company logo"/
					p
						| Visually rich User Experience for a food-tech startup to tempt the senses.
				.company-card
					.img-box
						img src="images/clients_logo/art-of-living.png" alt="Company logo"/
					p
						| Complete product design and development for the official projects website

		.section.new-home-content.media.video-content.opposite
			h2
				| Other Media <span class="border"></span>
			.right
				.video
					img src="images/nexus-5-x-wireframe.svg" alt="mobile image"/
					video controls="controls" height="410" preload="auto" width="230" src="images/Website_Builder_walkthrough.mov"
			.left
				.wrap
					h2
						| Desingning World’s simplest mobile based website builder.
					.btn.new
						.skewed.topaz
							span View Project
			.right.mobile
				.video
					img src="images/nexus-5-x-wireframe.svg" alt="mobile image"/
					video controls="controls" height="410" preload="auto" width="230" src="images/Website_Builder_walkthrough.mp4"

		.section.new-home-content.media
			#instafeed.media-card.small.instagram
				/ .right.mobile
				/ 	.img-box
				/ .left
				/ 	.content
				/ 		h2
				/ 			| Team Lunch at Napoli <span class="tag">#wednesdays</span> <span class="tag">#team</span> <span class="tag">#food</span> <span class="tag">#gossip</span>
				/ 	a target="_blank" href="https://instagram.com/parallellabs/"
				/ 		| Follow us on Instagram
				/ .right
				/ 	.img-box
			.media-card.small.dribbble
				.right.mobile
					.img-box
					.shots#shots
				.left
					.logo-img
						svg
							use xlink:href="images/svgs/iconset.svg#icon-logo-dribbble" 
					.content
						h2
							| FAB for User Engagement
					a target="_blank" href="https://dribbble.com/parallellabs"
						| Follow us on Dribbble
				.right
					.img-box
					.shots#shots
				.discription
					| Floating Action button is a powerful mechanism to engage users better and is generally used for the primary call to action on a app.

		.section.new-home-content.video-content
			.left
				.wrap
					h2
						| Creating the Housejoy app which crossed 400 thousand downloads.
					.btn.new
						.skewed.topaz
							span View Project
			.right
				.video
					img src="images/nexus-5-x-wireframe.svg" alt="mobile image"/
					video controls="controls" height="410" preload="auto" width="230" src="images/main2.mp4"
					/ video controls="" height="410" preload="auto" width="230" name="Housejoy" 
					/ 	source src="images/main.mov" 

		.section.new-home-content.media
			/ h2
			/ 	| Other Media <span class="border"></span>
			.media-card
				.right.mobile
					.img-box
					a target="_blank" href="https://medium.com/parallel-labs/front-end-development-the-missing-ingredient-in-user-experience-design-909ac26e7d48#.5zs4k4s77"
						img src="images/blog1.jpeg" alt="blog image"/
				.left
					a.m-title target="_blank" href="https://medium.com/parallel-labs/front-end-development-the-missing-ingredient-in-user-experience-design-909ac26e7d48#.5zs4k4s77"
						| Story on Medium
					.content
						h2
							| Front-end Development : The missing ingredient in User Experience Design
						p
							| Published on Oct 25, 2015
				.right.m-right
					.img-box
					a target="_blank" href="https://medium.com/parallel-labs/front-end-development-the-missing-ingredient-in-user-experience-design-909ac26e7d48#.5zs4k4s77"
						img src="images/blog1.jpeg" alt="blog image"/

		.section.new-home-content.video-content.opposite
			.right
				.video
					img src="images/nexus-5-x-wireframe.svg" alt="mobile image"/
					video controls="controls" height="410" preload="auto" width="230" src="images/Treatr_Animation.mov"
			.left
				.wrap
					h2
						| Spreading Happiness made fun and simple with TREATR apps.
					.btn.new
						.skewed.topaz
							span View Project
			.right.mobile
				.video
					img src="images/nexus-5-x-wireframe.svg" alt="mobile image"/
					video controls="controls" height="410" preload="auto" width="230" src="images/Treatr_Animation.mov"

		.section.new-home-content.clients.testimonial
			h2
				| Testimonials <span class="border"></span>
			/ slider testimonials
			ul.tabs
			    li
			        input#tab1 type="radio" name="tabs" 
			        label for="tab1"
			        	img src="images/santosh.jpg" alt="Client image"/
			        #tab-content1.tab-content.animated.fadeIn
			        	p
			        		| The best part is they operated as our own extended team during product conceptualisation and ideation for development iterations.
			        	h4
			        		| Santosh Panda, Explara
			    li
			        input#tab2 type="radio" name="tabs"
			        label for="tab2"
			        	img src="images/nirmal.jpg" alt="Client image"/
			        #tab-content2.tab-content.animated.fadeIn
				        p
				          	| They're creative, timely and understanding! They just kept delighting us with some great concepts &amp; visual designs that made a difference to our overall product.
			        	h4
			        		| Nirmal K, Housejoy
			    li
			        input#tab3 type="radio" name="tabs" checked="checked"
			        label for="tab3"
			        	img src="images/arun.jpg" alt="Client image"/
			        #tab-content3.tab-content.animated.fadeIn
				        p
				          	| We seek their counsel on a regular basis, and I'm happy to recommend Parallel Labs to anyone looking for cutting edge product design and user experiences.
			        	h4
			        		| Arun, Boomer
			    li
			        input#tab4 type="radio" name="tabs"
			        label for="tab4"
			        	img src="images/binay-tiwari-appjoy.jpg" alt="Client image"/
			        #tab-content3.tab-content.animated.fadeIn
				        p
				          	| I'm a big fan of Parallel Labs' design sprint approach! They takes a larger picture view of the problem being tackled, brainstorms to find all alternate paths, asks tough questions that force clarity, and gets the team focused on the right things. Parallel Labs acts more like an extended part of your team, than an agency.
			        	h4
			        		| Binay Tiwari, Appjoy
			    li
			        input#tab5 type="radio" name="tabs"
			        label for="tab5"
			        	img src="images/srinivas-mothey-treatr.jpg" alt="Client image"/
			        #tab-content3.tab-content.animated.fadeIn
				        p
				          	| Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.
			        	h4
			        		| Srinivas Mothey Treatr

		.section.new-home-content.tell-us
			.content
				h2
					| We would love to hear about your project.
				svg
					use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
				p
					| Answer few questions to help us get a better context of your project and meaningful conversation.
				a.btn.new.open-form href="javascript:void(0);"
					.skewed.topaz
						span Get in touch

= partial "layouts/main_form.slim"




