---
layout: new_layout
---
- @title = "Interface Designer | Join Team Parallel Labs"
- @description = "Do the best work of your life and work with a talented team on some really exciting UX design projects"
- @keyword = "Parallel Labs Careers , Design Careers, UI/UX Design Jobs,  UX Designer Jobs in Bangalore, UI Designer Job bangalore"
- @og_title = "Parallel Labs Blog"
- @og_description = "Article and Insights from Parallel Labs team on everything design"
- @og_url = "http://parallellabs.io/interface_designer.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "Article and Insights from Parallel Labs team on everything design"
- @twitter_url = "http://parallellabs.io/interface_designer.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"
/ content
.section
	.container.careers-title
		h1.scroll-on-page 
			span Interface Designer 	
			span.helper Full Time &nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp; Bangalore 	
			a.btn.scroll-on-page-link href="#apply_Form" 
					| Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
		p
			| We are looking for 1-4 years experienced interface designer to join our team. Your degree and certifications don't matter, what matters is your craft. This job is for you if you are someone:

		ul.list
			li 
				| Who gets bored working on the same stuff continously and wants something new &amp; challenging every 2 months 
			li
				| Who needs the creative freedom to experiment different styles and bold designs
			li
				| Who wants to own product design rather be part of a 30 people team designing an app
			li
				|  For whom craft comes first and perks come later

		h2
			| What are we looking for:
		ul.list
			li 
				| Understanding of the digital media nuances like Responsive Design, grids, Android/iOS conventions, material design guidelines etc. 
			li
				| Good aesthetic sense and understanding of design fundamentals (Doesn’t matter if you went to a design school or not)
			li
				| Experience in practising User Experience Design and obsession with design detail.
			li
				|  Have an Attitude of continuous improvement. You should never hesitate to junk what you have done and redo for better.
			li
				| Understanding of fundamentals of Web technologies like HTML/CSS3 (Don’t worry, we don’t expect you to be a unicorn and program complex stuff and you will be designing apps/websites but its important to know the medium well)
			li
				| Hands on experience with design and mockup tools like Photoshop/Sketch. Experience with animation tools like AfterEffects, Quartz, Composer and Framer will be a bonus.

		h2
			| What will you get:
		ul.list
			li 
				| Get to work with a team with diversified skills on Visual Design, Product Design and Front-end Development. 
			li
				| Work on exciting consumer facing projects that make an impact
			li
				| Office that provides space to think, do and unwind. We have designed our new office (we are shifting there in June) keeping in mind all of these. Whether its our Lounge area with Xbox One for fun and a huge whiteboard wall with a screen for brainstorming sessions or high rise seating with a beautiful view, its all to give that environment to do awesome work.
			li
				| Freedom to experiment and innovate and have your say.
			li
				| Pantry full of snacks and soft drinks. Call us orthodox but we don't get alcohol to work :-)
			li
				| Balanced work enviroment and flexibility in timings
		form.apply-form#apply_Form action="#" method="post"
			.group
		        input.textField#name type="text"
		        span.highlight
		        span.bar
		        label Name
		        p.message.msg1 Required
		        svg.cross-icon.crossOne
  					use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
			.group
		        input.textField#email type="text"
		        span.highlight
		        span.bar
		        label Email Address
		        p.message.msg2 Required
		        svg.cross-icon.crossTwo
  					use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
			.group
		        input.textField#behance type="text"
		        span.highlight
		        span.bar
		        label Behance/Website Link
		        p.message.msg4 Required
		        svg.cross-icon.crossFour
  					use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
			.group
		        textarea.textField#additionalInfo 
		        span.highlight
		        span.bar
		        label  
		    		| Cover letter
		    .group.last
	    		input#attachment type="file" 
		    	label.fileupload for="attachment" 
		    		| Attach CV
		        p.message.attach-msg1 Required.
		        p.message.attach-msg Please enter valid file(.docx, .doc, .pdf, .jpg, .jpeg, .png) &lt; 5 MB.
		    	#filename.filename No files selected
			button.btn#submit type="submit" 
					| Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
/ Floating button
#wrapper 
	.button.button-sub  
		a href="index.html" Home
	.button.button-sub  
		a href="about.html" About Us
	.button.button-sub 
		a href="blog.html" Blog	
	/ .button.button-sub 
	/ 	a.open-form href="#" Get in Touch
	.water-drop
	.button.button-floating
  		svg.plus 
			use xlink:href="images/svgs/iconset.svg#icon-Logo_Color"
		svg.edit
			use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
	.button-floating-shadow
.btn-overlay
