---
layout: new_layout
---
- @title = "Product Manager | Join Team Parallel Labs"
- @description = "Do the best work of your life and work with a talented team on some really exciting UX design projects"
- @keyword = "Parallel Labs Careers , Design Careers, UI/UX Design Jobs,  UX Designer Jobs in Bangalore, UI Designer Job bangalore"
- @og_title = "Parallel Labs Blog"
- @og_description = "Article and Insights from Parallel Labs team on everything design"
- @og_url = "http://parallellabs.io/project_manager.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "Article and Insights from Parallel Labs team on everything design"
- @twitter_url = "http://parallellabs.io/project_manager.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"
/ content
.section
	.container.careers-title
		h1 
			span Product Manager 	
			a.btn href="#apply_Form" type="button" 
					| Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
		p
			| We're looking for someone to join our talented team as a Product Manager. You'll work closely with clients, designers, developers, and the rest of the team to help them build great products, on schedule.
		h2
			| What are we looking for:
		ul.list
			li 
				| You are organized, pay attention to detail and have opinions on best ways to solve a problem. 
			li
				| Ability to plan projects and work with a cross-functional team to determine timelines, estimates, requirements, and scope, as well as track progress, mitigate issues and risks, and maintain standards.
			li
				| An eye for good design, understanding of technology, knowledge best practices and terminologies of UX design/Android/iOS.
			li
				|  Has strong written &amp; verbal communication skills, as well as ability to build healthy relationships with clients &amp; team alike.
			li
				| Should be able to get things done without being arrogant. Essentially be a manager whom both team and clients love.
			li
				| Ability to put ideas to thought by means of creating sketches, wireframes, user stories etc.

		h2
			| What will you get:
		ul.list
			li 
				| Working with a talented team bunch of people who are really passionate about their craft 
			li
				| A office that provides space to think, do and unwind.
			li
				| Open minded atmosphere with freedom to experiment, bringing in new ideas and be like a team on purpose.
			li
				|  Feel home with our pantry loaded with snacks/drinks and a game zone with Xbox One.
		form.apply-form#apply_Form action="#" method="post"
			.group
		        input.textField#name type="text"
		        span.highlight
		        span.bar
		        label Name
		        p.message.msg1 Required
		        svg.cross-icon.crossOne
  					use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
			.group
		        input.textField#email type="text" 
		        span.highlight
		        span.bar
		        label Email Address
		        p.message.msg2 Required
		        svg.cross-icon.crossTwo
  					use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
			.group
		        input.textField#linkedIn type="text" 
		        span.highlight
		        span.bar
		        label LinkedIN Profile
		        p.message.msg3 Required.
		        svg.cross-icon.crossThree
  					use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
			.group
		        textarea.textField#additionalInfo type="text" 
		        span.highlight
		        span.bar
		        label for="attachment" 
		    		| Cover letter
		    .group.last
	    		input#attachment.only-pdf type="file" multiple="mutiple"/
		    	label.fileupload for="attachment" 
		    		| Attach CV
		        p.message.attach-msg1 Required.
		        p.message.attach-msg Please enter valid file(.docx, .doc, .pdf) < 1 MB.
		    	.filename No files selected
			button.btn#submit href="#" type="submit" 
					| Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 

/ Floating button
#wrapper 
	.button.button-sub  
		a href="index.html" Home
	.button.button-sub  
		a href="about.html" About Us
	.button.button-sub 
		a href="blog.html" Blog	
	.button.button-sub 
		a.open-form href="#" Get in Touch
	.water-drop
	.button.button-floating
  		svg.plus 
			use xlink:href="images/svgs/iconset.svg#icon-Logo_Color"
		svg.edit
			use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
	.button-floating-shadow
.btn-overlay