---
layout: home_layout
---
- @title = "Services | Parallel Labs"
- @description = "Product Strategy, UX Design, Interface Design, Frontend Development services provided."
- @keyword = "Product Strategy , UX Design, Interface Design,  Frontend Development, UX , UI, User Experience Design Agency, User Interface Design Studio, Design Studio in India , Mobile App Design, Android UI, iOS Design"
- @og_title = "Services Provided by Parallel Labs"
- @og_description = "Services provided by Parallel Labs"
- @og_url = "http://parallellabs.io/services.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Services Provided by Parallel Labs"
- @twitter_description = "Services Provided by Parallel Labs"
- @twitter_url = "http://parallellabs.io/services.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"
#js-parallax-window.parallax-window
	/ Background skewed 
	/ .bg-skewed.parallax-background#js-parallax-background
	/ page content
	.parallax-static-content
  	.section.what-we-do.PT-180
      h2
        |<span class="pl-blue">What</span> we do
        
      .content
    
        .colm-6.PL-120.PR-60.PT-120
          h3
            |<span class="number">1</span> Product Strategy<span class="line ML0-imp"></span>
          p
            |Tough questions and breaking through biased assumptions helps transform napkin sketches to products. We work closely with various product stakeholders to understand and define the product roadmap and strategy.
        
        .colm-6.PR-120.PL-60.PT-120
          h3
            |<span class="number">2</span> UX Design<span class="line ML0-imp"></span>
          p
            |There is more to it than meets the eye. Interactions and workflows that simplify complex problems are the foundation of a intuitive User Interface.
          
        .colm-6.PL-120.PT-120.PR-60
          h3
            |<span class="number">3</span> Interface Design<span class="line ML0-imp"></span>
          p
            |Aesthetically appealing visual designs and meaningful interactions give life to well thought prototypes. We not just create screens but design systems extending your brand.
        
        .colm-6.PR-120.PT-120.PL-60
          h3
            |<span class="number">4</span> Front End Development<span class="line ML0-imp"></span>
          p
            |Good Front-end Development is often the missing ingredient resulting in below par User Experiences. With a strong development team that understands, we write pixel perfect Front-end code with fine interactions taken care of.
    
    .section.small-steps.PT-120
      .content
        h3
          |Small Steps
          .line
     	     
        p
          |Choosing the right design partner is tough. It’s not only about the portfolio and clients but also about matching synergies and the quality of engagement between teams. Hence, we suggest starting with these mini engagements to take a first step and explore the synergies and value we can add without getting locked in.
        .container
          .service-steps
            .wrap
               h3
                 |60-Minute Strategy Call
               span
                 |Starts at $100
               p
                 |A laser focussed strategy session to get unbiased and expert feedback.
               ul
                 li
                   |Avoid potential mistakes
                 li
                   |Evaluate multiple approaches
                 li
                   |Get Expert feedback
            
          .service-steps
            .wrap
               h3
                 |Single Feature Revamp
               span
                 |$1000 onwards
               p
                 |Score a quick win by solving one key problem area of your application.
               ul
                 li
                   |Create a big impact with small efforts
                 li
                   |Launch and iterate fast
                
          .service-steps
            .wrap
               h3
                 |UI Audit
               span
                 |$1000 onwards
               p
                 |Before taking a leap into revamping an application, go for a comprehensive UI audit and know what needs to be fixed.
               ul
                 li
                   |Identify critical design flaws
                 li
                   |Actionable plan for improving your UI/UX
                 li
                   |Incredibly useful PDF report with a screen-by-screen teardown
                         
            
          

	.section.new-home-content.tell-us
		.content
			h2
				| We would love to hear about your project.
			svg
				use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
			p
				| Answer few questions to help us get a better context of your project and meaningful conversation.
			a.btn.new.open-form href="javascript:void(0);"
				.skewed.topaz
					span Get in touch

/ = partial "layouts/main_form.slim"
