---
layout: parallex_layout
---
- @title = "SmartCEO | UX Design for enhancing digital presence the magazine"
- @description = "Case Study of designing a website to enhance the digital presence of print magazine"
- @keyword = "digital magazine, magazine, CEO, CXO, print magazine"
- @og_title = "Designing Website for SmartCEO"
- @og_description = "Case Study of designing a website to enhance the digital presence of print magazine"
- @og_url = "http://parallellabs.io/smartceo.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Designing Website for SmartCEO"
- @twitter_description = "Case Study of designing a website to enhance the digital presence of print magazine"
- @twitter_url = "http://parallellabs.io/smartceo.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

/ content

.section.master-banner.casestudy.smartceo-banner.height-fix
  .overlay
    .banner-content
      h2.title
        | Enhancing digital presence of smartceo magazine with a responsive website
      .members.smartceo
        .member
          |<img src="images/Robin.jpg" alt="Robin" />
          |<span class="member-name">Robin</span>
          |<span class="role">UX and Creative Direction</span>

        .member
          |<img src="images/chaitanya.jpg" alt="Chaitanya" />
          |<span class="member-name">Chaitanya</span>
          |<span class="role">Interface Design</span>

        .member
          |<img src="images/rakesh.jpg" alt="Rakesh" />
          |<span class="member-name">Rakesh</span>
          |<span class="role">Front-end Development</span>
      
      .stats
        .stat
          |<span class="numbers">10</span>
          |<span class="stat-text">Weeks</span>
        .slant
          
        .stat
          |<span class="numbers">53</span>
          |<span class="stat-text">Emails</span>
        .slant
          
        .stat
          |<span class="numbers">12</span>
          |<span class="stat-text">Skype Calls</span>
      
.section.new-home-content.casestudy-content
  p
    |SmartCEO is a leading magazine in India primarily read by CXOs across industries. The magazine was primarily a print magazine and the digital presence was weak. With the changing patterns of content consumption and users moving away from print, it was strategically a very important step to revamp the digital presence. 
  p
    |Alongside this revamp, SmartCEO came up with the idea of creating branded theme/industry based channels and thereby giving users a personalised experience catered to their interests. The concept sounded interesting and we designed the entire experience around a social experience of following channels of interest and getting a personalised feed of content based on users’ interests.
  
  img src="images/smartceo/smartceo-home.jpg" alt="smartceo screen" /   
                        
  h2.PT-120
    |Typography and Layout to aid readability<span class="border ML0-imp"></span>
  p
    |On a blog/magazine with long form content, the most important aspect of design is for it to have a soothing and comfortable reading experience. Hence we chose a modern yet minimal layout for the article screen which has a very focussed content area, doesn’t have more than 10 words in a row and type that looks great and is easy on eyes.
  |<img src="images/smartceo/smartceo-article.png" alt="smartceo screen"/>
  
  h2.PT-120
    |Sponsored channels around a theme<span class="border ML0-imp"></span>
  p
    |Channels are a collection of articles being published by a dedicated editorial team around a certain theme or industry. Also, Sponsored channels opened an opportunity for companies to promote thought leadership around their area of interest.
  |<img src="images/smartceo/smartceo-channel.png" alt="smartceo screen"/>
  
  h2.PT-120
    |Subscription for Print Version<span class="border ML0-imp"></span>
  p
    |Visual Designs for subscribing to the print version are our personal favorites. Our goal was to make the form which is typically boring visually appealing through layout &amp; typography.

.section
  img.smartceo-center src="images/smartceo/smartceo-form.png" alt="Form image"/

.section.new-home-content.casestudy-content
  h2.PT-60
    |Archive of Magazine View
  p 
    |The primary experience of the site was around a personalised experienced through channels but it also supports a magazine view where it has collections of articles published in respective months, in the print edition.

.section
  img.smartceo-center src="images/smartceo/smartceo-archives.png" alt="Archive image"/


  
/ .section.new-home-content.interfaces
/   .content-section
/     .sky-carousel#sky-carousel-3
/       img.laptop src="images/explara/mock.png"/
/       .sky-carousel-wrapper
/         ul.sky-carousel-container
/           li
/             img alt="Slider images" src="images/explara/Topic.png" /
/             .sc-content
/               p
/                 |topic
/           li
/             img alt="Slider images" src="images/explara/Home.png" /
/             .sc-content
/               p
/                 |home
/           li
/             img alt="Slider images" src="images/explara/Category.png" /
/             .sc-content
/               p
/                 |category
/           li
/             img alt="Slider images" src="images/explara/Search-Results.png" /
/             .sc-content
/               p
/                 |search results
/           li
/             img alt="Slider images" src="images/explara/Search.png" /
/             .sc-content
/               p
/                 |search
/           li
/             img alt="Slider images" src="images/explara/Segment.png" /
/             .sc-content
/               p
/                 |segment
/           li
/             img alt="Slider images" src="images/explara/Select-City.png" /
/             .sc-content
/               p
/                 |select city
/ .section.new-home-content.clients.testimonial
/   .casestudy-testimonial
/     svg
/       use xlink:href="/images/svgs/iconset.svg#icon-quote"
/     h2
/       | Testimonials <span class="border"></span>
/     
/     img src="images/santosh.jpg" alt="Client image"/
/     p.case
/       |We loved working with Parallel Labs for the complex task of redesigning the app grounds up based on user-feedback. The team was attentive to our requirements, suitably adaptive and above all were very excited to work on the CricBet game. Highly recommended.
/     h4
/       |Pratik Shah, Founder, Cricbet
      
.section.new-home-content.project-nav
  a href="citrus.html"
    .prev.box-shape
      .inside
        |<span class="project-name">Citrus</span>
        |<span class="project-desc">Consumer Payments</span>
    .box2.FL-l
      svg
        use xlink:href="images/svgs/iconset.svg#icon-left-arrow"
      
  .fancy-line
    |See more awesome stuff
  
  a href="cricbet.html"
    .next.box-shape
      .inside
        |<span class="project-name">Sportise</span>
        |<span class="project-desc">Live Cricket Prediction Game</span>
    .box2.FL-r
      svg
        use xlink:href="images/svgs/iconset.svg#icon-right-arrow"
      
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in Touch

/ = partial "layouts/main_form.slim"
