---
layout: parallex_layout
---
- @title = "Treatr | Parallel Labs"
- @description = "Spreading Happiness Made Fun with Treatr"
- @keyword = "Treatr Design Case Study, Parallel Labs Treatr"
- @og_title = "Parallel Labs Treatr"
- @og_description = "Spreading Happiness Made Fun with Treatr"
- @og_url = "http://parallellabs.io/treatr.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Treatr"
- @twitter_description = "Spreading Happiness Made Fun with Treatr"
- @twitter_url = "http://parallellabs.io/treatr.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"

= partial "layouts/header.slim"

/ content

.section.master-banner.casestudy.treatr-banner
  .overlay
    .banner-content
      h2.title
        | Spreading happiness made fun with treatr
      .members
        .member
          |<img src="images/Robin.jpg" alt="Robin" />
          |<span class="member-name">Robin</span>
          |<span class="role">Strategy and UX</span>

        .member
          |<img src="images/chaitanya.jpg" alt="Chaitanya" />
          |<span class="member-name">Chaitanya</span>
          |<span class="role">Interface Design</span>
      
      .stats
        .stat
          |<span class="numbers">6</span>
          |<span class="stat-text">Weeks</span>
        .slant
          
        .stat
          |<span class="numbers">35</span>
          |<span class="stat-text">Emails</span>
        .slant
          
        .stat
          |<span class="numbers">12</span>
          |<span class="stat-text">Skype Calls</span>
      
.section.new-home-content.casestudy-content
  p
    |Digital gifting is still at a very nascent stage in India and that’s where Treatr saw an opportunity to create a product which makes sending and redeeming gift cards a breeze as well as fun.
  |<img src="images/treatr/treatr-personalise.png"/>
  h2.PT-120
    |Getting Real - Redefining the Product to make it simple and practical<span class="border ML0-imp"></span>
  p
    |Treatr team already had very detailed wireframes of the entire workflow with tons of features and they were looking to build an MVP that too with a dev partner. That’s how we came into the picture.
  p 
    |Although it wasn’t what we were hired for, but like always we ended up questioning why behind the product architecture. So, over a series of product strategy workshops, we helped redefine the product, making it simpler by removing what was not needed in an MVP and bringing better ways of on-board and card redemption.

  h2.PT-120
    |Material Principle and not guidelines
  p 
    |With Google’s Material design becoming mainstream, it witnessed a mass adoption but soon all applications started looking same as designers were using the reference examples shared in Google’s design language. But material design is a design system which if applied intelligently can create interesting and distinct applications. Therefore, we decided to experiment by using material design principles and extended it with our own imagination.
  a.lightbox href="images/treatr/treatr-personalise.png" data-imagelightbox="f"
    |<img src="images/treatr/treatr-personalise.png"/>
  
  h2.PT-120
    |Illustrated Walkthroughs to evoke expression of sending gift
  p
    |Gifting is an emotive experience and the application needed to bring that for new users on-boarding the app. Hence, we developed the squirrel used in the Treatr logo as a mascot and extended it further to create illustrated walkthroughs, explaining features of the application.
  
  .walkthrough.switching.fancy
		a.lightbox href="images/treatr/treatr-w-01.png" data-imagelightbox="f"
			img src="images/treatr/treatr-w-01.png" alt="Illustrated Screens"/
		a.lightbox href="images/treatr/treatr-w-02.png" data-imagelightbox="f"
			img src="images/treatr/treatr-w-02.png" alt="Illustrated Screens"/
		a.lightbox href="images/treatr/treatr-w-03.png" data-imagelightbox="f"
			img src="images/treatr/treatr-w-03.png" alt="Illustrated Screens"/
		a.lightbox href="images/treatr/treatr-w-04.png" data-imagelightbox="f"
			img src="images/treatr/treatr-w-04.png" alt="Illustrated Screens"/
  
  h2.PT-120
    | Simple and sleek on-boarding
  p 
    | Although extremely simple and clean, we made these on-boarding screens look sleek with the right combination of colors, layout and typography.
  .img-flex
    img src="images/treatr/treatr-ob-01.png" alt="Treatr Screens"/
    img src="images/treatr/treatr-ob-02.png" alt="Treatr Screens"/
  
  h2.PT-120
    | Allowing redemption of cards instantly on phone without having to download app
  p 
    | To make redemption of gift cards easy and keep it secure, we create a mobile web workflow where users can redeem their cards by just entering a OTP sent to their mobile phones.
  
  .walkthrough.switching.fancy
  	a.lightbox href="images/treatr/treatrr-01.png" data-imagelightbox="g"
  		img src="images/treatr/treatrr-01.png" alt="Redemption of Gift Cards"/
  	a.lightbox href="images/treatr/treatrr-02.png" data-imagelightbox="g"
  		img src="images/treatr/treatrr-02.png" alt="Redemption of Gift Cards"/
  	a.lightbox href="images/treatr/treatrr-03.png" data-imagelightbox="g"
  		img src="images/treatr/treatrr-03.png" alt="Redemption of Gift Cards"/
  
  h2.PT-120
    | Personalizing gifts with picture and a voice message
  p 
    | To make the gift more personal and emotive, we created a personalised experience, comprising of the ability to add a picture and a voice message along with the gift.
  img src="images/treatr/treatr-personalise.png" /
  	

  
.section.new-home-content.interfaces
  .content-section
    h2
      |Screens at glance<span class="border"></span>
    .sky-carousel#sky-carousel-2
      img.phone src="images/phone.png"/
      .sky-carousel-wrapper
        ul.sky-carousel-container
          li
            img alt="Slider images" src="images/treatr/Category.png" /
            .sc-content
              p
                |Category
          li
            img alt="Slider images" src="images/treatr/ES-Favorites-Treats.png" /
            .sc-content
              p
                |Favorite Treats
          li
            img alt="Slider images" src="images/treatr/ES-My-Treats-Mine.png" /
            .sc-content
              p
                |My Treats
          li
            img alt="Slider images" src="images/treatr/Gift-Brought.png" /
            .sc-content
              p
                |Gift Brought
          li
            img alt="Slider images" src="images/treatr/Gift-Sent.png" /
            .sc-content
              p
                |gift sent
          li
            img alt="Slider images" src="images/treatr/Say-Thank-You.png" /
            .sc-content
              p
                |say thank you
          li
            img alt="Slider images" src="images/treatr/Nav-Drawer.png" /
            .sc-content
              p
                |nav drawer
          li
            img alt="Slider images" src="images/treatr/Order-Summary.png" /
            .sc-content
              p
                |order summary
          li
            img alt="Slider images" src="images/treatr/Splash.png" /
            .sc-content
              p
                |splash
          li
            img alt="Slider images" src="images/treatr/Home.png" /
            .sc-content
              p
                |home
          li
            img alt="Slider images" src="images/treatr/Payment.png" /
            .sc-content
              p
                |payment     
          li
            img alt="Slider images" src="images/treatr/Select-Friend.png" /
            .sc-content
              p
                |select friend
          li
            img.small alt="Slider images" src="images/treatr/Select-City.png" /
            .sc-content
              p
                |select city
          li
            img.small alt="Slider images" src="images/treatr/Personalise.png" /
            .sc-content
              p
                |personalise
          li
            img alt="Slider images" src="images/treatr/Treat-Code.png" /
            .sc-content
              p
                |treat code
          li
            img alt="Slider images" src="images/treatr/Treat-View-Code.png" /
            .sc-content
              p
                |view code
          li 
            img alt="Slider images" src="images/treatr/Treat-for-Friend.png" /
            .sc-content
              p 
                | Treat for friend
            

.section.new-home-content.clients.testimonial
  .casestudy-testimonial
    svg
      use xlink:href="/images/svgs/iconset.svg#icon-quote"
    
    img src="images/santosh.jpg" alt="Client image"/
    p.case
      | Explara has been working with Parallel Labs for design solutions since the day they started! 
    p.case
      |We are really grateful for their services, they operated as our own extended UX team during product conceptualisation to ideation and to multiple development iterations as well. Apart from User Experience for all our products, Parallel Labs also took care of interface designs for our mobile apps and web solutions. We are great fan of their work and reliability!
    h4
      | Santosh Panda, Explara
      
.section.new-home-content.project-nav
  a href="explara.html"
    .prev.box-shape
      .inside
        |<span class="project-name">EXPLARA</span>
        |<span class="project-desc">Event Solutions</span>
    .box2.FL-l
      svg
        use xlink:href="images/svgs/iconset.svg#icon-left-arrow"
      
  .fancy-line
    |See more awesome stuff
  
  a href="javascript:void(0);"
    .next.box-shape
      .inside
        |<span class="project-name">HOUSEJOY</span>
        |<span class="project-desc">HOME SERVICES</span>
    .box2.FL-r
      svg
        use xlink:href="images/svgs/iconset.svg#icon-right-arrow"
      
.section.new-home-content.tell-us
	.content
		h2
			| We would love to hear about your project.
		svg
			use xlink:href="images/svgs/iconset.svg#icon-filled-like" 
		p
			| Answer few questions to help us get a better context of your project and meaningful conversation.
		a.btn.new.open-form href="javascript:void(0);"
			.skewed.topaz
				span Get in touch

/ = partial "layouts/main_form.slim"
