---
layout: new_layout
---
- @title = "UI Designer | Join Team Parallel Labs"
- @description = "Do the best work of your life and work with a talented team on some really exciting UX design projects"
- @keyword = "Parallel Labs Careers , Design Careers, UI/UX Design Jobs,  UX Designer Jobs in Bangalore, UI Designer Job bangalore"
- @og_title = "Parallel Labs Blog"
- @og_description = "Article and Insights from Parallel Labs team on everything design"
- @og_url = "http://parallellabs.io/executive-assistant.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "Article and Insights from Parallel Labs team on everything design"
- @twitter_url = "http://parallellabs.io/executive-assistant.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"
/ content
.section
  .container.careers-title
    h1.scroll-on-page
      |<span class="pl-blue">UI </span>Designer
      span.helper Full Time &nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp; Bangalore
    p
      | Craft experiences that look as good as they work.

    h2
      | Is this you ? <span class="border ML0-imp"></span>
    ul.list
      li
        | You hate monotony of working on the same thing
      li
        | Your friends think you have a great aesthetic sense
      li
        | Your design benchmarks are very high
      li
        | You question the Status Quo and ask Why
      li
        | You are open to learning by constructive criticism
      li
        | You empathise with people and can read their mind
      li
        | You are passionate about design and love the idea of creating something people love

    h2
      | Your Arsenal should include... <span class="border ML0-imp"></span>
    ul.list
      li
        | Strong visual design skills and familiarity with Sketch and Photoshop
      li
        | 1-3 years experience working on designing mobile apps
      li
        | Familiarity with Material Design and iOS Guidelines
      li
        | Nag of UX Design Patterns for web and mobile
      li
        | Understanding of grids and UI design nuisances

    h2
      | Your mission here will be to... <span class="border ML0-imp"></span>
    ul.list
      li
        | Work on exciting consumer facing User Interface Designs
      li
        | Participate in UX Design workshops and discussions
      li
        | Experiment with new design conventions and trends
      li
        | Be involved in client interactions on their business and design feedback

    h2
      | Sounds Interesting ? <span class="border ML0-imp"></span>
    ul.list.style-typ-none
      li
        | Shoot an email to <a href="mailto:careers@parallellabs.io">careers@parallellabs.io</a> with your CV and why this profile interests you. Short-listed profiles will hear back from us within in a week
