---
layout: new_layout
---
- @title = "Visual Designer | Join Team Parallel Labs"
- @description = "Do the best work of your life and work with a talented team on some really exciting UX design projects"
- @keyword = "Parallel Labs Careers , Design Careers, UI/UX Design Jobs,  UX Designer Jobs in Bangalore, UI Designer Job bangalore"
- @og_title = "Parallel Labs Blog"
- @og_description = "Article and Insights from Parallel Labs team on everything design"
- @og_url = "http://parallellabs.io/visual-designer.html"
- @og_image = "http://parallellabs.io/images/svgs/logo.png"
- @twitter_title = "Parallel Labs Blog"
- @twitter_description = "Article and Insights from Parallel Labs team on everything design"
- @twitter_url = "http://parallellabs.io/visual-designer.html"
- @twitter_image = "http://parallellabs.io/images/svgs/logo.png"
/ content
.section
  .container.careers-title
    h1.scroll-on-page 
      span Visual Designer   
      span.helper Full Time &nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp; Bangalore   
      a.btn.scroll-on-page-link href="#apply_Form" 
          | Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
    p
      | Craft digital experiences that look as good as they work. 

    h2
      | We are looking for someone who:
    ul.list
      li 
        | Gets bored often working on the same stuff, and needs fresh challenges to keep the juices flowing. 
      li
        | Hates the status Quo and needs freedom to experiment and try bold designs
      li
        | Is a Quick Learner and has a perfect balance of left &amp; right brain
      li
        | Prioritizes craft over perks

    h2
      | Must Have:
    ul.list
      li 
        | 0 - 2 years of experience with designing layouts for Print/Web/Mobile Apps 
      li
        | Keen interest in User Experience Design
      li
        | Tech Savvy and knows Nougat is also an operating system
      li
        | Strong design fundamentals around typography, layout and colors.

    h2
      | What will you get:
    ul.list
      li 
        | Exciting Projects, we don’t take up anything that is boring and mediocre. 
      li
        | Get to work with a diverse team with Business, Design and Technical Skills
      li
        | An office space that provides a chilled out environment to think, do and unwind. Lots of sunlight, amazing view, X-box and lounge area.
      li
        | A pantry that’s always stacked with food. We also make our own Cappuccino with a lovely coffee maker :)
      li
        | Balanced work environment and flexibility in timings
      li
        | A macbook, high end monitors and latest software/tools.
    form.apply-form#apply_Form.jobForm2 action="#" method="post"
      .group
          input.textField#name type="text"
          span.highlight
          span.bar
          label Name
          p.message.msg1 Required
          svg.cross-icon.crossOne
            use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
      .group
          input.textField#email type="text"
          span.highlight
          span.bar
          label Email Address
          p.message.msg2 Required
          svg.cross-icon.crossTwo
            use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
      .group
          input.textField#behance type="text"
          span.highlight
          span.bar
          label Behance/Website Link
          p.message.msg4 Required
          svg.cross-icon.crossFour
            use xlink:href="images/svgs/iconset.svg#icon-delete_sign" 
      .group
          textarea.textField#additionalInfo 
          span.highlight
          span.bar
          label  
            | Cover letter
          .group.last
            input#attachment type="file" 
            label.fileupload for="attachment" 
              | Attach CV
            p.message.attach-msg1 Required.
            p.message.attach-msg Please enter valid file(.docx, .doc, .pdf, .jpg, .jpeg, .png) &lt; 5 MB.
            #filename.filename No files selected
      button.btn#submit type="submit" 
          | Apply <svg><use xlink:href="images/svgs/iconset.svg#icon-Right_Arrow"></use></svg> 
