---
layout: project_layout
---
- @title = "Zippr | Smart Location based collaboration for Meetups"
- @description = "Case Study of designing a that simplifies planning meetups & hanging out with friends."
- @keyword = "real time location sharing UX design, whatsapp location sharing, current location sharing"
- @og_title = "Designing an app to make organizing meetups simplers"
- @og_description = "Case Study of designing a that simplifies planning meetups & hanging out with friends."
- @og_url = "http://parallellabs.io/zippr.html"
- @og_image = "http://parallellabs.io/images/zippr/c-16.png"
- @twitter_title = "Designing an app to make organizing meetups simplers"
- @twitter_description = "Case Study of designing a that simplifies planning meetups & hanging out with friends."
- @twitter_url = "http://parallellabs.io/zippr.html"
- @twitter_image = "http://parallellabs.io/images/zippr/c-16.png"

/ content
.section.casestudy.zippr-banner
  .overlay
    .banner-content
      span.project-name
        |Zippr
      h2.title
        | Smart Location based collaboration for Meetups
      .members.team-indus
        .member
          |<img src="images/Robin.jpg" alt="Robin" />
          |<span class="member-name">Robin</span>
          |<span class="role">UX Design</span>

        .member
          |<img src="images/Bharat2.jpg" alt="Bharat" />
          |<span class="member-name">Bharat</span>
          |<span class="role">UX Design</span>

        .member
          |<img src="images/Juhi.jpg" alt="Juhi" />
          |<span class="member-name">Juhi</span>
          |<span class="role">UX Design</span>

        .member
          |<img src="images/chaitanya.jpg" alt="Chaitanya" />
          |<span class="member-name">Chaitanya</span>
          |<span class="role">UI Design</span>

.section.deliverables
  .deliverables-wrap
    div.deliverables-section
      span.name Android, iOS
      span Platforms
    div.deliverables-section
      span.name Strategy, UI, UX
      span Deliverables

.section.new-home-content.casestudy-content
  p.MB-60
    |Zippr is a location management startup, based in Hyderabad, India. Zippr has transformed how locations are referenced, shared and found by replacing the traditionally long address in India with an innovative 8-character digital address format. A variation of this format called DDN (Digital Door Number) is also being implemented by governments across major indian cities.
  p
    |Through Zippr, they were already making sharing of addresses easier by creating Zippr codes for locations but the app lacked stickiness and a reason for people to return to the app. So we had an amazing technology, power to reach to millions through partnerships with brands like Dominos, Pizza Hut and even governments but it didn’t facilitate engaging everyday use cases for sharing location.

.section.fullwidth.masonry-screens
  .grey-bg
  |<div class="uk-child-width-expand@s uk-text-center web-parallax" uk-grid-parallax data-uk-grid-parallax="{translate:10000}">
      <div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-01.png"/></div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-05.png"/></div>
          </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-02.png"/></div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-06.png"/></div>
          </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-03.png"/></div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-07.png"/></div>
          </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-04.png"/></div>
          <div class="uk-card uk-card-default uk-card-body uk-grid-margin owl-item"><img src="images/zippr/zpr-08.png"/></div>
          </div>
  |</div>

  |<div class="owl-carousel mobile-parallax" id="parallax-slider">
      <img src="images/zippr/zpr-01.png"/>
      <img src="images/zippr/zpr-05.png"/>
      <img src="images/zippr/zpr-02.png"/>
      <img src="images/zippr/zpr-06.png"/>
      <img src="images/zippr/zpr-03.png"/>
      <img src="images/zippr/zpr-07.png"/>
      <img src="images/zippr/zpr-04.png"/>
      <img src="images/zippr/zpr-08.png"/>
  |</div>

.section.new-home-content.casestudy-content
  p
    |We had an open problem statement to find innovative use cases of Zippr’s technology and build a platform which engages users and solves various scenarios around location.

  p.caption.MB-80
    |[Update Dec. 2017: With the real time location sharing feature on Whatsapp, Messenger, Google Maps and Uber, lot of use cases discussed in the app have now been solved]

  p.quote.zippr
    |We applied the Google sprint methodology to answer some crucial business questions, to build the first prototype and gain insight into customer needs.

  .sprint-boomer
    .screen
      |<img src="images/zippr/s-i-04.jpg" alt="zippr sprint"/>
    .screen
      |<img src="images/zippr/s-i-05.jpg" alt="zippr sprint"/>
    .screen
      |<img src="images/zippr/s-i-06.jpg" alt="zippr sprint"/>

  p.MB-80
    |We had an exciting problem to solve and we put together a sprint team with a very dynamic mix of people with skills in UX, Tech, Product Strategy, Marketing  and Maps. It was the perfect team for the job.

  p.quote.zippr
    |“Zippr is a smart location wallet to easily share/manage my favourite places for meetups and deliveries” <br> — a tweet encapsulating the product vision.

  p.MB-60
    |It was 5 days of high voltage action where we went right from understanding the company goals to prototyping and testing a product workflow. The use case that we decided to pursue for the sprint was to make Zippr the app to use for “planning a hangout”. It could be a house party with friends, a football match on a weekend or planning a movie/outing with friends.

  / a.zippr-read-block.MB-60 href="#"
  /   span.tag SPRINT STORY
  /   h1 Smart Location based collaboration for Meetups
  /   |<span class="link"> Read here <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" version="1.1" fill="#9db0c5"><g id="surface1" fill="#9db0c5"><path style=" " d="M 12.21875 2.28125 L 10.78125 3.71875 L 18.0625 11 L 2 11 L 2 13 L 18.0625 13 L 10.78125 20.28125 L 12.21875 21.71875 L 21.21875 12.71875 L 21.90625 12 L 21.21875 11.28125 Z " fill="#9db0c5"/></g></svg></span>

  p.MB-60
    |Based on the insights from the sprint, we began the process of refining the prototypes to a well defined product covering all use cases and a polished visual style that would appeal the audience. So, the new definition of Zippr was the go to app for millenials to plan a hangout. They could share their real time locations, view all their friends in real time in a radar view and use the app as a wallet of all the locations they have visited.

  p.quote.zippr
    |For the purposes of design, we used one particular use case — Person 1 (Chaitanya) invites Person 2 (Rakesh) for a party at their house.

  div.MB-80
    |<video id="zippr-video" muted class="b-lazy" autoplay="autoplay" loop="loop" data-src="https://player.vimeo.com/external/250259399.hd.mp4?s=e5214eaf2e6429e712f17ece1d822f033130f0f6&profile_id=174" src="https://player.vimeo.com/external/250259399.hd.mp4?s=e5214eaf2e6429e712f17ece1d822f033130f0f6&profile_id=174" width="800"></video>
    / img src="images/phone.png"
    / |<video id="zippr-video" class="b-lazy" loop="loop" autoplay="autoplay" data-src="https://player.vimeo.com/external/247755039.sd.mp4?s=cf137936e33bacccc25af5c319023585c26f7d08&profile_id=165" src="https://player.vimeo.com/external/247755039.sd.mp4?s=cf137936e33bacccc25af5c319023585c26f7d08&profile_id=165" width="200"></video>
    / |<iframe class="lazyframe bigvideo" data-vendor="vimeo" src="https://player.vimeo.com/video/250259399?autoplay=1&loop=1" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  p.MB-60
    |Zippr’s potential was explored through this use case and how its different features would come into play at different times of this encounter.
  p
    |<span class="bold">Easy Share &amp; Saving of Locations:</span> With Zippr, Rakesh has everything he needs to find Chaitanya’s residence. It was made ever more accurate through the use of added voice notes, images and last mile instructions. The idea of avoiding back and forth phone calls to pinpoint the address struck the audience as a great feature. Moreover, all the Zippr codes used by Rakesh are accessible to him from the homepage, a single click away.

.section.new-home-content.screens.citrus-screens
  div#citrus-slider.owl-carousel
    .screen
      |<img src="images/zippr/c-13.png" alt="cricbet screen"/>
    .screen
      |<img src="images/zippr/c-14.png" alt="cricbet screen"/>
    .screen
      |<img src="images/zippr/c-15.png" alt="cricbet screen"/>
    .screen
      |<img src="images/zippr/c-16.png" alt="cricbet screen"/>

.section.new-home-content.casestudy-content
  p
    |<span class="bold">New concept of chatting with the location:</span> Even if the provided details prove insufficient, Rakesh can initiate a chat with Person 1 asking any questions he might have. Chaitanya can add any number of other people to this chat who are expected to arrive for the occasion. This would solve the problem of Chaitanya having to repeat the same message to umpteen other people saving everyone some valuable time.

.section.fullwidth.zippr-background.zippr-1.MB-20
  img src="images/zippr/cs-zpr-05.png"

.section.new-home-content.casestudy-content
  p
    |<span class="bold">Radar View of all the people travelling to the Zippr code:</span> When Rakesh navigates through the app to a Zippr code, his location is made available to Chaitanya in real-time in the radar view. It gives Chaitanya a complete view of where his guests are and saves him the trouble of checking up on them individually.

.section.fullwidth.zippr-background.zippr-2.MB-20
  img src="images/zippr/cs-zpr-last.png"

.section.new-home-content.casestudy-content
  p
    |The design dictated by this use case was then expanded to encompass the plethora of different possibilities of usage of the app. Zippr was fine-tuned to serve any use case which involved people travelling from one location to another, whether it was a team gathering for a game of football, a person delivering food or even an interview appointment.

/ .section.new-home-content.project-nav
/   a href="pinknblu.html"
/     .prev.box-shape
/       .inside
/         |<span class="project-name">Pink N Blu</span>
/         |<span class="project-desc">Parents App</span>
/     .box2.FL-l
/       svg
/         use xlink:href="images/svgs/iconset.svg#icon-left-arrow"

/   .fancy-line
/     |See more awesome stuff

/   a href="treatr.html"
/     .next.box-shape
/       .inside
/         |<span class="project-name">TREATR</span>
/         |<span class="project-desc">DIGITAL GIFTING</span>
/     .box2.FL-r
/       svg
/         use xlink:href="images/svgs/iconset.svg#icon-right-arrow"


.section.new-home-content.project-nav
  a.a-prev-proj.talentify href="talentify.html"
    .prev-proj
      |<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 38"><path fill="#45D2CF" d="M17.953 0a2.026 2.026 0 0 1 1.882 1.21c.32.75.157 1.616-.414 2.194L7.47 16.012h78.506a1.99 1.99 0 0 1 1.75.991 1.98 1.98 0 0 1 0 2.014 1.99 1.99 0 0 1-1.75.992H7.469L19.42 32.616a1.997 1.997 0 0 1-.062 2.826 1.994 1.994 0 0 1-2.828-.062L0 18.01 16.53.64A2.011 2.011 0 0 1 17.954 0z"/></svg>
      span.name Talentify
      span Making young India skilled and employable

  a.a-next-proj.citrus href="citrus.html"
    .next-proj
      |<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 38"><path fill="#45D2CF" d="M70.047 0a2.026 2.026 0 0 0-1.882 1.21c-.32.75-.157 1.616.414 2.194L80.53 16.012H2.025a1.99 1.99 0 0 0-1.75.991 1.979 1.979 0 0 0 0 2.014c.36.625 1.032 1 1.75.992h78.506L68.58 32.616a1.997 1.997 0 0 0 .062 2.826 1.994 1.994 0 0 0 2.828-.062L88 18.01 71.47.64A2.011 2.011 0 0 0 70.046 0z"/></svg>
      span.name Citrus
      span P2P payments made social and fun

.section.new-home-content1.get-in-touch-section#cta
	.content-wrapper#cta-wrap.animation-element
		.get-in-touch-block
			.text
				.title Ready to make your products better?
				p We would love to know more about your product challenges & how sprints could help.
			/ .center-box
			a.test-button href="contact-us.html"
				span.dummy
				span.text GET IN TOUCH
